html, body {
    font-size: 1em;
    color: #000000;
	color: rgba(0,0,0,1);
    background-color: #fad991;
    /*background-color: #fabf3e;*/
}
img {
	max-width: 100%;
	border: 0;
	padding: 0;
}
h1, h2 {
    font-weight: normal;
    margin: 5px 0 5px 0;
    font-family: 'Playball', cursive;
}
a, a:visited {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #762825;
}
ul {
    list-style-type:circle;
}
#wrapper {
    overflow: hidden;
    width:1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px #000;
}
.opacizeme {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.9);
}
#header {
	height: 165px;
    width: 100%;
    background-color: #f9f2e3;
    background-color: rgba(249,242,227,1);
    background-image: url(../images/tappo3.png);
    background-repeat: no-repeat;
    background-position: 6% 40%;
    border-bottom: 5px solid #762825;
    border-bottom: 5px solid rgba(118,40,37,1);
    position: relative;
    z-index: 0;
}
#headerimage{
	float: left;
	margin: 0 4.6655556%;
	width: 11.5%;
	height: 165px;
	/*box-shadow: 0 0 10px #000000;
	border-radius: 0 0 15px 15px;*/
/*    border-bottom: 15px solid #762825;
	border-bottom: 15px solid rgba(118,40,37,1);*/
}
#name {
    float: right;
    margin: 0 2.0833333%;
    height: 165px;
    width: 70.8333333%;
    text-align: center;
    font-family: 'Playball', cursive;
	font-size: 1em;
	font-weight: normal;
    overflow: hidden;
}
#name h1{font-size: 3.625em;margin: 0;}
#name h2{font-size: 2.6875em;margin:-10px 0 0 0;}
#nav {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0;
}
#nav ul {
	width: 100%;
    position: relative;
	list-style-type:none;
	padding-left: 0;

}
#nav ul li{
	display:inline;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px -1px 5px black;
    margin: 0 1.666667%;
    padding: 10px 1.6666667%;
}
#nav ul li a, #nav ul li a:visited {
    font-size: 1.625em;
	text-decoration: none;
	color: #000000;
}
#nav ul li a:hover {
    color: #762825;
}

#main {
    float:left;
	width: 100%;
	height: 600px;
	background-color: white;
	position: relative;
    /*bottom:100px;*/
	z-index:0;
}
.index{
    background-image: url('rotate.php');
	background-repeat: no-repeat;
}
.bar {
    background-color: rgba(255,255,255,0.5);
    background-image: url('../images/homebar.jpg');
}
.trattoria {
    background-color: rgba(255,255,255,0.5);
    background-image: url('../images/homeristorante.jpg');
}
.foto {
    background-color: rgba(255,255,255,0.5);
    background-image: url('../images/homepiatti.jpg');
}
.news {
    background-color: rgba(255,255,255,0.5);
    background-image: url('../images/homenews.jpg');
}
.contatti {
}
.newsbox {
    float: right;
	width: 33.333333%;
	height: 100%;
	position: relative;
    background-color: #ffffff;
	background-color: rgba(255,255,255,0.5);
    text-align:justify;

}
.newsitem {
    height: 150px;
    overflow: hidden;
    padding: 15px 0;
    margin: 2.5%;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.newstitle {
    padding: 0 3.9473684%;
    font-size: 1em;
    font-weight:bold;
}
.newsdate {
    padding: 0 3.9473684%;
    font-size: 0.625em;
}
.newsbody {
    height: 105px;
    overflow:hidden;
    padding: 0 3.9473684%;
    font-size: 0.825em;
}
.newsbody img {
    margin-right: 10px;
}
.newsmore {
    padding: 5px 3.9473684% 0;
    font-size: 0.625em;
    text-align: right;
}
.newsheader {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.newscontainer {
    width: 100%;
    height: 520px;
}
.bignewsbox {
    width: 66.666667%;
    overflow: hidden;
    margin: 10px auto;
    padding: 20px 1.7241379%;
    background-color: #762825;
    color: #fff;
    text-align: justify;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    -o-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.bignewsbox img {
    float: left;
    margin: 0 1.7241379% 0 0;
}
.bignewsbox h1 {

}
.bignewsbox h5 {
    margin: 5px 0;
    font-weight: normal;
    color: #fff;
}
.bignewsbox h5 a, .bignewsbox h5 a:visited {
    color: #fff;
}
.bignewsbox h5 a:hover {
    text-shadow: 0 0 2px #fff;
}
.bignewsbox a {
	color: #fff;	
}
.bignewsbox a:hover {
	text-decoration: underline;	
}
.pagination {
	text-align: center;
	margin: 10px auto;
}
.pagination a {
	background-color: #762825;
	color: white;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
}
.current, .disabled {
	color: #762825;
	background-color: #fad991;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
}
.disabled {
	opacity: 0.5;
}
.caption {
    float:left;
    height:320px;
    width: 64.1666667%;
    color: #762825;
    text-shadow: 0px 0px 10px white,0px 0px 10px white,0px 0px 10px white,0px 0px 10px white;
    /*text-shadow: -2px -2px 0px black;*/
    /*text-shadow:    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
    padding: 265px 1.25% 15px 1.25%;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    background-color: #762825;
    background-color: rgba(255,255,255,0);
    text-align: left;
    position: relative;
    /*animation:myfirst 5s;
-moz-animation:myfirst 5s;
-webkit-animation:myfirst 5s;
-o-animation:myfirst 5s;*/
}
#main ul {
	margin: 0;
}
.mainleft {
	float: left;
	width: 25%;
	height: 100%;
	overflow: hidden;
}
.mainleft h1 {
	padding: 15px;
	text-align:center;
}
.mainleft p {
	padding: 15px 20px 15px 15px;
	margin: 0;
	text-align: justify;
}
.maincenter {
	float: left;
	width: 50%;
	height:600px;
	overflow: hidden;
}
.pdfdl {
    width: 32px;
    box-shadow: none;
    border: 0;
    vertical-align: bottom;
}
.bigpiccontainer {
	text-align: center;
	width: 565px;
    height: 486px;
	margin: 15px 5px 15px 15px;
}
.bigpiccontainer img {
	border: 5px solid #732726;
	box-shadow: 0 0 10px #000000;
	max-height: 470px;
}
#dishcontainer {
    text-align: center;
    margin: 15px;
    width:870px;
    height: 570px;
}
#dishcontainer img {
    border: 5px solid #732726;
	box-shadow: 0 0 10px #000000;
	max-height: 560px;
}
.maintext {
    position: relative;
    top: 0;
    text-align:center;
}
.maintext p a, .maintext p a:visited {
    font-family: 'Playball', cursive;
    text-decoration: none;
    font-size: 1.5em;
    color: #000;
}
.maintext p a:hover {
    text-shadow: 0 0 5px #fad991;
}
.thumb {
	float: left;
	width: 115px;
	margin:5px;
	border: 5px solid #732726;
	box-shadow: 0 0 10px #000000;
    height: 75px;
    overflow: hidden;

}
.amainright img {
	max-height: 93px;
}
.mainright {
	float: left;
	width: 290px;
    height: 575px;
	/*min-height: 100%;*/
	overflow: hidden;
	padding: 10px 5px;
}

.formbox {
    background-color: #732726;
    color: #ffffff;
    width: 232px;
    box-shadow: 0 0 10px #000000;
    margin: 5px 17px 5px 10px;
    padding: 15px;
}
.formbox table {margin-bottom: 10px;}
.formbox .btn {
     padding: 10px;
    width:120px;
    background: white;
    font-weight: 800;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}
.formbox .btn:hover {
    box-shadow: 0 0 5px #ffffff;

}
#cForm td {
    vertical-align: top;
}
#q1,#q2,#q3,#q4,#q5 {border:0;}
#q1:active,#q2:active,#q3:active,#q4:active,#q5:active {box-shadow: 0 0 5px #ffffff;}
#q1:focus,#q2:focus,#q3:focus,#q4:focus,#q5:focus {box-shadow: 0 0 5px #ffffff;}
@keyframes myfirst
{
0%   {background-color: rgba(255,255,255,0);}

100% {    background-color: rgba(255,255,255,0.5);}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background-color: rgba(255,255,255,0);}

100% {    background-color: rgba(255,255,255,0.5);}
}

#footer {
    position:relative;
    /*bottom: 100px;*/
    float:left;
	width: 97.5%;
	height: 130px;
    padding: 1.25%;
    border-top: 5px solid #762825;
    border-top: 5px solid rgba(118,40,37,1);
    background-color: #f9f2e3;
    background-color: rgba(249,242,227,1);
}
.logos{
    float:left;
    width: 19.6581197%;
}
.singlelogo {
    float:left;
    width: 43.4782609%;
    margin: 0 6.5217391% 15px 0;
}
.singlelogo a, #facebooklogo a {
    opacity: 1;
}
.singlelogo a:hover, #facebooklogo a:hover {
    opacity: 0.7;
}
.info {
    font-family: 'Playball', cursive;
    width:25.6410256%;
    margin-right:1.2820513%;
    float:left;
    text-align:center;
}
.services {
    padding: 25px 0 0 3.8376068%;
    width: 31.2051282%;
    float: left;
}
#scrollbarleft, #scrollbarleft_en {
	margin: 0;
	/*height:500px;*/
	position:relative;
	overflow: auto;
	padding:0 0px;
}
#scrollbarright {
    margin: 0;
	/*height:575px;*/
	position:relative;
	overflow: auto;
}