<table width="600px" style="margin:auto;" border="1">

   <caption><div align="center"><b>Messaggio ricevuto da Sito Internet il Caggio</b></div></caption> 

   <thead>
          <tr> 
                 <th width="20%">Contenuto:</th>
                 <th width="40%">Valore</th>
                 <th width="40%"></th>
          </tr>
   </thead>

   <tfoot>
          <tr> 
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
          </tr>

          <tr> 
                 <td ><b>Grazie. Agriturismo il Caggio</b></td>
                 <td ></td>
                 <td ></td>
          </tr>
   </tfoot>

   <tbody>
          <tr> 
                 <td >Nome</td>
                 <td ></td>
                 <td ></td>
          </tr>

          <tr> 
                 <td >Cognome</td>
                 <td >20.000</td>
                 <td >2.000</td>
          </tr>

          <tr> 
                 <td >Email</td>
                 <td >30.000</td>
                 <td >3.000</td>
          </tr>

          <tr> 
                 <td >Persone</td>
                 <td >40.000</td>
                 <td >4.000</td>
          </tr>

          <tr> 
                 <td >Camere</td>
                 <td >50.000</td>
                 <td >5.000</td>
          </tr>

          <tr> 
                 <td >Letto aggiuntivo</td>
                 <td >60.000</td>
                 <td >6.000</td>
          </tr>

          <tr> 
                 <td >Animali:</td>
                 <td >70.000</td>
                 <td >7.000</td>
          </tr>

          <tr> 
                 <td >nov</td>
                 <td >80.000</td>
                 <td >8.000</td>
          </tr>

          <tr> 
                 <td height="24" >dic</td>
                 <td >90.000</td>
                 <td >9.000</td>
          </tr>
   </tbody>
</table>
 