/* 
    Document   : stilelogin.css
    Created on : 1-ago-2012, 18.23.14
    Author     : Francesco Tanganelli bartrosso
    Email      : bartrosso@gmail.com
    Description:
        Stile del login sul pannello di controllo 
*/

root { 
    display: block;
}
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td, form, object, embed, article, aside, canvas, command, details, fieldset, figcaption, figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;}
   html{background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: ltr;
    font: 81.25%/1 arial,helvetica,sans-serif;}
html, body {
    height: 100%;
    min-width: 100%;
    position: absolute;
}
.corretto,
.errore {
  padding: 3px;
  text-align: center;
}
.corretto,
.errore {
  width: 200px;
  margin:auto;
  clear:both;
  font-weight: bold;
  border: 1px solid #349534;
  background: #C9FFCA;
  color: #008000;
}
.errore {
  border: 1px solid #CC0000;
  background: #F7CBCA;
  color: #CC0000;
}
.sign{float:right;
margin: 22px 35px;}
#footer{
    width:100%;
    height:35px;
    clear:both;
    border-top: solid 1px #EBEBEB;
    position:absolute;
background-color:white;
        bottom:0;
}

.inputs{
    width: 100%;
    margin: 0 0 22px 0;
}
table{width: 100%;}

.label{
    font-size: 14px;
    font-weight: bold;
    
}

.textInput,textarea{  /* General style for my inputs when they're not highlighted */
  width:320px;
  background-color:#FFFFFF;
  
}

#formlogin img{margin: auto;margin-top: 10%;margin-bottom: 10%;}

.inputHighlighted{  /* Highlighting style */
  background-color:#1f2648;
  color:#FFF;
  width:320px;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 20px 20px 20px 20px !important;
    border-right: 0px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
     padding: 20px 25px 15px;
} 
