/* 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

Title : Portfolio Layout
Author : Richard Carpenter 
URL : www.hv-designs.co.uk

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

*{
	padding:0;
	margin:0;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#272727;
	font-size: 12px;
	color: #7e7e7e;
	background-image: url(images/background.png);
	background-repeat: repeat-x;
}

.latest_img {
	border: 1px solid #575757;
	margin-left: 12px;
}

.img {
	border: 1px solid #575757;
	margin-left: 12px;
}

.title_color1 {color: #ffffff}
.title_color2 {color: #0390c5}

#latest_work {
	float: left;
	width: 570px;
	margin-top: 20px;
}

#content {
	width: 570px;
	margin: auto;
}

#latest_work_title {
	float: left;
	font-size: 18px;
}

#images {
	width: 552px;
	border: 1px solid #363636;
	float: left;
	background-color: #2d2d2d;
	margin-top: 7px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
}

#text{
	width: 552px;
	border: 1px solid #363636;
	float: left;
	background-color: #2d2d2d;
	margin-top: 7px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
}

#text p{

}

#div{
	width: 552px;
	border: 1px solid #363636;
	float: left;
	background-color: #2d2d2d;
	margin-top: 7px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
}
