@font-face {
  font-family: "Harabara";
  src: url('../Harabara.ttf') format("truetype");
}
#firstHeading {color:#c7121b;font-size:1em;}
#bodyContent p {color:#333333; font-size:0.875em;};
#map_canvas img {border:1px solid black;}
html, body {
    background-color: #000000;
	color: red;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	text-align: center;
}
img {
	border: 0;
	max-width: 100%;
}
p, h1, h2 {
	margin: 0;	
}
#container {
	behavior: url(PIE.htc);
	width: 97.9166666%;
	max-width: 1200px;
	margin: 25px auto;
	box-shadow: 0 0 50px #888888;
	float:left;
background-color: #000000;
padding-bottom: 50px;

}
#header {
	background-color: #ffffff;
	width: 100%;
 /*padding: 0 6.3829787%;*/
 float: left;
 

}
.logo {
	width: 43.6170212%;
	float:left;
	background-color: #ffffff;
	padding: 35px 3.1914894%;
}
.social {
	position: relative;
top: 62px;
width: 32px;
left: 169px;
}	

.menu {
/* background-color: #ffffff;*/
	float: right;
	width: 43.6170212%;
	height: 23px;
	padding: 0 3.1914894%;

}
.menu ul {
list-style-type: none;
margin: 0 auto 0;
padding: 0;
width: 100%;
}
.menu ul li a {
	float: left;	
	margin: 0 1.5%;
	text-decoration: none;
	text-align: center;
/*	background-color: #ffffff;*/
	color: #c7121b;
	text-transform: capitalize;
	font-size: 1em;
	border-top: 2px solid #ffffff;
}
.menu ul li a:hover {
 border-top: 2px solid #c7121b;

}
.menutop {
		max-width: 100%;
	height: 30px;
	margin: 90px auto 5px auto;
}
.menubottom {
/*	background-color: white;*/
	float: left;
	max-width: 100%;
/*	width: 93.6170212%;*/
	/*padding: 0px 3.1914894%;	*/
	height: 36px;
	}
#main {
float: left;
width: 100%;	

}
.content {
		width: 100%;

	background-color: #000000;

}
.rightContent {
	width: 43.6170212%;
	float:right;
	text-align: center;
	padding: 35px 3.1914894%;	
}
.rightContent h2 {
	color: #c7121b;
	margin-bottom: 15px;
}
.rightContent p {
	color: white;	
	text-align: justify;
	font-size: 0.875em;
}
.rightContent h3 {
	color: #c7121b;
	margin-bottom: 15px;
	font-family: "Harabara", sans-serif;
	font-size: 2em;
	font-weight: 100;
}
.leftContent {
		width: 43.6170212%;
	float:left;

	padding: 35px 3.1914894%;
}
.leftContent h3 {
	color: #c7121b;
	margin-bottom: 15px;
	font-family: "Harabara", sans-serif;
	font-size: 2em;
	font-weight: 100;
	text-align: left;
}
.shadow{behavior: url(PIE.htc);box-shadow: 0 0 20px white;}
.hBar {
	width: 43.6170212%;
	padding: 0 3.1914894%;	
	text-align: center;
	margin: 0 auto;
}
.smaller {font-size:0.625em;}
.disclaimer{font-size:0.75em; text-align: left;color: #ffffff;}
.fullContent {
	
}

.mooLoading {display: block;}
.mooShow {display: block;}
#footer {
	width: 100%;
float:left;
	text-align: center;
}
#footer p {
	width: 93.6170212%;
	padding: 10px 3.1914894%;
	font-size: 0.75em;	
	color: #ffffff;
	text-align: center;
}
#footer a {
	color: #ffffff;
	text-decoration: none;	
}

#footer a:hover {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 0 5px #ffffff;
}
.leftContent a {
	color: #ffffff;
	text-decoration: none;	
}

.leftContent a:hover {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 0 5px #ffffff;
}