html, body {
    background-color: #eee;
    color: #666;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
a:visited, a:hover {
    color: #666;
}
i {
    margin-right: 5px;
    font-size: 20px;
}
#container {
    width: 960px;
    margin: 0 auto;
}
#listingcontainer {
    display: table;
    clear: left;
}
#listing {
    width: 100%;
    display: table-row-group;
}
#listingheader {
    display: table-row;
}
#listingheader  div, #listing .listingcell {
    padding: 7px;
    display: table-cell;
    width: 33%;
}
#listingrow {
    display: table-row;
    height:32px;
}
h1#title {
    height: 64px;
    font-size: 32px;
    padding: 10px;
    float: left;
    margin: 0;
    font-family: 'Grand Hotel', cursive;
    letter-spacing: 1px;
}
#face {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    float: left;
}
#copy>h5 {
    font-family: 'Grand Hotel', cursive;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 14px;
}
