@import "partials/var";

$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "_normalize.scss";
html,body{height:100%;
          margin: 0;
          padding: 0;
          font-family: 'Roboto', sans-serif;}


.cover
{
    background-image:url('cover.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    width:100%;
    height:100%;
    min-height:100%;
    position:relative;
    clear:both;
}

.img-responsive{margin: auto;
}
#titolo{font-size:5em;
        font-weight: bold;
        color:white;
        text-align: center;
        text-shadow: 8px 8px 8px #000000;
}
#bandablu{
    width: 100%;
    background-color: rgba(0,125,187,0.350);
    position: absolute;
    height: 120px;
    bottom:0;
}
.separatore{
    size:1;
    width: 100%;
    height: 0;
    border:0;
}
#defaultCountdown{ 
    padding-top: 5px;
    height: 100px;}
#contatti{font-size:70px; text-align: center;  font-family: 'Roboto', sans-serif;font-weight: bold;padding-top: 20px;}
.bold{font-weight: bold;}
.contatti{font-size:12px;}

@media (max-width: 767px) {  
    body{min-width:280px; }
    #titolo{font-size:2em;} 
     .countdown-section{font-size: 0.8em;}
    #bandablu{height: 70px;}
#contatti{font-size:40px;}
body{min-height: 500px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    #titolo{font-size:2.8em;}
    .countdown-section{font-size: 1.2em;}
    #bandablu{height: 80px;}
    #contatti{font-size:50px;}
    body{min-height: 570px;}
}
@media (min-width: 992px) and (max-width: 1199px) {  #titolo{font-size:4em;} .countdown-section{font-size: 1.5em;}
#bandablu{height: 100px;}
#contatti{font-size:60px;}
    body{min-height: 600px;}
}
@media (min-width: 1200px) and (max-width: 1300px) {  .countdown-section{font-size: 2em;}
  body{min-height: 600px;}  }
@media (min-width: 1301px) { .countdown-section{font-size: 2em;}
body{min-height: 630px;}}