.clear{
	clear:both;
}

#form-container{
	padding:0;
	margin: 5% 100px;
}

.formRow {
	width: 100%;
	float: left;
}
.formLabel {
	width: 20%;
	float: left;
	text-align: right;
	padding: 15px 5px;
}
.formLabel > label {
	margin: 15px 0;
	padding: 5px;
	color: #fff;
	font-size: 1.5em;
}
.formField {
	width: 80%;
	float: left;
}
.formField > input[type="text"], .formField > textarea {
	border-left: 2px dashed #fff;
	border-bottom: 2px dashed #fff;
	border-top: 2px dashed #ff8c00;
	border-right: 2px dashed #ff8c00;
	padding: 5px;
	background-color: #ff8c00;
	width: 70%;
	height: 60px;
	margin: 15px 0;
	/*line-height: 3.75em;*/
	font-size: 3em;
	font-weight: bold;
	color: #fff;
}
.formField > textarea {
	height: 240px;
	margin: 15px 0;
	line-height: 1.875em;
	font-size: 1.5em;
	font-weight: normal;
}
.inset {
   -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

.formField > input[type="text"]:focus, .formField > textarea:focus {
	outline: none;
	border: 2px dashed #fff;
	background-color: #FF7900;
}
td{
	white-space:nowrap;
}

label{
	text-transform:uppercase;
	font-size:0.625;
	font-family:Tahoma,Arial,Sans-serif;
}

textarea{
	color:#404040;
	font-family:Arial,Helvetica,sans-serif;
	font-size:0.75em;
}

td > button{
	/* A special CSS selector that targets non-IE6 browsers */
	text-indent:8px;
}

.error{
	/* this class is used if JS is disabled */
	background-color:#AB0000;
	color:white;
	font-size:0.625em;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	text-transform:uppercase;
	width:300px;
}
#errOffset {
	float: right;
	width: 100px;
}
#loading{
	/* the loading gif is hidden on page load */
	position:relative;
	bottom:25px;
	left: 250px;
	visibility:hidden;
}

.tutorial-info{
	color:white;
	text-align:center;
	padding:10px;
	margin-top:10px;
}
.thanks {
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 2.25em;
	top: 100px;
}
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 2.25em;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 0.875em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
.button:focus {
	outline: none;
}
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
.button-flat:hover {
  background: #fbfbfb;
}
.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}
@media (max-width: 767px) {

}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	/*padding: 8% 20px 100px 20px;*/
	width: 80%;
	margin: 0 auto 0;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 30%;
	max-width: 800px;
	margin: 15% 1.5% 0;
	padding: 10px 0;
	text-align: center;
	position: relative;
	float: left;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 30% 10px;
	background: #0088cc;
	color: #ffffff;

}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}



.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ff8c00;
	color: #fff;
}
/*figcaption > h3 {
	font-size: 2em;
	line-height: 2em;
}*/
figcaption > p {
	/*font-size: 14px;*/
	font-family: 'Merriweather Sans',sans-serif;

}
p.role {
	/*font-size: 28px;*/
	margin: 0 0 25px;
	text-align: center;
}
/* Individual Caption Styles */

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.cs-style-4 figure > div {
	overflow: hidden;
	width:100%;
	position: relative;

}
.cs-style-4 figure > div > div {
	overflow: hidden;
	width:100%;
	position: relative;

}
.cs-style-4 figure img {
	position: relative;
	right:0;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

/*.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(62%);
	-moz-transform: translateX(62%);
	-ms-transform: translateX(62%);
	transform: translateX(62%);
}*/

.cs-style-4 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.single {
	width: 100%;
	height: 100%;
}
#navigationMap {
  position: fixed;
  right: 10px;
  top: 0;
/*  height: 150px;
  width:15px;*/
  z-index: 999; }
#navigationMap ul {
	overflow: hidden;
}
#navigationMap ul li {
	float:right;
	margin: 15px 0 0 15px;
}
#navigationMap ul li.return {
	clear: both;
}
#navigationMap ul li a {
	background-color: #ff8c00;
	height: 15px;
	width: 15px;
	float:left;
	border-radius: 2px;
}
#navigationMap .ascensorLinkActive {
  background: #0088cc; }

#navigationMap .ascensorLink:hover {
  background: #0088cc; }

#navigationMap .ascensorLinkNext {
	position: fixed;
	top: 20px;
	left: 20px;
}

#navigationMap .ascensorLinkPrev {
	position: fixed;
	top: 50px;
	left: 20px;
}

.option {
	margin-bottom: 12px;
}

.container {
	margin-top: 120px;
}
