.single {
	width: 100%;
	height: 100%;
}
#navigationMap {
  position: fixed;
  right: 10px;
  top: 0;
/*  height: 150px;
  width:15px;*/
  z-index: 999; }
#navigationMap ul {
	overflow: hidden;
}
#navigationMap ul li {
	float:right;
	margin: 15px 0 0 15px;
}
#navigationMap ul li.return {
	clear: both;
}
#navigationMap ul li a {
	background-color: #ff8c00;
	height: 15px;
	width: 15px;
	float:left;
	border-radius: 2px;
}
#navigationMap .ascensorLinkActive {
  background: #0088cc; }

#navigationMap .ascensorLink:hover {
  background: #0088cc; }

#navigationMap .ascensorLinkNext {
	position: fixed;
	top: 20px;
	left: 20px;
}

#navigationMap .ascensorLinkPrev {
	position: fixed;
	top: 50px;
	left: 20px;
}

.option {
	margin-bottom: 12px;
}

.container {
	margin-top: 120px;
}
