.pushup-form
{
	
	
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.pushup-form.left
{
	/*border-right: solid 2px #000;*/
}
.pushup-form.right
{
	/*border-left: solid 2px #000;*/
}
.clear
{
	clear: both;
}
.btn-close
{
	color: #ffffff;
	background-color: #0088cc;
    padding: 0 5px 0 0;
	font-size: 20px;
    line-height: 24px;
	text-align: center;
	cursor: pointer;

}
.btn-close.left
{
	float: right;
	margin-right: 15px;
}
.btn-close.right
{
	float: right;
	margin-left: 15px;
}
.btn-show
{
	color: #ffffff;
	background-color: #0088cc;
    padding: 0 5px 0 0;
	font-size: 20px;
    line-height: 24px;
    float: right;
	text-align: right;
	cursor: pointer;
	padding-top: 2px;
	margin-top: 10px;
}
.pushup-form
{
	z-index: 100; /*margin-right: -40px;*/
}
.btn-show
{
	z-index: 99;
}
#success
{
	color: #FFEF00;
	height: 30px;
}
p
{
	font-weight: normal !important;
}


