html, body {
    height: 100%;
    font-family: 'Noto Serif', serif;
    /*font-family: 'Average Sans', sans-serif;*/
    font-family: 'Gentium Book Basic', serif;
}
hr {
    border-top: 1px dotted rgba(0,101,177,0.2);
}
.sidemenu {
    padding-left: 0;
    padding-top: 0;
}
.sidemenu li {
    height: 60px;
}
.sidemenu li a {
    
}
.nav-header {
    font-size: 24.5px;
    text-transform: none;
    color: rgb(0, 136, 204);
    text-rendering: optimizelegibility;
    text-shadow: 0 0 0 #fff;
}
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}
.topspace {
    padding-top: 50px;
}
.logo {
    background-color: #ffffff;
}
.orange {
    background-color: #ff8c00;
}
.spazio {
    background-color: #ffffff;
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
/*background-color: rgba(0,101,177,0.5);*/
background-color: rgba(0,101,177,0);
border-bottom: 1px dotted rgba(0,101,177,1);
}
.nav>li>a>img {
    margin-right: 25px;
}
body {
    color: #0088cc;
}
.main {
    padding-top: 50px;
}
.titleBox h2 {
    border-bottom: 1px dotted rgba(0,101,177,1);
}
.teamPic {
    float: left;
}
.teamInfo {
    background-color: #ffffff;
    display:none;
    margin-left:0;
    
    float: left;
    color: #000000;
    padding: 5px;
    background-image: url('../images/pattern.png');
}
.push {
    height: 50px;
}
.footer {
    border-top: 1px dotted #0088cc;
    height: 99px;
    margin-top: 50px;
    /*background-color: rgba(255,140,0,0.2);*/
    
}
.footer p {
    padding: 10px 20px;
}
.credits p {
    font-size: 12px;
}
.visible {
    visibility: visible;
}
.invisible {
    display: block;
    visibility: hidden;
}

/* SOCIAL CUSTOMIZATIONS */

#twstream .stream {
    height: 100px;
}
.phm {
    overflow: hidden;
}
.pluginLikeboxStream {
overflow-x: hidden;
overflow-y: hidden;
}
.facebook {
    padding: 5px;
    height: 350px;
    /*border: 1px solid #3B5998;*/
    /*border-radius: 5px;*/
    
    box-shadow: 0 1px 2px #3B5998;
    border-radius: 5px 5px 0 0;
}
.twitter {
    padding: 5px;
    height: 350px;
    /*border: 1px solid #9ddff9;*/
    /*border-radius: 5px;*/
    box-shadow: 0 1px 2px #1AB2E8;
    border-radius: 5px 5px 0 0;
}

/* COLUMNS */

#columns, #columnsP {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 15px;
	column-fill: auto;
    padding: 5px;
}

.pin {
	display: inline-block;
	background: #ffffff;
	box-shadow: 0 1px 2px #0065b1;
    margin: 0 5px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 0;
	border-radius: 5px 5px 0 0;
    overflow:hidden;
	opacity: 1;
    padding-bottom: 10px;
	

}
.pinP {
	display: inline-block;
	background: #ffffff;
	box-shadow: 0 1px 2px #0065b1;
    -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 5px;
    margin: 15px;
    opacity: 1;
}
.pin img, .pinP img {
	width: 100%;
	/*border-bottom: 1px solid red;*/

}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: rgb(0, 136, 204);
	margin: 0;
    padding: 0 10px;
    background-color: #fff;
}
.vyes{display: block;}
.vno {display: none;}
#alessandra {
    width:100%;
    background-image: url('../images/ppl/pplglum_02.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
	background-position: top center;
	background-repeat: no-repeat;
    min-height: 280px;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#alessandra:hover {
    background-image: url('../images/ppl/pplglum_01.jpg');
}
#cesare {
    width:100%;
    background-image: url('../images/ppl/cesare_b.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
	background-position: top center;
	background-repeat: no-repeat;
    min-height: 220px;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#cesare:hover {
    background-image: url('../images/ppl/cesare_o.jpg');
}
#gennaro {
    width:100%;
    background-image: url('../images/ppl/pplglum_06.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
	background-position: top center;
	background-repeat: no-repeat;
    min-height: 250px;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#gennaro:hover {
    background-image: url('../images/ppl/pplglum_05.jpg');
}
#michele {
    width:100%;
    background-image: url('../images/ppl/pplglum_08.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
	background-position: top center;
	background-repeat: no-repeat;
    min-height: 270px;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#michele:hover {
    background-image: url('../images/ppl/pplglum_07.jpg');
}
#nicola {
    width:100%;
    background-image: url('../images/ppl/pplglum_10.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
	background-position: top center;
	background-repeat: no-repeat;
    min-height: 210px;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#nicola:hover {
    background-image: url('../images/ppl/pplglum_09.jpg');
}
#david {
    width:100%;
    background-image: url('../images/ppl/pplglum_12.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
	background-position: top center;
	background-repeat: no-repeat;
    min-height: 280px;
    -webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
#david:hover {
    background-image: url('../images/ppl/pplglum_11.jpg');
}
.pin h1 {
    font-size: 30px;
    padding:0 10px;
}
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	#columnsP {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
        -moz-column-count: 3;
		column-count: 3;
	}
	#columnsP {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
    
}
#columnsP:hover .pinP:not(:hover) {
	opacity: 0.4;
    
}
.contactmap  {
    background-image: url('../images/mappaglum06.png');
background-size: contain;
background-repeat: no-repeat;
    min-height: 520px;
    overflow:hidden;
}
.contacttext {

    float: right;
    padding-left: 72px;
    margin-right: 0;
   /* position: relative;
    left:0;
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;      */    
}
.contacttext p {
    float:right;
    clear: both;
    margin: 3px 0;
    padding: 0 5px 0 50px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background-color: #0088cc;
  

}
.contacttext a, .contacttext a:visited {
    color: #fff;
    text-decoration: underline;
}

.contacttext:active {
    /*-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);*/
}
