/* 
	Document   : style
	Created on : Aug 22, 2013, 2:45:18 PM
	Author     : Cezza
	Description: This is the new style for the post-summer version, hoping will be the last one.
*/

@font-face
{
font-family: sketch;
src: url('Sketch_Block.ttf');
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	line-height: normal;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	font-family: 'Helvetica', sans-serif;
		background-color: #fff;
	color: #0088cc;
	width: 100%;
	height: 100%;
	font-size:100%;
	-webkit-text-size-adjust: none;
}
body{
	font-size:16px;
	line-height: 16px;
}
body.homegrey {
	background-color: #d3d2d3;
}
#main {display:none;}
.ui-mobile-viewport {
	-webkit-transform: translate3d(0,0,0);
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}
a, a:hover, a:visited, a:active {
	color: inherit;
}
p {
	text-align: justify;
}
h1, h2, h3 {
	font-family: 'sketch', sans-serif;
}
h1 {
	font-weight:100!important;
}
.homebox {
	width: 25%;
	height: 33.333333%;
	overflow: hidden;
	opacity: 1;
	/*background-size: 100%;*/
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	-ms-behavior: url(/backgroundsize.min.htc);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
}
.hl:hover {
	opacity: 0.8;
}
.hb_content {
	width: 100%;
	height: 85%;
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	-ms-behavior: url(/backgroundsize.min.htc);
}
.hb_title {
	width: 100%;
	height: 15%;
}
.hb_title>p {
	border-top: 2px solid #0088cc;
	position: relative;
	color: #08c;
	float: left;
	left: 0;
	top: 5px;
	padding: 3px 0 0 3px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight:700;
}
.content {
	margin: 0 auto;
	background-color: #fff;
	width: 75%;
	max-width: 1170px;
}
.content h1 {
	font-size: 4em;
	text-align: left;
	color: #ff8c00;
	margin-top: 15%;
}
.content p {
	font-size: 2em;
	font-family: 'Merriweather Sans', sans-serif;
	letter-spacing: -1px;
}
.homeboxin {
	width: 100%;
	height: 100%;
	border-radius: 7px;
	background-color: #fff;
	overflow: hidden;
	opacity: 1;
	/*background-size: 100%;*/
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
}
#one {
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 6px;
	padding-left: 6px;
}
#onein > .hb_content {
	background-image: url("../img/reclame.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#two {

	-ms-behavior: url(/backgroundsize.min.htc);
	top: 0;
	float: left;
	left: 25%;
	position: absolute;
	padding-top: 6px;
}
#twoin {
	background-image: url("../img/send.png");
	background-size: contain;
	background-position: center center;
	background-color: #ff8c00;
}
#twoin .hb_content {
	cursor: pointer;
}
#twoin #backhome {
	cursor: pointer;
}
#twoin>.hb_title>p {
	border-top: 2px solid #fff;
	color: #fff;
}
#three {
	/*background-image: url("../img/contatti.jpg");  */
	top: 0;
	left: 50%;
	position: absolute;
	padding-top: 6px;
}
#threein > .hb_content {
	padding: 5% 10px;
}
#threein>.hb_content>p {
	color: #fff;
	background-color: #0088cc;
	text-align: right;
	padding: 3px 3px 3px 20px;
	float: right;
	margin-bottom: 7px;
	clear: both;
	/*font-size: 20px;
	line-height: 24px;*/
	font-size: 0.875em;
	line-height: 14px;
}
p#iva {
	font-size: 0.75em;
	line-height: 0.875em;
	color: #0088cc;
	background-color: transparent;
	text-align: center;
}
#four {
	top: 0;
	left: 75%;
	position: absolute;
	-ms-behavior: url(/backgroundsize.min.htc);
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 6px;
	padding-right: 6px;
}
#fourin > .hb_content {
	background-color: #fff;
	background-image: url("../img/cover_portfolio.jpg");
	background-size: cover;
}
#five {
	padding-left: 6px;
	top: 33.333333%;
	left: 0;
	position: absolute;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#fivein > .hb_content {
	background-image: url("../img/plagio1.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
#six {
	/*background-image: url("../img/glumlogo.png");
	background-position: center;*/

	top: 33.333333%;
	left: 25%;
	position: absolute;
}
#sixin > .hb_content {
	background-color: #fff;
	background-image: url("../img/glumcrop.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#seven {

	top: 33.333333%;
	left: 50%;
	position: absolute;

}
#sevenin {
	background-color: #0088cc;
}
#sevenin a {
	text-decoration: none;
	position: absolute;
	bottom: 5%;
	right: 5%;
	font-size: 50px;
	color: white;
}
#sevenin a img {
	width: 20px;
}
#eight {
	padding-right: 6px;
	top: 33.333333%;
	left: 75%;
	position: absolute;
}
#eightin > .hb_content {
	background-image: url("../img/communicate.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#nine {
	padding-left: 6px;
	padding-bottom: 6px;
	top: 66.666666%;
	left: 0;
	position: absolute;
}
#ten {
	padding-bottom: 6px;
	top: 66.666666%;
	left: 25%;
	position: absolute;
}
#tenin > .hb_content {
	background-color: #fff;
	background-image: url("../img/progetto1logo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#eleven {
	padding-bottom: 6px;
	top: 66.666666%;
	left: 50%;
	position: absolute;
}
#elevenin > .hb_content {
	background-image: url("../img/people.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#twelve {
	padding-bottom: 6px;
	padding-right: 6px;
	top: 66.666666%;
	left: 75%;
	position: absolute;
}
#twelvein {
	background-image: url("../img/twelve.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-ms-behavior: url(/backgroundsize.min.htc);
}
#backhome {
	font-family: 'sketch', sans-serif;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight:700;
	position: absolute;
	top: 25px;
	left: 25px;
	border: 1px solid #ff8c00;
	border-radius: 3px;
	padding: 7px 5px 5px;
	font-size: 1.25em;
	line-height: 20px;
	z-index: 999;
}
#backhome a {
	color: #0088cc;
	text-decoration: none;

}
#sectionName {
	font-family: 'sketch', sans-serif;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight:700;
	position: fixed;
	right: 0;
	bottom: 25px;
	padding: 15px 25px 0 0;
	border-top: 2px solid #0088cc;
	z-index: 999;
}
#contatti {

}
#contatti > h1 {
	margin-top: 75px;
}
.contactmap  {
	background-image: url('../img/mappaglum.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
	-ms-behavior: url(/backgroundsize.min.htc);
	/*min-height: 685px;*/
	overflow:hidden;
	width:70%;
	float:left;
	margin-bottom: 25px;
}
.contactimage {
	position: relative;
	bottom: 190px;
	left: 0;
	z-index: 100;
}
#contactSlide {
	overflow: hidden;
	position: relative;
	top: 0;
	right: 0;
	z-index: 200;
}
.contacthours {
	float:left;
	width: 30%;
	padding-left: 25px;
}
.contacthours > h2 {
	font-size: 2em;
	border-bottom: 2px solid #ff8c00;
	text-align: left;
	padding: 0 0 0 10px;
}
.contacthours > p {
	font-size: 1.25em;
	color: #0088cc;
	padding: 10px 0 0 10px;
}
.contactdir {
	width: 50%;
	float: left;
	padding: 0 10px;
}

.contactdir > h2 {
	font-size: 2em;
	color: #ff8c00;
	border-bottom: 2px solid #0088cc;
	text-align: left;
	padding: 0 0 0 10px;
}
.contactdir > p {
	font-size: 1em;
	color: #0088cc;
	padding: 10px 0 0 10px;
}
.contacttext {

	float: right;
	padding-left: 72px;
	margin-right: 0;
   /* position: relative;
	left:0;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;      */    
}
.contacttext p {
	float:right;
	clear: both;
	margin: 3px 0;
	padding: 0 5px 0 50px;
	font-size: 1.25em;
	line-height: 24px;
	color: #fff;
	background-color: #0088cc;
  

}
.contacttext a, .contacttext a:visited {
	color: #fff;
	text-decoration: underline;
}
#contactSlide {

}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../img/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}
.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:focus>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>li>a:focus>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:focus>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"],.dropdown-submenu:focus>a>[class*=" icon-"]{background-image:url("../img/glyphicons-halflings-white.png");}
.icon-info-sign{background-position:-120px -96px;}
.icon-remove{background-position:-312px 0;}
.socialbox {
	width:50%;
	margin: 0 auto;
	position: relative;
	top: 12%;
	overflow: hidden;
}
h1.mediatype {
	font-size: 3em;
	text-align: right;
	color: #ff8c00;
	margin-top: 30px;
}
h2.mediaurl {
	font-size: 1.25em;
	font-family: Helvetica, sans-serif;
	text-align: right;
}
.mediaurl a, .mediaurl a:visited {
	text-decoration: none;
}
 .mediaurl a:hover {
	color: #ff8c00;
}
.imgContainer {
	text-align: center;
	margin-top: 8%;
}
.sociallogo {
	float:left;
	width: 46%;
	padding: 0;
	margin: 2%;
	overflow: hidden;
	border-radius: 5px;
}
/*.fb{
	box-shadow: 0 0 10px #004088;
}
.gp {
	box-shadow: 0 0 10px #F14724;
}
.yt{
	box-shadow: 0 0 10px #FF2025;
}
.tw {
	box-shadow: 0 0 10px #00ABE3;
}*/
#progetto1 {
	background-image: url('../img/progetto1bg.png');
	background-position: 0% 100%;
	background-repeat: repeat-x;
	bottom: 64px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.progettoLogo {
	padding: 120px 0 30px;
	width: 25%;
	float:left;
}
.progettoUrl {
	width:75%;
	float: left;
	padding: 200px 0 30px;
}
.progettoUrl a, .progettoUrl a:visited {
	font-size: 2em;
	font-family: 'sketch', sans-serif;
	text-decoration: none;
}
.progettoUrl a:hover {
	color: #ff8c00;
}
.progettoMain {
	float: left;
}
.progettoMain p {
	font-size: 1.25em;
}
figcaption > h3 {
	font-size: 2.125em;
	line-height: 1em;
	font-weight: 400;
}
figcaption > p.role {
	font-size: 1.25em;
	line-height: 1em;
	font-weight: 400;
}

/* GOING RESPONSIVE */

@media (max-width: 479px) {
	.grid li {
		display: inline-block;
		width: 40%;
		max-width: 800px;
		margin: 10% 30% 0;
		padding: 10px 0;
		text-align: center;
		position: relative;
		float: left;
	}
	#navigationMap ul li {
		float:right;
		margin: 8px 0 0 8px!important;
	}
	#navigationMap ul li.return {
		clear: both;
	}
	#navigationMap ul li a {
		background-color: #ff8c00;
		height: 8px;
		width: 8px;
		float:left;
		border-radius: 2px;
	}
		.formLabel, .formField {
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 1201px) {
	body {
		font-size: 16px;
	}
}
@media (max-width: 1200px) {
	#three p {
		padding: 5px 5px 5px 15px;
	}
}
@media (max-width: 930px) {
	#three p {
		padding: 5px 5px 5px 5px;
	}
	figcaption > h3 {
	font-size: 1.75em;
	line-height: 1em;
	font-weight: 400;
}
	figcaption > p.role {
	font-size: 1em;
	line-height: 1em;
	font-weight: 400;
	}
}
@media (max-width: 767px) {
	body {
		/*font-size: 12px;*/
	}
	#backhome {
		top: 5px;
		left: 5px;
		/*font-size: 0.75em;*/
		padding: 5px 3px 3px;
		line-height: 16px;
	}
	#navigationMap {
		top: 5px;
		right: 5px;
	}
	#sectionName {
		bottom: 5px;
		padding: 5px 10px 0 0;
		/*font-size: 0.75em;*/
	}
	.content p {
		/*font-size: 0.75em;*/
	}

 /* THREE */
 
	#three > .hb_content {
	   padding: 3% 1px;
   }
   #three p {
	   padding: 1px;
	   margin-bottom: 2px;
	   /*font-size: 0.375em;*/
	   line-height: 10px;
   }
   #iva {
	   /*font-size: 0.5em;*/
	   line-height: 10px;
   }
   #contatti {
	   padding: 0;
   }
   #contatti > h1 {
	   margin-top: 32px;
	   padding-left: 5px;
   }
   .contacthours {
	   padding-left: 10px;
   }
   .contacthours h2 {
	   /*font-size: 1em;*/
	   padding-left: 5px;
   }
   .contacthours > p {
	   /*font-size: 0.5em!important;*/
	   padding: 5px;
   }
   .contactmap {
	   margin-bottom: 2px;
   }
   .contactdir {
	   padding: 0 5px;
   }
   .contactdir > h2 {
	   /*font-size: 1em;*/
   }
   .contactdir > p {
	   /*font-size: 0.5em!important;*/
	   padding: 5px;
   }
   .contacttext p {
	   padding: 1px 5px 1px 25px;
	   margin-bottom: 2px;
	   /*font-size: 0.75em!important;
	   line-height: 0.875em!important;   */


   }
	.homebox {
		/*min-width: 118px;*/
	}
	.homebox h2 {
		/*font-size: 0.375em;*/
		bottom: 2px;
		padding: 3px 0px 0px 2px;
		border-top: 1px solid #0088cc;
	}


/* FORM */
	#form-container {
		margin: 0;
		padding: 38px 0 0;
	}
	.formLabel {
		padding: 5px;
	}
	/*.formLabel > label {
		font-size: 0.75em;
	}*/
	.formField > input[type="text"], .formField > textarea {
		height: 30px;
		margin: 5px 0;
		line-height: normal;
		font-size: 1.5em;
		font-weight: normal;
		border-width: 1px;
		color: #fff;
	}
	.formField > textarea {
		height: 90px;
		margin: 5px 0 15px;
		border-width: 1px;
		line-height: normal;
		font-size: 1em;
		font-weight: normal;
	}
	.formField > input[type="text"]:focus, .formField > textarea:focus {
		outline: none;
		/*box-shadow: 0 0 10px #ffffff;*/
		border: 1px dashed #fff;
		background-color: #FF7900;
	}
	.button {
		font-size: 0.8125em;
		height: 20px;
		line-height: 20px;
		padding: 0 15px;
	}
	.content {
		margin: 0 auto;
		padding: 64px 0;
	}
	.content h1 {
		font-size: 1.5em;
		margin-top: 5%;
	}

	/* SIX */

	p#iva{
		font-size: 0.5em;
	}

	/* TEN */

	#progetto1 {
	margin: 0 auto;
	bottom: 30px;
	}
	.progettoLogo {
		padding: 2px 0 0;
		width: 15%;
	}
	.progettoUrl {
		width:85%;
		float: left;
		padding: 30px 10px 0;
	}
	.progettoUrl a, .progettoUrl a:visited {
		font-size: 1.25em;
		font-family: 'sketch', sans-serif;
		text-decoration: none;
	}
	.progettoUrl a:hover {
		 color: #ff8c00;
	 }
	.progettoMain {
		float: left;
	}
	.progettoMain p {
		font-size: 1em;
	}

	/* ELEVEN */

	.grid figcaption {
		padding: 15% 5px;
	}
	/*figcaption > h3 {
		font-size: 3em;
		line-height: 3em;
	}
	p.role {
		font-size: 0.875em;
		font-family: 'Merriweather Sans', sans-serif;
	}
    #two {left:33.333333%}
	#three {left: 66.666666%;}
	#four {left:0; top: 25%;}
	#five {left: 33%; top: 25%;}
	#six {left: 66%; top: 25%;}
	#seven {left: 0; top: 50%;}
	#eight {left: 33%; top: 50%;}
	#nine {left: 66%; top: 50%;}
	#ten {left: 0; top: 75%;}
	#eleven {left: 33%; top: 75%;}
	#twelve {left: 66%; top: 75%;}*/
}
@media (max-height: 639px) {
		.hb_title {
			width: 100%;
			height: 15%;
			min-height: 30px;
			position: relative;
			bottom: 10px;
		}
		#threein > .hb_content {
			padding: 8px;
		}
}
@media (max-height: 479px) {
	#three p {
		margin-bottom: 5px;
		clear: both;
		font-size: 0.75em;
		line-height: 7px;
	}
}
@media (max-height: 319px) {
	#three p {
		margin-bottom: 2px;
		clear: both;
		font-size: 0.75em;
		line-height: 7px;
	}
	.hb_title {
		bottom: 18px;
	}
}
@media (max-height: 279px) {
	#three p {
	margin-bottom: 2px;
	clear: both;
	font-size: 0.625em;
	line-height: 4px;
	}
	.homebox h2 {
		font-size: 12px;
	}
}
