html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size:16px;
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: underline;
	color: inherit;
}
a:hover, a:visited {
    text-shadow: 1px 1px 2px #333333;
}
#wrapper {
    width: 1024px;
    margin: 0 auto;
    /*min-height: 1024px;
    overflow: hidden;*/
}
header {
    width: 100%;
    margin: 15px auto;
    float:left;
}
#hleft {
    width: 10%;
    float: left;
    height: 50px;
    background-color: #ff8c00;    
}
#hright {
    width: 65%;
    float: left;
    height: 50px;
    background-color: #ff8c00;
}
#hright p {
    height: 18px;
    margin-top: 32px;
    vertical-align: bottom;
    font-size: 20px;
    text-align: center;
}
#hmiddle {
    width: 18%;
    float: left;
    padding: 0 3.5%;
}
#main {
    width: 100%;
    float: left;
}
.left, .right {
    width: 50%;
    min-height: 500px;
    float:left;
    color: #0065b1;
}

#homeleft {
    /*background-image: url(../images/homebg.png);
    background-repeat: no-repeat;*/
}
.ptophome {
    margin: 0 0 10px;
    font-size: 1.325em;
}
.pbottomhome {
    margin: 0 0 10px;
    font-size: 1.125em;
}
footer {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #0065b1;
    margin: 15px auto;
}
footer p {
    line-height: 20px;
    margin: 5px auto;
    text-align: center;
    font-size: 0.825em;
}