html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: sans-serif;
	color: #000;
	width: 100%;
	height: 100%;
	font-size:14px;
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
#wrapper {
    width: 85%;
    padding: 0 5.5%;
    margin: 0 auto;
    overflow: hidden;
}
#header {
    width: 100%;
    padding: 25px 0;
    height: 210px;
}
.hleft {
    width: 35%;
    height: 300px;
    float: left;
}
.hright {
    width: 65%;
    float: left;
    height: 300px;
}
.h23b {
    width: 70%;
    height: 32px;
    float: left;
    border: 2px solid #3168b9;
    border-radius: 5px;
}
.h13b {
    width: 28%;
    height: 32px;
    float: left;
    border: 2px solid #3168b9;
    border-radius: 5px;
}
.hlabelb {
    text-align: left;
    color: #3168b9;
    font-size: 10px;
    padding: 1px 3px;
}
.hlabelo {
    text-align: left;
    color: #3168b9;
    font-size: 10px;
    padding: 1px 0;
}
.h33o {
    width: 98.8%;
    float: left;
    margin: 10px auto;
    border: 2px solid #f5852c;
    border-radius: 5px;
}
.hfield33 {
    width: 100%;
    height: 32px;
    border-bottom: 2px dashed #f5852c;
    float: left;
}
#main {
    width: 100%;
    float: left;
}
.mainheadl {
    width: 78%;
    height: 16px;
    padding-top: 4px;
    float: left;
    text-align: center;
    background-color: #3168b9;
    color: #ffffff;
    font-size:12px;
    border-radius: 10px;
    border-left:   5px solid #3168b9;
    border-right: 2px solid #3168b9;
    box-shadow: inset 0 0 0 1000px gold;
}
.mainheadr {
    width: 20.2%;
    height: 16px;
    padding-top: 4px;
    float: left;
    text-align: center;
    background-color: #3168b9;
    color: #ffffff;
    font-size:12px;
    border-right: 5px solid #3168b9;
    border-radius: 10px;
}
.mainfieldl {
    width: 78%;
    height: 36px;
    float: left;
    text-align: left;
    background-color: #fff;
    border-left: 5px solid #3168b9;
    border-bottom: 2px dashed #3168b9;
    border-right: 2px dashed #3168b9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mainfieldr {
    width: 20.2%;
    height: 36px;
    float: left;
    text-align: left;
    background-color: #fff;
    border-right: 5px solid #3168b9;
    border-bottom: 2px dashed #3168b9;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.mainbottomlb, .mainbottomlo {
    width: 78%;
    height: 36px;
    float: left;
    font-size: 12px;
    text-align: right;
    border-top: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom: 2px dashed #ffffff;
    border-right: 2px dashed #ffffff;
}
.mainbottomr {
    
}
.mainbottomrb {
    width: 20.2%;
    height: 36px;
    float: left;
    color: #3168b9;
    font-size: 12px;
    text-align: left;
    border: 2px solid #3168b9;
    border-radius: 5px;
}
.mainbottomro{
    width: 20.2%;
    height: 36px;
    float: left;
    color: #3168b9;
    font-size: 12px;
    text-align: left;
    border: 2px solid #f5852c;
    border-radius: 5px;
}
.mainbottomlb p, .mainbottomrb p {
    color: #3168b9;
    padding: 20px 5px 0;
    height: 16px;
}
.mainbottomlo p, .mainbottomro p {
    color: #f5852c;
    padding: 20px 5px 0;
    height: 16px;
}
#footer {
    width: 98.6%;
    float: left;
    margin: 50px auto;
    border: 2px solid #3168b9;
    border-radius: 5px;
    padding-bottom: 100px;
}
#footer p {
    font-size: 12px;
    text-align: left;
    color: #3168b9;
    text-decoration: underline;
    padding: 5px;
}
.footerrow p {
    float: left;
    font-size: 12px;
    text-align: left;
    color: #3168b9;
    text-decoration: none!important;
    padding: 5px;
}
.square {
    width: 16px;
    height: 16px;
    float: left;
    border: 2px solid #3168b9;
    border-radius: 5px;
}
.footerrow {
    height: 20px;
    text-align: center;
    margin: 25px auto;
    padding-left: 15%;
}