html, body {
	font-family: Helvetica, sans-serif;
}
body {
	background-color: #333333;
	color: #ffffff;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	max-width: 100%;

}
a, a:visited, a.hover {
	text-decoration: none;	
}

#main{
	margin: 25px auto;
	width: 1000px;
	height: 100%;
	background-color: #5f5f5f;

	float: left;
	box-shadow: 0 5px 5px #222222;
	
}
#header {
	width: 980px;
	float: left;
	margin: 0 0 20px 0;
	border-bottom: 1px solid;

box-shadow: 0 1px 2px #DDD;
padding: 10px 10px;
}

#footer {
	width: 1000px;
 float: left;
 padding: 0 10px;
	margin: 0px 0 0px 0;

}
.logo {
	float: left;	
}

#container {
	padding: 20px;
	width: 960px;
	margin-bottom: 40px;
	float: left;
}
.copyright{
float:left;
padding-left:0;
padding-top:10px;
}

.copyright p{
	color:#ffffff;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 0.625em;
}
.mainbox {

	padding-top: 20px;
	
}
.mainbox img {box-shadow: 0px 10px 25px black;}
.mainbox h2 {font-size: 1.5em; margin: 0;}
.mainbox p {font-size: 0.875em; text-align: left; text-align: justify;}
.mainbox ul li {font-size: 0.875em; list-style: circle;}
.testo {
	float:left;
	width: 470px;
	padding: 0 10px 20px 0;
}
.testo h2 {font-size: 1.5em; margin: 0;text-shadow: 3px 3px 5px #222222;}
.testo p {font-size: 0.875em; text-align: left; text-align: justify;}
.testo ul li {font-size: 0.875em; list-style: circle;}
.immagine {
	float:left;
	width: 470px;
	padding: 0 0 20px 10px;
}


.footer_autori {

padding-left:10px;
padding-top:10px;
	float:right;
	margin-right: 0;
	width: auto;

	
	}
	
	
.footer_autori p{
	font-size:12px;
	color: #ffffff;
	
	}
/* MENU */

#nav {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	margin: -10px -11px 0 auto;
	text-align: center;
	float: right;
	/*background-color: #dddddd;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);*/
	box-shadow: -4px 0px 10px #222222;

	z-index: 100;
	position: relative;	
	height: 36px;
	
}

#nav ul ul {
	display: none;
}

#nav ul li:hover > ul {
	display: block;
}


#nav ul {
	/*background: #9d9d9c;*/
	margin: 0 auto;
	background-color: #dddddd;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: -4px 0px 10px #222222;
	list-style: none;
	position: relative;
	display: inline-table;
	padding-left: 0;
}
#nav ul:after {
	content: ""; clear: both; display: block;
}

#nav ul li {
	float: left;
}
#nav ul li:hover {
	background: #b5b5b5;
	/*background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
}
#nav ul li:hover a {
	color: #000000;
}

#nav ul li a {
	display: block;
	padding: 10px 10px;
	color: #000000;
	text-decoration: none;
}


#nav ul ul {
	background: #dddddd;

	padding: 0;
	position: absolute;
	top: 100%;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 10px #222222;
}
#nav ul ul li {
	float: none; 

	position: relative;

}
#nav ul ul li a {
	padding: 10px 10px;
	color: #fff;
}	
#nav ul ul li a:hover {
	background: #b5b5b5;
}

#nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}
	
/* SLIDER */

#slider1 {
	width: 1000px; /* important to be same as image width */
	height: 500px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
	margin: 0 auto;
}

#slider1Content {
	width: 1000px; /* important to be same as image width or wider */
	position: absolute;
	top: 0;
	margin-left: 0;
	padding-left: 0;
}
.slider1Image {
	float: left;
	position: relative;
	display: none;
}
.slider1Image span {
	position: absolute;
	font: 12px Helvetica, sans-serif;
	padding: 10px;
	text-align:left;
	width: 1000px;
	background-color: #000;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: #fff;
	display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
	font-size: 14px;
}
.left {
	top: 0;
	left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 200px !important;
	height: 225px;
}
ul { list-style-type: none;}	
