html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size:16px;
	background-color: #DFD9EB;
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
#wrapper{
	width: 1000px;
	margin: 15px auto;
}
#header{
	width: 960px;
	height: 140px;
	background-image: url('../temp/top1.png');
	background-repeat: no-repeat;
	color: rgba(0,0,0,1);
	box-shadow: 0 25px 8px #000;
	margin: 0 0 0 20px;
}
#logo {
	position:relative;
	top: 15px;
	left: 20px;
	width: 560px;
}
#logo h1 {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 1.75em;
	line-height: 40px;
}
#logo h2 {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.125em;
}
#logo h3 {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 0.875em;
}
#container{
	width: 960px;
	min-height: 800px;
	background-image: url('../temp/wtop.png'),  url('../temp/wbottom.png'), url('../temp/middle.png');
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: top right, bottom left, top center;
/*background-position: 0 0, 0 201px;*/
	float: left;
	box-shadow: 0 25px 8px #000;
	margin: 0 0 0 20px;
}
#ptitle {
	float: left;
	width: 960px;
}
#main{
	width: 720px;
	position: relative;
	float:right;
	margin: 25px 0 50px;
	text-shadow: 1px 1px 2px #000;
}
#ptitle h1 {
	text-align: right;
	color: rgba(255,255,255,1);
	margin: 0 0 25px 0;
	font-family: 'Quattrocento Sans', sans-serif;
	padding-right: 150px;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #000;
}
.homepic {
	width: 250px;
	float: right;
	margin: 0 150px 25px 0;
	box-shadow: 2px 2px 10px #8F89BD;
}
#main h1 {
	font-size: 1.5em;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	width: 735px;
	padding: 25px 0;
	text-shadow: 1px 1px 2px #000;
}
#main p {
	text-align: justify;
	clear: both;
	padding: 0 150px 0 40px;
	margin: 10px 0;

}
.halfmain {
	width: 360px;
	float: left;
}
.halfmain h1 {
	width: 360px!important;
}
.dottedlist {
	width: 735px;
	list-style-type: circle;
	list-style-position: inside;
	text-align: left;
}
#sidebar {
	width: 240px;
	float: left;
	position: relative;
	margin-top: 250px;
	left: -17px;
}
#sidebar ul {
	width: 240px;
	margin:  0 0 0 0;
}
#sidebar ul li {
	font-size: 1.25em;
	width: 100px;
	height: 45px;
	padding: 5px 20px 0 120px;
	margin-bottom: 25px;
	background-image: url(images/libg2.png);
	background-repeat: no-repeat;
}
#sidebar ul li a {
	color: rgba(0,0,0,0.5);
}
#sidebar ul li a.selected, #sidebar ul li a:hover {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}
#bottom {
	width: 960px;
	float: left;
	height: 60px;
	margin: 0 20px;
	background-image: url('../temp/bottom1.png');
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0 25px 8px #000;
}
.infobox {
	width: 200px;
	padding: 10px;
	background-color: #8F89BD;
	float: left;
	margin-right: 14px;
}
.infobox h1 {
	text-align: center!important;
	font-family: 'Quattrocento Sans', sans-serif!important;
	font-size: 1.25em!important;
	margin-bottom: 10px!important;
	width: 200px!important;
	padding: 0!important;
}
.infobox p {
	text-align: center!important;
	font-size: 0.825em!important;
	clear: none!important;
	margin: 0!important;
	padding: 0!important;
}
#footer{
	padding: 14px 40px 10px;
	width: 880px;
    color: #ccc;
	color: rgba(0,0,0,0.8);
	float: left;
	text-shadow: 1px 1px 1px #000;
}
#footer p {

	text-align: center;
	font-size: 0.75em;
	color: rgba(255,255,255,1);
	line-height: 16px;
    padding:10px 0 10px;
}
.social {
    width:32px;
    margin: 2px;
    opacity: 0.8;
}
.social:hover{
    opacity: 1;
}