html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size:16px;
	background-color: #DFD9EB;
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
#wrapper{
	width: 1000px;
	margin: 0 auto;
}
#header{
	width: 1000px;
	height: 340px;
	background-image: url('images/topbg3.png');
	background-repeat: no-repeat;
	color: rgba(0,0,0,1);
}
#logo {
	position:relative;
	top: 15px;
	left: 20px;
	width: 560px;
}
#logo h1 {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 1.75em;
	line-height: 40px;
}
#logo h2 {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.125em;
}
#logo h3 {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 0.875em;
}
#container{
	width: 1000px;
	min-height: 200px;
	background-image: url('images/middlebg3.png');
	background-repeat: repeat-y;
/*background-position: 0 0, 0 201px;*/
	float: left;
}
#main{
	width: 760px;
	position: relative;
	top: 25px;
	float:right;
}
#ptitle h1 {
	text-align: right;
	color: rgba(255,255,255,1);
	margin: 0 0 25px 0;
	font-family: 'Quattrocento Sans', sans-serif;
	padding-right: 150px;
	font-size: 1.5em;
}
.homepic {
	width: 250px;
	float: right;
	margin: 0 150px 0 0;
	box-shadow: 2px 2px 10px #8F89BD;
}
#main h1 {
	font-size: 1.5em;
	font-family: 'Quattrocento Sans', sans-serif;
	text-align: center;
	width: 735px;
	padding: 25px 0;
}
#main p {
	text-align: justify;
	clear: both;
	padding: 0 150px 0 40px;
	margin: 10px 0;
	
}
.dottedlist {
	width: 735px;
	list-style-type: circle;
	list-style-position: inside;
	text-align: center;	
}
#sidebar {
	width: 240px;
	float: left;
	position: relative;
	top: 35px;
}
#sidebar ul {
	width: 240px;
	margin:  0 0 0 3px;	
}
#sidebar ul li {
	color: rgba(0,0,0,0.8);
	font-size: 1.25em;
	width: 100px;
	height: 45px;
	padding: 5px 20px 0 120px;
	margin-bottom: 25px;
	background-image: url(images/libg2.png);
	background-repeat: no-repeat;	
}
#bottom {
	width: 1000px;
	float: left;
	height: 325px;
	background-image: url('images/bottombg3.png');
	background-repeat: no-repeat;	
}
.infobox {
	width: 200px;
	padding: 10px;
	background-color: #8F89BD;
	float: left;
	margin-right: 14px;	
}
.infobox h1 {
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.25em;
	margin-bottom: 10px;
}
.infobox p {
	text-align: center;
	font-size: 0.825em;	
}
#footer{
	padding: 20px 40px;
	width: 920px;
	color: rgba(0,0,0,0.8);
	float: left;
}
#footer p {
	margin-top: 265px;
	text-align: center;
	font-size: 0.75em;
	color: rgba(255,255,255,1);
	line-height: 15px;
}