html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
/*
font-family: 'Tinos', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playball', cursive;
*/
html, body {
    font-family: 'Tinos', serif;
    color:#000000;
    width: 100%;
    height: 100%;
    
    font-size:1em;
    background-color: #ffffff;
}
img {
    max-width: 100%;
    border: 0;
}
ul {
    list-style-type: none;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}
hr {
    border-top: 1px solid #ccc;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    font-size: 0.875em;
    line-height: 1.75em;
}
p.mono {
    font-family: 'Raleway', sans-serif;
    color: #333;
    float: left;
}
.homedetail {
    text-align: center;
    margin-top: 10px;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
        width: 100%;
    background-color: #fff;
    background-color: rgba(231,238,217,1);
	margin: 0 auto -119px;
}
#header {
    position: relative;
	width: 100%;
	/*lfloat: left;*/
        background-color: #e4efc6;
        /*background-color: rgba(149,193,31,0.25);*/
        border-bottom: 2px solid #fff;
	/*margin-top: 15px;*/
        box-shadow: 0 3px 3px #999;
        z-index: 200;
}
.logo {
	
	float:left;
	text-align: center;
        margin: 10px 0;
}
nav {
	float: right;
	text-align: left;
        
}

.navbar-nav {
	margin: 0 auto;
	float: left;
        /*padding: 40px 0;*/
        padding-top:16px;
}
.navbar-default .navbar-nav>li>a {
color: #006633;
border: none;
}
.navbar-nav>li>a {
    /*background-color: #e6007e;*/
    color: #006633;
    float: left;
    margin: 5px;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*border: 1px solid #e6007e;*/
    position: relative;
    bottom: 0;
    transition: all 0.1s;
}
.navbar-nav>li>a:hover {
    bottom: 5px;
}
.sel>a {
    color: #e6007e!important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #e6007e;
background-color: transparent;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #006633;
    border: 1px solid #006633;
    border-radius: 3px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #006633;
color:#006633;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
.social {
	float:left;
        padding-top: 20px;
}
.social>a>img {
	float:left;
	width:33px;
	margin: 5px;
	opacity: 1;
}
.social>a>img:hover {
	opacity: 0.7;
}
.social>img:last-child {
	margin-right: 0;
}
li:first-child {
	margin-left: 0;
}
li:hover {
	/*background-color: #ffffff;*/
	
	
}
#main {
    position: relative;
    z-index: 100;
    width: 100%;
    /*lfloat: left;*/
    background-color: #e4ead2;
    background-color: rgba(231,238,217,1);
    padding: 50px 0;
    
}
#lowermain {
    background-color: #95c11f;
    box-shadow: 0 -1px 3px #333;
}
#upperH {
    margin-bottom: 25px;
}
.bigH {
    float:left;
    margin-bottom: 25px;
	width: 100%;
}
.bigscreen {

	/*padding: 10px;*/
	/*background-color: #95c11f;*/
        padding: 0;
	/*background-image: url(../img/pinkscreen.png);
	background-size: cover;*/
}
.playbutton {
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.85;
}
.playbuttonS {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 32px;
    opacity: 0.85;
}
.playbutton:hover, .playbuttonS:hover {
    opacity: 1;
}
.smallscreen {
    background-color: grey;
    /*background-image: url(../img/tvpattern.jpg);*/
    min-height: 100px;
}
.smallscreen>h1 {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    /*text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff;*/
    font-weight: bold;
    padding-top: 64px;
}
.textscreen {
    background: #fff;
    height: 408px;
    
}
.textscreenS {
    background-color: #fff;
}
.textscreenS:before {
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    right: 24px;
}
.textscreen>h1, .textscreenS>h1 {
    color: #006633;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    border-bottom: 1px solid #e6007e;
    padding-top: 15px;
}
.textscreenS>h1 {
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 15px;
}
.textscreen>h2, .textscreenS>h2 {
    color: #e6007e;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 25px;
}
.textscreenS>h2 {
    
}
.textscreen>p, .textscreenS>p {
    color: #006633;
    font-family: 'Tinos', serif;
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    padding-bottom: 15px;
}
.smallP {
    margin-bottom: 25px;
}
.smallP:nth-child(3n+1) {
    clear:left;
}
#whitebg {
    overflow: hidden;
    background-color: #fff;
}
.whiteBox {
    background-color: #fff;
    padding: 15px;
    height: auto;
}
.whiteBox > h1 {
    padding-top: 0;
    font-size: 40px;
    margin-bottom: 15px;
}
.whiteBox > p {
    line-height: 1.5em;
}
.sjobs {
    font-family: 'Playball', cursive;
    margin-top: 15px;
    color: #006633;
}
.homedesc {
    padding: 15px 0;
    text-align: justify;
}
p.green {
    background-color: #95c11f;
    color: #ffffff;
    padding: 10px;
    width: 33.333333%;
    float: left;
    font-family: 'Raleway', sans-serif;
}
p.purple {
    background-color: #e6007e;
    color: #ffffff;
    padding: 10px;
    width: 33.333333%;
    float:left;
    font-family: 'Raleway', sans-serif;
}
p.grey {
	background-color: #ffffff;
	color: #333333;
	
	padding: 10px;
	width: 100%;
	float:left;
}
.homedesc > p:first-letter {
    font-size: 2.5em;
    color: #e6007e;
    margin-right: 3px;
}
.fbBox {
    border:1px solid #3B5998;
    padding: 15px;
    margin-top: 25px;
    height:250px;
}
.fbBox h2 {
    color: #3b5998;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    float: left;
    padding: 0 15px 5px 0;
    border-bottom:1px solid #3B5998;
    margin-bottom: 15px;
}
.newsBox {
    border: 1px solid #e6007e;
    padding: 15px;
    margin-top: 25px;
    height: 250px;
    overflow: hidden;
}
.newsBox h2 {
    color: #e6007e;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    float: left;
    padding: 0 15px 5px 0;
    border-bottom: 1px solid #e6007e;
    margin-bottom: 15px;
}
.bigTitle {
    font-size: 2em;
    color: #e6007e;
    border-bottom: 1px dashed #e6007e;
    margin-bottom: 25px;
}
.details {
    overflow: hidden;
}
.details p {
    font-size: 0.875em;
    color: #006633;
    font-family: 'Tinos', serif;
}
#leftContact {
    background-image: url(../img/bikebird.png);
    background-position: 50% 95%;
    background-repeat: no-repeat;
    
    padding-bottom: 120px;
    margin-top: 120px;
}
#leftContact>p, .lfp {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #e6007e;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
#leftContact a:hover {
    text-decoration: underline;
}

#footer {
	
    margin: 0 auto;
    height: 119px;
    padding: 15px 0 0;
    color: #666;
    font-size:0.75em;
    background-color:  #fff;
    border-top: 3px solid  #e6007e;
    position:relative;
    z-index: 200;
}
.upperF, .lowerF {
    float:left;
    width: 100%;
}
.upperF {
    background-image: url('../img/foot.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-position: 100% 100%;
    height: 70px;
}
.lowerF {
    padding: 5px 0;
    border-top: 1px dotted #95c11f;
}
.copyright {
	float:left;
}
.contact {
	float: right;
}
.contact>a, .contact>a:hover, .contact>a:visited {
    text-decoration: none;
    color: #e6007e;
}
.contact>a:hover {
    text-decoration: underline;
    color: #e6007e;
}
#push {
	height: 110px;
        
}

/* VIDEO RESPONSIVE */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* FACEBOOK RESPONSIVE 

.stretch {
    width:100%;
}
#fb-root { display: none; }
.fb-like-box { background: transparent; margin: 0 }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.container {
    max-width: 930px;
}*/
/* Form */

.form-control:focus {
    border-color:#009050;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,102,51,0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,102,51,0.6)
}
.error {
    font-size:12px;
    font-family: 'Tinos', serif;
    font-weight: normal;
    color: #006633;
}
label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    color: #006633;
}
.tooltip {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
    width: 200px;
}
/* COLLAGE */

.Collage {
    padding:0 15px 10px;
    margin: 0;
}
.Collage img {
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;
    border:5px solid #FFF;
}
.Image_Wrapper {
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.Caption {
    font-size:14px;
    font-weight:normal;
    font-family:arial;
}
.Caption_Content {
    color:#FFF;
    padding:5px;
}
/* SOCIAL SHARING */

.fb-like {
    margin-right: 32px;
}

/* BOOTSTRAP CUSTOM */

.navbar-default {
    background-color: transparent;
    border: none;
}

/* MEDIA QUERIES */

@media(max-width:991px){
    
    .smallH {margin-bottom: 25px;}
    .textscreen {height: auto;}
    .textscreenS>h1 {font-size:1em;}
    .textscreen>h1 {font-size:1.125em;padding-top:5px;}
    .textscreen>h2 {margin-bottom: 5px;}
    .textscreen>p, .textscreenS>p {line-height: 17px;}
    .details p {font-size:0.75em;}
    #leftContact {margin-top: 50px;}
}
@media(max-width:767px) {
    #fotomani {display: none;}
    .nav>li {float:left;}
}
