html {
height: 100%;
overflow-x: hidden;
}
body{
	
	margin:0;
	padding:0;
	text-align:center;
	font-size:14px;
	color:#CCC;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	background-attachment:fixed;
	background-color: #666;
	background-image: url(../images/bg.jpg);
	background-repeat:repeat;
	background-position: center top;
}

/*testo contenuto*/
p {
	width:1100px;
	font-size: 18px;
	font:"Just The Way You Are";
	font-weight:800;
	line-height: 30px;
	color:#000;
	margin-right:50px;
	text-align:justify;
}

p2 {
	font-size:14px;
	color:#666666;
	font-weight:800;
	font-weight:bold;
	line-height: 20px;
	font-family: "Just The Way You Are";
	font-weight: bold;
}

p3{
	font:"Just The Way You Are";
	color:#000;
	
	clear:both;}

h1 {
	font-size: 30px;
	font-weight:1200;
	color:#999999;
	width: 600px;
}

h2 {
font-size: 150%;

}

h3 {
	font-size: 18px;
	font:"Just The Way You Are";
	font-weight:bold;
	line-height: 30px;
	color:#000;
	margin-right:20px;
	margin-left: 50px;
	text-align:justify;



}

h4, h5, h6 {
font-size: 100%;

}

/* liens hypertextes*/ 
a:link, a:visited {
text-decoration:none;
color:#0000;
font-weight:normal;

}

a:hover {
	color:#000000;
}

/*listes a puces*/
ul {
margin:0;
padding-left:20px;

}

li {
list-style-type:disc;
background:transparent;
margin: 4px;

}



/*image*/
img {
	border:none;
	margin:0 200 0 0;
	padding:0;

}

img .caption {
text-align: left;

}

.highlight{
	background:#b44948;
	padding: 0px 2px 0px 2px;
	color:#000000;
}

.button {
	border:none;
	color:#000000;
	font-weight:normal;
	padding:4px;
}

.inputbox {
	color:#000;
	border:none;
	padding:4px;
	font-weight:normal;
}

.pagewidth{
width:1100px;
text-align:center;
background:transparent;
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:0px;
}

fieldset {
border:none;

}


.topnav {
	float:right;
	margin-top: 100px;


}

.social {
float:left;
width:25px;
height:17px;
background: transparent;
margin-top:-5px;
margin-left:15px;

}

/*******menu-top*******/
#menu {
float:right;
width:100%;
height:27px;
margin-top:5px;
margin-right:35px;

}

#menu ul {
list-style: none; 
margin:0; 
padding:0;
float: right;

}

#menu ul li a {
padding: 10px 10px 0 4px; 
color: #fff;
font-weight:normal;	
font-size:12px;
text-transform:uppercase;


}

#menu ul li a:hover {
color:#d8e9f6;

}
/*menu*/
#menu ul li {
float: left;
list-style: none;
background: none;
background: url(../images/menu.jpg) 100% 17px no-repeat;
height:33px;
padding-top:15px;

}

#menu ul li ul,
#menu ul li ul ul,
#menu ul li li  {
display:none;

}

/*********************/
#sitename {
float:left;
width:389px;
height:167px;
margin-top:-30px;
margin-left:250px;

}

/********************/
#topmenu-wrapper {
	float:left;
	width:100%;
	height:60px;
	background: url(../images/wrapper-top.png) 0 0 repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin-top:0px;

}

#topmenu-wrapper img {
	vertical-align:middle;

}

#topmenu-wrapper ul {
list-style: none;
margin-top:0px;
padding: 0px;

}
/* modifica testo menu*/
#topmenu-wrapper a {
	display: block;
	float: left;
	height: 32px;
	/*padding: 17px 30px 0 15px;*/
	padding-left:30px;
	padding-right:15px;
	padding-top:17px;
	font-family:Arial;
	font-weight:bold;
	color:#CCCCCC;
	font-size:18px !important;
	vertical-align:middle;

}

#topmenu-wrapper .logoMenu:link {
	padding-top:0;
	color:#000000;
	margin-top:0px;
}

/*scelta bottone*/
#topmenu-wrapper  a:hover{
	color:#FFF !important
	}
/* bottone linkato*/
#topmenu-wrapper li.active a  {
	color: #6699cc !important;
	-moz-background-inline-policy: bounding-box;
}



#topmenu-wrapper li {
display: block;
float: left;
margin: 0;
margin-right: 5px;
padding: 0;

}

#topmenu-wrapper li li a {
	font-size: 13px !important;
	padding:20px 0 0 0;
	color:#F00;
}

#topmenu-wrapper ul li ul li a:hover {
color:#6a6c71 !important;

}

#topmenu-wrapper li li {
border-top: 1px dashed #fff;

}


/******************/
#main {
float:left;
width:640px;
background:transparent;
text-align:left;
margin-bottom:25px;
margin-left:50px;
margin-top:-25px;
}

#main-full {
	float:left;
	/*width:880px;*/
background: transparent;
	text-align:center;
	margin-bottom:25px;
	padding:10px;
	margin-top:-25px;

} 

/***************************/
/*ACTIONS -print-email-edit
/***************************/
/***************************/
ul.actions  {
background:transparent;
margin:0;

}

ul.actions  li{
list-style:none;
float:right;

}

/************************************************/
/****article-info(date, date modifiées etc...).../
/**************************************************/

.article-info {

}

dt.article-info-term {
display:none;

}

dl.article-info dd{
margin:0;
font-size:12px;

}

/************************/
/*frontpage ARTICLE
/************************/
/************************/

/**article frontpage global*****/
.items-leading {
width:100%;
font-weight:normal;

}

.items-row {
width:100%;
font-weight:normal;

}

/***titre frontpage*****/
.items-leading h2{
font-size:17px;
color:#fff;
text-align:left;
text-transform:uppercase;
font-weight:normal;
padding-top:17px;
padding-left:25px;
/*text-Shadow: 1px 1px #000;*/
background: url(../images/h3.png) 0 13px no-repeat;  

} 

.items-row  h2{
font-size:17px;
color:#fff;
text-align:left;
text-transform:uppercase;
font-weight:normal;
padding-top:17px;
/*text-Shadow: 1px 1px #000;*/
padding-left:25px;
background: url(../images/h3.png) 0 13px no-repeat;  

}

.items-leading h2 a:hover,.items-row  h2 a:hover {
color:#000;

}

/*****separation des articles******/
.item-separator {
height:30px;
width:100%;
display:block;

}

/************************/
/* ARTICLE SIMPLE
/************************/
/************************/
/*.item-page {
width:200px;
font-weight:normal;
padding:10px;

}
*/
.item-page h2 {
font-size:17px;
color:#fff;
text-align:left;
text-transform:uppercase;
font-weight:normal;
padding-top:17px;
/*text-Shadow: 1px 1px #000;*/
padding-left:25px;
background: url(../images/h3.png) 0 13px no-repeat;  


} 

/************************/
/* redmore article
/************************/
/************************/
.readmore a {
float:right;
font-weight: bold;
padding:8px;
margin-right:15px;
color:#fff;
margin-top:5px;
font-weight:normal;
/*background: url(../images/menu-nav.jpg) 0 0 repeat;*/

}

.readmore a:hover {
color:#000;
/*background: url(../images/menu-nav.jpg) 0 0 repeat;*/

}

 
 /************************/
/*****CATEGORY***********/
/************************/

.categories-list {

}

.categories-list li {
list-style:none;

}

.item-title {
font-size:17px;
color:#fff;
text-align:left;
text-transform:uppercase;
font-weight:normal;
padding-top:17px;
/*text-Shadow: 1px 1px #000;*/
padding-left:25px;
background: url(../images/h3.png) 0 13px no-repeat;  


}


ul#archive-items li {
list-style:none;

}

/* ++++++++++++++  items more  ++++++++++++++ */
.items-more{
padding-top:10px;

}

 .items-more h3{
font-weight:normal;
margin:0;
padding:5px 5px 5px 5px;
font-size:1.4em

}

 .items-more ol{
line-height:1.3em;
margin:0 0 0 20px;
padding:5px 0 5px 2px;

}

 .items-more ol li{
padding:2px;

}

 .items-more ol li a {
display:inline;
margin:0;
font-weight:normal;
 padding:5px;

}

 .items-more ol li a:hover,
 .items-more ol li a:active,
 .items-more ol li a:focus {
font-weight:normal;
padding:5px 5px 5px 5px;
text-decoration:none

} 

/* ++++++++++++++  pagination  ++++++++++++++ */

 .counter {
text-align:center;
padding:4px 0;

}

.pagination {
 float: left;
 width: 100%;
 padding:4px 0;
 text-align:center;

}

.pagination li {
background: none;
display: inline;
margin: 0;
padding: 6px;
margin:0 3px;
overflow: hidden;
border:1px dashed #5f6064;

}

.pagination li span {
padding: 6px; 
line-height: 20px;
 
}

.pagination a {
color: #000;
line-height: 20px;
padding:7px;
text-decoration: none;
background:transparent ;

}

.pagination a:hover, .pagination a:active, .pagination a:focus {
text-decoration: none;
color:#ccc;


} 

/* ++++++++++++++  nav entre article  ++++++++++++++ */
 ul.pagenav {
 position:relative;
 margin-top:25px;
 
}
 
ul.pagenav li {
 list-style: none;
 padding: 7px;
 color:#fff;
/*background: url(../images/menu-nav.jpg) 0 0 repeat;*/
 
}

ul.pagenav li a {
 list-style: none;
 padding: 7px;
 color:#fff;
 
}
 
ul.pagenav li:hover, ul.pagenav li:focus {
/*background: url(../images/menu-nav.jpg) 0 0 repeat;*/
 color:#000;
 
}
 
ul.pagenav li a:hover, ul.pagenav li a:focus { 
text-decoration:none;
color:#000;

}
 
ul.pagenav li.pagenav-prev {
float: left;
 
}
 
ul.pagenav li.pagenav-next { 
float:right;

}

/**************************/
.result-title {
padding:10px;

}

.result-title a {
font-size:14px;
text-transform:uppercase;
letter-spacing:1px;
font-weight:bold;

}


/****box*****/
#wrapper-box {
float:left;
width:980px;
background:transparent;
text-align:left;
margin-top:5px;

} 

.box {
float:left;
width:220px;
height:262px;
background:transparent;
margin-right:0px;
/*background: url(../images/sep.jpg) 100% 0 no-repeat ;*/
padding-right:20px;

}

.box .moduletable_menu h3,
.box .moduletable h3,
.box h3 {
	color:#000;
	font-size:17px;
	text-align:left;
	font-weight:normal;
}

/**/
#footer-bottom {
	position:static;
	float:left;
	width:100%;
	height:70px;
	margin-top:-20px;
	margin-bottom:-20px;
	color:#000;
}

#footer-contacts {
	position:static;
	width:1100px;
	height: 200px;
	margin-top: 20px;
}

#footer-contacts a, #footer-contacts a:visited{
padding:0 !important;
border:none !important;

} 

#top {
float:left;
width:30px;
height:30px;
margin-top:25px;
padding:0 !important;
border:none !important;
background:transparent;

}

.top_button {
padding:0 !important;
border:none !important;

}
