<img src="images/people/foto_azzurra_magherini.png" width="500" height="320" alt="Azzurra Magherini" />
<h3>AZZURRA MAGHERINI</h3>
<h5>Account Executive</h5>
<p><a href="mailto:azzurram@primah.it">azzurram@primah.it</a></p>
