<img src="images/people/foto_emanuele_bencini.png" width="500" height="320" alt="Emanuele Bencini" />
<h3>EMANUELE BENCINI</h3>
<h5>Area Account Manager</h5>
<p><a href="mailto:emanueleb@primah.it">emanueleb@primah.it</a> <span style="color: rgba(215,132,0,1)">|</span> +39 3939187243</p>
