<img src="images/people/foto_fabrizio_traditi.png" width="500" height="320" alt="Fabrizio Traditi" />
<h3>FABRIZIO TRADITI</h3>
<h5>Founder & CEO</h5>
<p><a href="mailto:fabriziotraditi@alice.it">fabriziotraditi@alice.it</a></p>