html, body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

h1 {
	font-size: 28pt;
	letter-spacing: 12px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

h2.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
}

#container {
	margin: 100px auto;
	width: 700px;
	color: #555;
}

#countdown_dashboard {
	margin-top: 50px;
	margin-bottom: 100px;
	height: 110px;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

#subscribe_form {
	position: relative;
}

#email_field {
	font-size: 16pt;
	padding: 6px 10px;
	width: 300px;
	border-radius: 15px;
	border: 2px solid #999999;
outline-color: rgba(182,30,63,0);
		-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#email_field:focus {

	border: 2px solid #b61e3f;


}


#subscribe_button {
	font-size: 14pt;
	color: #ffffff;
	padding: 6px 10px;
	background-color: #B61E3F;
	border: 2px solid #999999;

	border-radius: 15px;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#subscribe_button:hover {
	font-size: 14pt;
	color: #b61e3f;
	border: 2px solid 	#b61e3f;
		background-color: rgba(255,255,255,0.5);
		outline-color: #b61e3f;
}

.copyright {
	font-size: 9pt;
	color: #333;
	margin: 40px 0px;
}

.faded {
	color: #999;
}

.form_message {
	width: 400px;
	padding: 10px;
	margin: 15px auto;
	display: none;
			text-align: justify;
}

#error_message {
	background-color: #ffe;
	border-left: 5px solid #bb3;
	border-right: 5px solid #bb3;
	color: #770;
		text-align: justify;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
		text-align: justify;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}

div#tips a  {
	text-decoration:none;
	color: #B61E3F;
	font-size: 12px;
}

div#tips a:hover {
	text-decoration:none;
	cursor: help;
	background: #ffffff;

}
div#tips a span {display: none;}
div#tips a:hover span {
	display: block;
	position: relative;
	left: 0px;
	width: 700px;
	padding: 15px;
	margin: 20px auto;
	z-index: 100;
	color: #555555;
	background: #Fffffff;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	border: 2px solid #b61e3f;
	border-radius: 15px;
	box-shadow: 0 0 10px #000000;
	text-decoration: none;
}
