@import "partials/var";

$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "compass";
@import "partials/normalize";

body{font-family: 'Open Sans', sans-serif;min-width: 300px;}

.nav>li>a{padding: 8px 3px !important;color:black;font-weight: bold; border:1px solid transparent;&:hover{border:1px solid black; }}
.nav>li{padding-right: 10px;
text-align: right;}
.navbar-default .navbar-nav>li>a{color:black;}
.navbar .container-fluid{margin-top: 15px; padding: 0;}
.nav{border:0px;}
.navbar{background-color: transparent;border:0px;}

#facebook{margin-top: 20px; margin-right: 5px;height: 25px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0; margin: 0;
img{padding:2px 5px;}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:transparent;}

footer{background-color: black;
       color:white;
       margin-top:100px;
       a{color:white;}
       hr{background-color: white; color:white;}}
       #si{}
       #no{display:none; visibility: hidden;}
.contatti row{margin:15px;text-align: center;}
.boxcontatti{width: 150px; float:left;margin-left: 100px;
a{text-align: center; color:black;}p{text-align: center;}}
       @media (max-width: 767px) {
           #si{display:none;}
           #no{display:block;visibility: visible;}
           .nav>li>a{font-size:10px;}
           #facebook{height: 25px;}
           #logo img{min-width: 150px;margin-top: 10px;}
       .testo1{height:auto ;width:auto ;}
.testo2{ height:auto ;width:auto ;}
       .boxcontatti{width: 120px; height: 160px; margin-left: 10px;}
       
     }
       
       @media (min-width: 768px) and (max-width: 991px) {.nav>li>a{font-size:12px;}#logo img{max-width: 250px;}
       .testo1{height:119px ;width: 250px;}
.testo2{ height:125px ;width: 189px;}
       footer{margin-top: 100px;}
        .prima{height:244px;}
       .boxcontatti{width: 150px; float:left;margin-left: 30px;}}
       @media (min-width: 992px) and (max-width: 1199px) {.nav>li>a{font-size:14px;} #logo img{max-width: 250px;}
       .testo1{height: 156px;width: 400px;}
.testo2{ height:161px ;width: 189px;}
        .prima{height:317px;}
        .boxcontatti{width: 150px; float:left;margin-left: 80px;}
       }
       @media (min-width: 1200px) and (max-width: 1300px) {#logo img{max-width: 350px;} 
       .testo1{height:189px; width:400px ;}
.testo2{ height: 189px;width:189px ;}
        .prima{height:389px;}
       .boxcontatti{width: 150px; float:left;margin-left: 100px;}}
       @media (min-width: 1301px) {#logo img{max-width: 350px;} .testo1{height:189px ;width:390px ;}
.testo2{ height: 189px;width:390px ;}
       .prima{height:389px;}
       .boxcontatti{width: 150px; height: 170px; float:left;margin-left: 100px;}
       }
