@import "partials/var";

@import "compass";

@import "partials/normalize";



body{
    font-family:'Libre Baskerville', serif;
    text-spacing: 1px;
}
#homebox{

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{margin:0; padding:0; float:left;}

}


header img{min-width: 50px;}
.dropdown-menu{border:0px;
               li{background-color: black;}
               li a{
                   color:white;
                   margin-left: 15px;
               }
}

.navbar-default{
    font-weight: 800;
    background-color: transparent;
    border: 0px;
    color:black;



}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{background-color: transparent;}
.navbar-default .navbar-nav li a{
    padding: 15px 10px;
    padding-bottom: 0;

    color:black;
    box-shadow: 0;
    -webkit-box-shadow:0;
    font-weight: 400;
    &:hover{
        text-decoration: underline;
    }}
ul{
    border:0px;
    box-shadow: 0 !important;
    -webkit-box-shadow:0;

}
.dropdown-menu{border:0px;
               border-radius: 0;
               border:0px;
               box-shadow: 0 0 0 ;
               -webkit-box-shadow:0 0 0;
               margin-top: 5px;

}

.nav .navbar-nav ul{

    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
#datiinfo{ font-size: 18px;
           margin-top:10%;

           a{text-transform: uppercase;color:black;}}
           .dropdown-menu li{

               padding-left: 0;
               margin-left: 0;
               background-color: transparent;
               a{margin-left: 0;
                 padding-left: 0;}
           }
           .riganera{height: 1px;
                     position: absolute;

                     top:70px;}
           .riganera hr{width: 98%;
                        border:0px solid black;
                        color:black;
                        background-color: black;
                        size: 1px;
                        height: 1px;
                        float:left;
           }
           .navbar{margin-top: 50px;

           }
           .navbar-nav>li>.dropdown-menu{margin-top:1px;background-color: transparent;}
           .navbar .dropdown-menu{background-color: transparent;}
           .navbar .dropdown-menu li a{
               background-color: black;
               color:white;
           }
           .navbar .dropdown-menu li{border-bottom: 1px solid white;
           }
           .navbar .dropdown-menu li a{padding-bottom: 15px;
           }


           #logo2{visibility: hidden; display: none;}
           #titolone{font-size: 30px;    font-family:'Libre Baskerville', serif;
           }
           .boxnews{ height: 250px; padding: 10px;
                     font-size:10px;
                     color:black;
                     margin-bottom:150px; 
                     img{width: auto; max-height: 200px;margin:auto;}
                     a{color:black;}}
                     .separatore{size:1;
                                 height: 1;
                                 border:1px solid;
                                 color:black;}
                     footer{clear: both;
                         height: 70px;
                         background-color: black;
                         color:white;
                         width: 100%;
                         a{color:white; 
                         }
                     }
                     #detnews p{text-align: left !important;}
                     #titlepubb{font-size: 20px;text-transform: uppercase;}
                     #chisono p{font-size: 30px;}

                     #detbio{padding: 30px;position:relative;margin-bottom: 30px;}
                     #fotobio img{padding-left: 20px;
                     }
                     #boxbio1{position: absolute;
                              top:0;
                              left:0;
                              width: 40%;
                              height: 100%;
                              background-color: black;
                              z-index: 0;}
                     #boxbio2{position: absolute;
                              top:0;
                              left:40%;
                              width: 60%;
                              height: 100%;
                              background-color: #F9F8F6;
                              z-index: 0;}
                     @media (max-width: $screen-xs-max) {  
                         .riganera{display: none;}
                         #logo{display: none; visibility: hidden;}
                         #logo2{display:block; visibility: visible; margin-bottom: 5px;}
                         .header-image2{margin:auto;}

                         #chisono p{font-size: 25px;}
                         #boxbio1{visibility: hidden; display:none;}
                         #boxbio2{left:0;width:  100%;}
                     }
                     @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                         .navbar-default .navbar-nav li a{
                             font-size:10px;} 

                         .navbar .dropdown-menu li a{
                             font-size:9px;
                             margin-left: 62px;
                             font-weight: 400;

                         }
                         #testobio p{font-size:10px;}
                         #chisono p{font-size: 30px;}
                     }
                     @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
                         .navbar-default .navbar-nav li a{
                             font-size:14px;} 
                         .navbar .dropdown-menu li a{
                             font-size:11px;
                             margin-left: 32px;
                             font-weight: 400;
                         }
                         #testobio p{font-size:12px;}
                         #chisono p{font-size: 30px;}
                     }
                     @media (min-width: $screen-lg-min) and (max-width:1300px){ 
                         .header-image{max-width:180px;}
                         .navbar-default .navbar-nav li a{
                             font-size:14px;}
                         .navbar .dropdown-menu li a{
                             font-size:11px;
                             margin-left: 25px;
                             font-weight: 400;

                         }
                         #testobio p{font-size:15px;}
                         #chisono p{font-size: 30px;}
                     }
                     @media (min-width:1300px){ 
                         .navbar-default .navbar-nav li a{
                             font-size:15px;
                         }
                         .navbar .dropdown-menu li a{
                             font-size:12px;
                             margin-left: 15px;
                             font-weight: 400;

                         }
                         #testobio p{font-size:15px;}
                         #chisono p{font-size: 30px;}
                     }