html, body {height: 100%;}
.wrap {
	min-height: 100%;
    min-width: 240px;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

.header {
	margin-bottom: 25px;
}
.container {
	max-width: 960px;
}
#logo {
	text-align: center;
	vertical-align: middle;
}
.navcontainer {
	max-width: 480px;
}
.nav li a {
	font-weight: bold;
}
.navbar {
	margin-bottom:0;
}
#social{
	height:48px;
	text-align: right;
}
.socialicons {
	vertical-align: top;
	margin: 0 5px;
}
.shadowed {
	box-shadow: 0 0 5px #888;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.shadowed p {
	text-align: justify;
}
.carouselImageHeight img {
  width: auto;
  max-height: 480px;
  margin: 0 auto;
}
.imageNews {
    margin-bottom: 15px;
}
.ribbon {
	position: relative;
	left: -26px;
	float:left;
	width: 100%;
}

.ribbon_l{
	width: 16px;
	height: 44px;
	background-image: url(../images/ribbon_l.png);
	background-repeat: no-repeat;
	float: left;
}
.ribbon_m{
	
	height: 44px;
	background-image: url(../images/ribbon_m.png);
	background-repeat: x-repeat;
	float: left;
	color: #fff;
}
.ribbon_r{
	width: 16px;
	height: 44px;
	background-image: url(../images/ribbon_r.png);
	background-repeat: no-repeat;
	float: left;
}
.ribbon_m h2 {
	margin: 5px 25px 3px 10px;
	font-size: 24px;
	line-height: 24px;
	
}
.lastrow {
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.resizer {
    min-height: 640px!important;
}
.newstitle {
	color: #EC2628;
	margin: 0;
}
.justify {
	text-align: justify;
}
.redline {
    border-bottom: 1px solid #ec2628;
}
.push {
	height: 70px;
}
.footer {
	min-height:70px;
	background-color: red;
	margin:	0  0 0;
}
.credit {
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 2px #000;
	line-height: 14px;
	margin:	14px auto;
	text-align: center;
}
.credit a {
	color: #ccc;
}
#map iframe {
  max-width: 100%;
  height:	50%;
}
#form .error {
    font-size: 10px;
    color: red;
}
.mandatory {
    font-size: 14px;
    color: red;
}
.stretch {
    width:100%;
}
#fb-root { display: none; }
.fb-like-box { background: transparent; margin: 0 }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
@media (min-width:768px) and (max-width:979px){
    .form-horizontal .control-label {
        float:none;
        width:auto;
        padding-top:0;
        text-align:left;
    }
    .form-horizontal .controls {
        margin-left:0;
    }
    input, textarea, .uneditable-input {
        width: 90%;
    }
}
