html, body {
	font-family: Helvetica, sans-serif;
	

}

.rosso{border:1px solid #e4271d; }
.rosso h1{background-color:#e4271d !important; }
.nero{border:1px solid black;}
.nero h1{background-color: black !important; }
.giallo{border:1px solid #f2ca10;}
.giallo h1{ background-color: #f2ca10 !important; }
.verde{border:1px solid #4a8530; }
.verde h1{ background-color: #4a8530 !important; }
.blu{border:1px solid #003e84;}
.blu h1{background-color: #003e84 !important;}
body {
	background-color: #ffffff;
	background-image: white;
	min-width: 240px;
	font-size: 87.5%;
	/*z-index: 1000;*/
	margin: 0;
	padding: 0;

}

img {
	border: 0;
	max-width: 100%;
}
a, a:visited,a:hover {
	text-decoration: none;
}

#container {
	margin: 0 auto;
	width: 81.25%; /*Era 90%*/
	min-height: 100%;
	max-width: 1200px;

}


#header {
	text-align: center;	
	width: auto;
	margin-bottom: -3px;
}

#header img {
	width: 100%;
        padding-bottom: 15px;
}
#header .logoheader{width:9%;
margin-bottom: 20px;margin-right: 10px;margin-left: 10px;}
.eda, .aisli, .ielts, .trinity{margin-bottom:40px !important;
height: 40px;
width:auto;}
.aisli, .eda{width: 40px !important;}
#menu {
/*	background-color: #00247d;
	background-image: url('../images/menubg.svg');
	background-repeat: repeat-x;*/
	color: #ffffff;
	font-weight: bold;
	font-size: 1em;
	float: left;
	/*min-height: 50px;*/
	width: 100%;
	clear: both;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	background-color: black;
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3651A2', endColorstr='#121724',GradientType=0 );*/ /* IE6-8 */
}

#menu a:hover {
	text-shadow: 0 0 3px #ffffff;	
}

.social {
	float: right;
	padding: 5px 0;
	margin: 0 1.0416667%;
	width: 10.5833333%;
	text-align: right;
}
.social img {
	margin: 1px 0;
	width: 32px;
}
ul.topmenu {
	width: 85.25%;
	list-style-type:none;
	margin: 0 1.0416667%;
	padding: 15px 0;
	float: left;
}
ul.topmenu li{
	float: left;
	display:inline;
	margin: 0 1.5833333% 0 0;
}
ul.topmenu li a {
	text-decoration: none;	
	color: #ffffff;
}
ul.topmenu li a:visited {
	color: #ffffff;	
}
#main {
	background:rgba(255,255,255,0.75); /* Modern Browsers */

	/*background-color: #f0f0f0;*/
	/*opacity: 0.85;*/
	padding: 10px 0;
	float: left;
	clear: both;
	width: 100%;
}
#mainbox {
	
}
#mainbox img{
	width: 97.9166666%;
	margin:5px 1.0416667%;
	float: left;
}
.languages {
	float: left;
	width: 97.9166666%;
	margin: 0 1.0416667%;	
	text-align: center;
}
.languages img {
	width: 24px;
	margin: 0 auto;
}
.leftHome{
	float: left;
	width: 31.25%;
	margin: 0 1.0416667%;		
}
.rightHome{
	/*display: table;*/
	float: right;
	width: 64.5833333%;
	margin: 0 1.0416667% 0 1.0416667%;
}
.boxhomeContent {
height:100px; overflow:auto;
}
.boxhomeLeft{
	width: 100%;
	float:left;

	background-color: #ffffff;
	margin: 10px 0 10px 0;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.boxhomeLeft h1{
		background-color: #00247d;
	margin: 0;
	background-color: #00247d;
	border-top-left-radius: 19px;
	-webkit-border-top-left-radius: 19px;
	-moz-border-radius-topleft: 19px;
	font-size: 1em;
	color: #FFFFFF;
	padding: 3.3333333%;
	text-align: center;
	/*min-height: 20%;*/
}
.boxhomeRight2, .boxhomeLeft img {
	width: 100%;
	margin: 0;
	border-bottom-right-radius: 19px;	
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-bottomright: 19px;
}
.boxhomeLeft p {
	margin: 0;
	background-color: #ffffff;
	color: #00247d;
	text-align: justify;
	font-size: 0.875em;
	padding: 3.3333333%;
/*	border-bottom-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;*/
}
.boxhomeRight1{

	float: left;
	width: 48.3870967%;
text-align: center;
	margin: 10px 1.6129032% 10px 0;
	background-color: #ffffff;
	-webkit-border-top-left-radius: 19px;
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-topleft: 19px;
	-moz-border-radius-bottomright: 19px;
	border-top-left-radius: 19px;
	border-bottom-right-radius: 19px;	
}
.boxhomeRight1 h1{
	margin: 0;
	background-color: #00247d;
	border-top-left-radius: 18px;
	-webkit-border-top-left-radius: 18px;
	-moz-border-radius-topleft: 18px;
	font-size: 1em;
	color: #FFFFFF;
	padding: 3.3333333%;
	text-align: center;
	/*min-height: 20%;*/
}
.boxhomeRight1 img {
	width: 100%;
	margin: auto;
	border-bottom-right-radius: 19px;	
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-bottomright: 19px;
}
.boxhomeRight1 p {
	margin: 0;
	background-color: #cf142b;
	color: #FFFFFF;
	background-color: #ffffff;
	color: #00247d;
	text-align: justify;
	font-size: 0.875em;
	padding: 3.3333333%;
	border-bottom-right-radius: 19px;
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-bottomright: 19px;
}
.boxhomeRight2{
text-align: center;
    
	height: 240px;
	float: left;
	width: 47.3870967%;
	margin: 10px 0 10px 1.6129032%;
	background-color: #ffffff;
	-webkit-border-top-left-radius: 19px;
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-topleft: 19px;
	-moz-border-radius-bottomright: 19px;
	border-top-left-radius: 19px;
	border-bottom-right-radius: 19px;
}
.boxhomeRight2 h1{
		background-color: #00247d;
	margin: 0;
	background-color: #00247d;
	border-top-left-radius: 18px;
	-webkit-border-top-left-radius: 18px;
	-moz-border-radius-topleft: 18px;
	font-size: 1em;
	color: #FFFFFF;
	padding: 3.3333333%;
	text-align: center;
	/*min-height: 20%;*/
}
.boxhomeRight2 img {
    margin: 2% 0;
	border-bottom-right-radius: 19px;	
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-bottomright: 19px;
}
.boxhomeRight2 p {
	margin: 0;
	background-color: #cf142b;
	color: #FFFFFF;
	background-color: #ffffff;
	color: #00247d;
	text-align: justify;
	font-size: 0.875em;
	padding: 3.3333333%;
	border-bottom-right-radius: 19px;
	-webkit-border-bottom-right-radius: 19px;
	-moz-border-radius-bottomright: 19px;
}
.leftSide {
	float: left;
	width: 22.9166667%;
	margin: 0 1.0416667%;
	
}
.rightSide {
	float: right;
	width: 72.9166667%;
	margin: 0 1.0416667%;
}


.mbox {
	float: left;
	margin: 10px 1.0416667%;
	width: 31.25%;
	/*min-width: 80px;*/
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.mbox h1{
		background-color: #00247d;
	margin: 0;
	background-color: #00247d;
	border-top-left-radius: 20px;
	font-size: 1em;
	color: #FFFFFF;
	padding: 5.5555555%;
	text-align: center;
	min-height: 20%;
}
.mbox img {
	width: 100%;
	margin: 0;
	border-bottom-right-radius: 20px;	
}
.mtext {
	margin: 0;
	background-color: #ffffff;
    color: #00247d;
	border-bottom-right-radius: 20px;

}

.mtext h3 {
	font-size: 1em;
	margin: 0 0;
	text-align: left;
	color: #cf142b;	
	padding: 10px 3.3333333% 0 3.3333333%;
	}
.mtext p {
	margin: 0;
	background-color: #ffffff;
	color: #00247d;
	font-size: 0.875em;
	padding: 0 3.3333333% 10px 3.3333333%;

}
.mtext h5 {
	margin: 0;
	background-color: #ffffff;
	color: #00247d;
	font-size: 0.875em;
	font-weight: normal;
	padding: 0 3.3333333% 5px 3.3333333%;
}
.mtextL {
	margin: 0;
	background-color: #ffffff;
	border-bottom-right-radius: 20px;

}

.mtextL h3 {
	font-size: 1em;
	margin: 0 0;
	text-align: left;
	color: #cf142b;	
	padding: 10px 0 0 0;
	}
.mtextL p {
	margin: 0;
	background-color: #ffffff;
	color: #00247d;
	font-size: 0.875em;
	padding: 0 0 10px 0;

}
.mtextL h5 {
	margin: 0;
	background-color: #ffffff;
	color: #00247d;
	font-size: 0.875em;
	font-weight: normal;
	padding: 0 0 5px 0;
}
.more{
	margin: 0;
	text-align: right;
	color: #cf142b;
	font-size: 0.875em;
	padding: 10px 3.3333333%;

}
.more a, .more a:visited {
	color: #cf142b;
	text-decoration: none;	
}
.sbox {
	float: left;
	margin: 10px 0;
	width: 100%;
	/*min-width: 100px;*/
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.sbox h1{
	margin: 0;
	background-color: #e4271d;
	border-top-left-radius: 20px;
	font-size: 1em;
	color: #FFFFFF;
	padding: 5.5555555%;
	text-align: center;
	/*min-height: 20%;*/
}
.sbox img {
	width: 100%;
	margin: 0;
	border-bottom-right-radius: 20px;	
}
.sbox p {
	margin: 0;
	background-color: white;
	color: #00247d;
	color: #FFFFFF;
	font-size: 0.875em;
	padding: 15px;
	border-bottom-right-radius: 20px;	
}
.hbox {
	float: left;
	margin: 10px 0;
	width: 22.8571429%;

	margin-right:2.8571429%;
	/*min-width: 150px;*/
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.hbox h1{
	margin: 0;
	background-color: #00247d;
	border-top-left-radius: 20px;
	font-size: 0.875em;
	color: #FFFFFF;
	padding: 5.5555555%;
	text-align: center;
	min-height: 20%;
}

.hbox img {
	width: 100%;
	margin: 0 0 -3px 0!important;

}
.hbox p {
	margin: 0;
	color: #00247d;
	background-color: #FFFFFF;
	font-size: 0.785714286em;
	padding: 5.5555555%;
	border-bottom-right-radius: 20px;
	text-align: center!important;

}
.hboxR {
	float: left;
	margin: 10px 0;
	width: 22.8571429%;
	margin-right:0;
	/*min-width: 150px;*/
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.hboxR h1{
	margin: 0;
	background-color: #00247d;
	border-top-left-radius: 20px;
	font-size: 0.875em;
	color: #FFFFFF;
	padding: 5.5555555%;
	text-align: center;
	min-height: 20%;
}
.hboxR img {
	width: 100%;
	margin: 0 0 -3px 0!important;


}
.hboxR p {
	margin: 0;
	color: #00247d;
	background-color: #FFFFFF;
	font-size: 0.785714286em;
	padding: 5.5555555%;
	border-bottom-right-radius: 20px;
	text-align: center!important;
}
.ltable {
	display: table;
	table-layout: fixed;	
	width: 100%;
}
.lrow{
	display: table-row;
	width: 100%;
	}
.lcell{
	display: table-cell;
}	
#lbox {
	float: left;
	margin: 10px 0;
	padding: 10px 2.8571429%;
	width: 94.2857143%;
	background-color: #ffffff;
	color: #00247d;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#lbox h2{
	font-size: 1em;
	color: #cf142b;
}
#lbox h3{
	font-size: 0.875em;
	color: #cf142b;
}

#lbox img {
	width: 100%;
	margin: 0;
	border-bottom-right-radius: 20px;	
}
#lbox p {
	font-size: 0.857142857em;
	text-align: justify;
}
p .redp {
	font-size: 1em;
	color: #cf142b;
	font-weight: bold;
/*	text-transform: capitalize;*/
}
.redp {
	font-size: 0.857142857em;
	color: #cf142b;
	font-weight: bold;
/*	text-transform: capitalize;*/
}
.redp a, .redp a:visited {
	text-decoration: none;	
	color: #cf142b;
}
.redp a:hover {
	text-shadow: 0 0 3px #cf142b;	
}

#lower{
/*	background-color: #00247d;
	background-image: url('../images/lowerbg.png');
	background-repeat: repeat-x;*/
	color: #ffffff;
	font-weight: bold;
	float: left;
	margin-bottom: 20px;
	height: 5px;
	width: 100%;
	clear: both;
	background-color: black; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMzZmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTEwMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3651A2', endColorstr='#121724',GradientType=0 );*/ /* IE6-8 */
}
.ui* {
	outline-color: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #fff;
	border-bottom: none;
	border-top: none;
	background: #e4271d;;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #ffffff;
	outline-color: #00247d;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #00247d;
	border-bottom: none;
	border-top: 1px solid #00247d;
	background: #cad8f7;
	font-weight: normal;
	color: #00247d;

}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #00247d;
	outline-color: #cad8f7;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #00247d;
	border-bottom: none;
	border-top: 1px solid #00247d;
	background: #ffffff;
	font-weight: normal;
	color: #00247d;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #00247d;
	outline-color: #fff;
	text-decoration: none;
}
#tabs {
	width: 100%;
	border: 1px solid #00247d;
	border-top: none;
	float:left;
}
#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7, #tab8 {
	background-color: #fff;
}
#tabs ul {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #00247d;
}
#tabs ul li {
	float:left;
	list-style: none;
	padding: 5px 5px;
	font-size: 12px;
	box-sizing: border-box;
	width: 12.5%;
	height: 40px;
	text-align: center;
}
#oxtable
{
	font-size: 0.857142857em;
	margin: 10px 5%;
	width: 90%;
	text-align: left;
	color: #00247d;
}

#oxtable th.lsix
{
/*	font-size: 0.75em;*/
	font-weight: normal;
	padding: 10px 8px;
	color: #ffffff;
	background-color: #00247d;
	width: 16.666666667%;
}
#oxtable th.lfive
{
/*	font-size: 0.75em;*/
	font-weight: normal;
	padding: 10px 8px;
	color: #ffffff;
	background-color: #00247d;
	width: 20%;
}
#oxtable th:first-child {

}
.oxtable
{
	float:left;
	font-size: 0.857142857em;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	color: #00247d;
	padding-top: 15px;
}

.oxtable th.lsix
{
/*	font-size: 0.75em;*/
	font-weight: normal;
	padding: 10px 8px;
	color: #ffffff;
	background-color: #00247d;
	width: 16.666666667%;
}
.oxtable th.lfive
{
/*	font-size: 0.75em;*/
	font-weight: normal;
	padding: 10px 8px;
	color: #ffffff;
	background-color: #00247d;
	width: 20%;
}
.oxtable th:first-child {

}
th:last-child {
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;	
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
#oxtable td
{
	padding: 10px 8px;
	color: #00247d;
	border-bottom: 1px solid #00247d;
}
#oxtable tr:hover td
{
	color: #00247d;
	background: #cad8f7;
}
#oxtable2
{
	font-size: 0.857142857em;
	margin: 10px 5%;
	width: 90%;
	text-align: left;
	color: #00247d;
}
#oxtable2 td
{
	padding: 10px 8px;
	color: #00247d;

}

.oxtable2 td:hover
{
	color: #00247d;
	background: #cad8f7;
}
.oxtable2 tfoot td {
	font-size: 0.8333333em;
}
.oxtable2 tfoot td:hover {
	background-color: #ffffff;
}
.oxtable td
{
	padding: 10px 8px;
	color: #00247d;
	border-bottom: 1px solid #00247d;
}
.oxtable tr:hover td
{
	color: #00247d;
	background: #cad8f7;
}
.oxtable2
{
	font-size: 0.857142857em;
	margin: 10px 5%;
	width: 90%;
	text-align: left;
	color: #00247d;
}
.oxtable2 td
{
	padding: 10px 8px;
	color: #00247d;

}

.oxtable2 td:hover
{
	color: #00247d;
	background: #cad8f7;
}
.oxtable2 tfoot td {
	font-size: 0.8333333em;
}
.oxtable2 tfoot td:hover {
	background-color: #ffffff;
}

ul.oxlist {
	list-style-type:circle;
	font-size: 0.857142857em;
}
.gallery {
	display: table-cell;
	float: left;
	margin: 10px 0;
	width: 22.8571429%;
	margin-right:2.8571429%;
	max-height: 125px;
	overflow: hidden;
	border-bottom-right-radius: 20px;
	}
.gallerylast{
	display: table-cell;
	float: left;
	margin: 10px 0;
	width: 22.8571429%;
	margin-right:0;
	max-height: 125px;
	overflow: hidden;
	border-bottom-right-radius: 20px;
}
.gallery img {
	width: 100%;
	margin: 0 0 -3px 0!important;

}
.gallerylast img {
	width: 100%;
	margin: 0 0 -3px 0!important;

}
#footer {
	background-color: transparent;
	color: #00247d;
	position: relative;
	float: left;
	text-align: center;
	width: 100%;
	padding: 15px 0;
	font-size: 0.714285714em;
}
.msg p {
 font-size: 0.857142857em;
 color: #cf142b;	
}
#oxtableP
{
	font-size: 0.857142857em;
	margin: 10px 5%;
	width: 90%;
	text-align: left;
	color: #00247d;
}
#oxtableP td
{
	padding: 10px 8px;
	color: #00247d;

}
#oxtableP tr:hover td
{
	color: #00247d;
	background: #cad8f7;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

@media screen and (max-width: 767px) {
	.boxhomeLeft{height: auto;}
	#container{margin:0;width: 100%}
	#main{}
	.mbox{width: 47.9166666%;}
	.mbox,.sbox h1{font-size: 0.857142857em;}
	.sbox h1{border-bottom-right-radius: 20px;}
	.sbox img{width: 0;overflow: hidden;}
	#lbox{margin-top:0;}
	ul.topmenu li{line-height: 2em;margin-right:6.25%;}
	.leftSide,.rightSide{float:none;width:97.9166666%;margin-left:1.0416667%;margin-right:1.0416667%;}
	.gmaps {width:1px;height:1px;overflow:hidden;visibility: collapse;}
	/*iframe.gmaps {width:50px;height:50px;}*/
#mainbox img{width: 97.9166666%;margin:10px 1.0416667%;float: left;}
.languages {float: left;width: 97.9166666%;margin: 2px 1.0416667%;text-align: center;}
.languages img {width: 24px;margin: 0 5.5555555% 0 0;}
.leftHome{float: left; width: 97.9166666%; margin: 0 1.0416667%;}
.rightHome{float: left; width: 97.9166666%; margin: 0 1.0416667%;}
.boxhomeLeft img {height: 50%;}
.boxhomeLeft, .boxhomeRight1, .boxhomeRight2 {font-size: 0.857142857em; width: 97.9166666%;}
.boxhomeRight2 {	margin: 10px 1.6129032% 10px 0;}
ul.topmenu li{display:inline;margin: 0 1.0833333% 0 0;}
.ui-tabs-anchor {font-size:9px;}

}
@media screen and (max-width: 1199px) {
	ul.topmenu li{display:inline;margin: 0 1.0833333% 0 0;}
	#tabs ul li {height: 50px;}

}
@media screen and (min-width: 768px) {
	.boxhomeRight1,.boxhomeRight2{height:240px;}
	.boxhomeLeft{height: 240px;}
	.frameBox{height: 180px;padding:0;}
}
@media screen and (min-width: 768px) and (max-width:992px){
   .mtext p{font-size:0.65em;}
}
#testTable {
	font-size: 0.857142857em;
}

#testTable td {
	text-align: justify;
}
.pagination {
	text-align: center;
	margin: 10px auto;
}
.pagination a {
	/*background-color: #EDC424;*/
	color: #00247d;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
	text-decoration: underline;
}
.current, .disabled {
		/*background-color: #db2326;*/
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
}
.current {
	color: #cf142b;
	font-size: 1.25em;
}
.disabled {
	opacity: 0.5;
	color: #00247d;
}
/* Tiny Scrollbar */
#scrollbar1 {margin: 0;height: 157px; overflow:auto; }
#scrollbar1 .viewport {height: 157px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:100%; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y-thin.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 10px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y-thin.png) no-repeat 0 100%; height: 100%; width:5px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -9px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { /*user-select: none;*/ -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
#scrollbar2 {margin: 0; height: 157px; overflow:auto;}
#scrollbar2 .viewport {height: 157px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width: 100%; }
#scrollbar2 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y-thin.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 10px; }
#scrollbar2 .track { background: transparent url(../images/bg-scrollbar-trackend-y-thin.png) no-repeat 0 100%; height: 100%; width:5px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -9px; }
#scrollbar2 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar2 .disable { display: none; }
.noSelect { /*user-select: none;*/ -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
