html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
/*
font-family: 'Tinos', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playball', cursive;
*/
html, body {
    font-family: 'Alegreya Sans', sans-serif;
    color:#000000;
    width: 100%;
    height: 100%;
    font-size:16px;
    background-color: #ffffff;
    
}
img {
    max-width: 100%;
    border: 0;
}
ul {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #a21d18;
    text-decoration: none;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
    background-color:#fff;   
}
#header {
    padding-top: 15px;
    border-top: 5px solid #a21d18;
    background-color: #fff;
}
#social {
    text-align: right;
    color: #9e9e9e;
}
#social ul li {
    display: inline-block;
    padding: 15px;
}
#topmenu {
    background-color: #fff;
    color: #9e9e9e;
    margin: 15px auto;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
}
.selected {
    text-decoration: line-through;
    background-color: #fff;
    color:  #9e9e9e;
}
.error {
    color: #a21d18;
}
.nav>li {
    border-left: 1px solid #cfcfcf;
    padding: 15px;
}
.nav>li:first-child {
    border-left: none;
}
.nav-justified>li {
    float: none;
}
.container {
    width: 970px;
}
#main {
    margin-top: 15px;
    background-color: #fff;
}
.intro {
    text-align: center;
    padding: 45px 0;
}
.intro h1 {
    font-family: 'Playfair Display', serif;
    color: #383838;
    font-size: 2em;
    font-weight: 600;
}
.intro h2 {
    font-family: 'Playfair Display', serif;
    color: #9e9e9e;
    font-size: 1.5em;
    font-weight: 600;
}
.intro p {
    color: #9e9e9e;
    font-size: 1em;
}
.redstripe {
    height: 120px;
    background-color: #cf5955;
    color: #fff;
    border-top: 5px solid #a21d18;
}
.redstripe>.container {
    height: 100%;
}
.homesquare {
    border-left: 1px solid #a21d18;
    text-align: center;
    height: 100%;
    display: table;

}
.homesquare:first-child {
    border-left: none;
}
.homesquare h1 {
    /*padding-top: 40px;*/
    font-size: 1.125em;
    display: table-cell;
    vertical-align: middle;    
}
#leftside, #rightside {
    margin: 30px auto;
}
#leftside {
    border-right: 1px solid #cfcfcf;
    
}
#leftside h1 {
    text-align: center;
    color: #383838;
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: 600;
}
#leftside h2 {
    color: #9e9e9e;
    font-size: 1.125em;
    margin-bottom: 30px;
    font-weight: 600;
}
#leftside p {
    color: #9e9e9e;
    font-size: 0.875em;
}
#rightside h1 {
    text-align:center;
    color: #383838;
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: 600;
}
#rightside h2 {
    text-align:center;
    color: #a21d18;
    font-size: 1.125em;
    margin-bottom: 15px;
    font-weight: 600;
}
#rightside p {
    text-align: justify;
    color: #9e9e9e;
    font-size: 1em;
}
.imgal {
    margin-bottom: 15px;
}
.form-control:focus {
    border-color: #cf5955;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(207,89,85,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(207,89,85,0.6);
}
.img-thumbnail {
    background-color: #ccc;
}
.lb-image{
max-width: inherit;
}
#map_canvas img {
    max-width: inherit;
}
#footer {
    
}
#footer .ftop {
    background-color:#f9f7f8;
    height: 116px;
    padding: 15px;
    margin-top: 15px;
    font-size: 0.825em;
}
#one {
    min-height: 50px;
    padding-left: 40px;
    background-image:url(../img/home.png);
    background-position: top left;
    background-repeat:no-repeat;
}
#two {
    min-height: 50px;
    padding-left: 40px;
    background-image:url(../img/mail.png);
    background-position: top left;
    background-repeat:no-repeat;
}
#three {
    min-height: 50px;
    padding-left: 40px;
    background-image:url(../img/clock.png);
    background-position: top left;
    background-repeat:no-repeat;
}
.ftop img {
    /*float:left;*/
}
.fbottom {
    background-color: #cf5955;
    color: #fff;
    text-align: center;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    padding: 6px;
}
.push {
    height: 155px;
}
.welcome {
    margin: 12% auto 0;
    text-align: center;
}
.welcome>div>p {
    text-align: center!important;
}
#leftwelcome {
    border-right: 1px solid #cfcfcf;
}
#entraosaka, #entraminohana {
    margin-top: 15px;
    font-size: 1.25em;
}
.weladdress {
    margin-top: 30px;
}