html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
html, body {
    color:#000000;
    width: 100%;
    height: 100%;
    font-size:1em;
    background-color: #dbdad6;
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
    border: 0;
}
ul {
    color: #666;
    font-size: 14px;
    font-family: 'Raleway', sans-serif!important;
    padding-left: 40px;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}
p {
    color: #666;
    font-size: 14px;
    font-family: 'Raleway', sans-serif!important;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper {
    height: 1000px; /* TEMP */
    background-color: #fcfbf6;
    min-width: 640px;
        
}
header {
    background-color: #fcfbf6;
    background-image: url(../img/linebg1.png);
    background-position:top left;
    /*height: 84px;*/
    background-repeat:repeat-x;
    /*margin-top: 15px;*/
    display: block;
}
.logo {
    position: relative;
    z-index:100;
    top: 0;
    left: 35px;
}
.navbar {
    border: none;
    position: relative;
    top: 45px;
}
.navbar-nav {
    float: right;
}
.navbar-default {
    background-color: transparent;   
}
.navbar li a {
    font-size: 13px;
    font-weight:600;
}
.my-button {
    background-color: #8b3949;
    border-color: #8b3949;
    color: #fff;
    font-size: 13px;
}
.my-button:hover {
    background-color: #fcfbf6!important;
    border-color: #8b3949;
    color: #333;
}
.social {
    background-color: #fcfbf6;
    padding-top: 5px;
    padding-right: 48px;
    font-size: 24px;
    letter-spacing: 6px;
    color: #8b3949;
    text-align: right;
}
.main {
    background-color: #fcfbf6;
    background-image:url(../img/bigbg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center top;
    padding-top: 30px;
}
#carousel-home-pictures {
    
}
.homeTitle {
    color: #777;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
}
.panel {
    background-color: transparent;
}
.ls-wrapper .liquid-slider {
    background-color: transparent;
}
.offerHome {
    background-color: #c9c7c8;
    background-color: rgba(201,199,200,0.8);
    padding: 10px;
    margin-bottom: 15px;
}
figure {
    margin-bottom: 10px;
}
.caption {
    background-color: #8b3949;
    background-color: rgba(139,57,73,0.8);
    font-size: 24px;
    color: #fff;
    padding: 10px;
    line-height: 24px;
    float: left;
    position: absolute;
    top: 10px;
}
.offerHome .title {
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    margin: 15px auto 5px;
    text-align: center;
}
.incomingBox {
background-color: #c9c7c8;
    background-color: rgba(201,199,200,0.8);
    padding: 10px 0;
    float: left;
    margin-bottom: 30px;
}
.reteweb {
    text-align: center;
}
.collage {
    margin-bottom: 30px;
}
.Image_Wrapper img {
    margin: 5px;
}
#link .row {
    margin-bottom: 0;
}
#link>div {
    
    overflow: hidden;
    margin-bottom: 30px;
}
#link p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    padding-top: 15px;
}
#link a:hover p {
    color: #8b3949;
}
.pdfdownload, .teamCont {
    text-align: center;
    margin-top: 30px;
}
.pdfdownload p {
    font-size: 13px;
}
.formCont, .dataCont, .teamCont {
    margin-bottom: 30px;
}
.teamCont img {
    margin-bottom: 15px;
}
    
/* FOOTER */

footer {
    background-color: #dbdad6;
    color: #666;
    padding: 15px;
    display: block;
}
footer h1, footer p {
    text-align: center;
}

/* GOING RESPONSIVE */

@media(max-width:991px) {
    header {
        background-image: url(../img/linebg-sm1.png);
        background-position:top left;
        /*height: 74px;*/
    }
    .logo {
        top: -1px;
    }
    .navbar {
        top: 35px;
    /*margin-left: 15px;*/
    }
    .nav>li>a {
        padding: 10px 5px;
    }
}
@media(max-width:767px) {
    header {
        background-image: url(../img/linebg1.png);
    }
    .logo {
        top: 0;
        left: 0;
    }
    .navbar {
        top: -50px;
        position: relative;
    }
    .navbar-collapse {
        border: none;
    
    }
    .nav>li {
        display: inline-block;
    }
    .navbar-nav {
        text-align: right;
    }
    .main {
        position: relative;
        top: -70px;
    }
    #link>div {
        clear: left;
    }
    .social {
        padding-right: 15px;
    }
}
@media(max-width:479px) {
    .logo {
        left: 21px;
    }
    .nav>li {
        display: block;
    }
    .navbar {
        top: 0;
        left: 22px;
    }
    .navbar-toggle {
        float:left;
    }
    .navbar-nav {
        float: left;
        text-align: left;
    }
    .my-button {
        width: 247px;
    }
    .main {
        position: relative;
        top: -30px;
    }
    .social {
        text-align: center;
        padding-right: 0;
    }
}
    