@CHARSET "UTF-8";

html,
body {
	background-color:white;
	color:black;
	font-family: Helvetica;
	font-size: 100%;
    margin:0;
    padding:0;
    height:100%;
 }
body img {
	border:0;	
}
img {max-width: 100%;}
#container {
	
	height:100%;
   position:relative;
}

#header {
    background-color:white;
    color:blue;
    text-align: left;
    width: auto;
    padding:10px;
    height: 40%;


}

#main h1 {
font-size: 300%;
font-family: 'Podkova', serif;
color: #000000;
font-weight: normal;
line-height: 200%;

position: relative;

float: left;
width: 100%;
}
#main {


    color: DarkBlue;
    text-align:center;
  /*  margin-top: 0px;*/
    width: 100%;
    height: 50%;

    
/*    margin-bottom: 0px;*/
/*    min-height:100%;*/
    position:relative;
    /*padding-bottom:25px;*/
   /* margin-top:20%;*/

}



#footer {
	background-color:white;
    max-height: 10%;
    height: auto;
    width:100%;
    position: absolute;
    bottom:0;
    text-align:center;
    margin: auto;

    
}
