html, body {
    background-color: #dbdbdb;
    color: #ffffff;
    font-family: 'Julius Sans One', sans-serif;
}
img {
    max-width: 100%;
	border: 0;
	padding: 0;
}
a, a:visited, a:hover {color: #ffffff; text-decoration: none;}
#wrapper {
    background-color: #3a342e;    
    width:1024px;
    margin:10px auto;
    padding: 0 88px;
    box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    -o-box-shadow: 0 0 10px #000000;
}
#header {
    background-color: #3a342e;    
    width: 1024px;
    position: relative;
    /*z-index: 100;*/
}
#name {
    width: 1024px;
    padding: 25px 0;
    text-align: center;
    text-shadow: 0 0 1px rgba(58,52,46,0.3);
}
#nav {
    display: block;
    width: 1024px;
    font-size: 1.375em;
    text-align: center;
    margin: 5px 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}    

#nav ul {
	width: auto;
    position: relative;
	list-style-type:none;
	padding-left: 0;
    margin: 5px 0;

}
#nav ul li{
	display:inline;
    margin: 0 15px;
    padding: 5px;
}
#nav ul li a {
	text-decoration: none;
	color: #ffffff;
}
#nav ul li a:hover {
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
}
#nav ul li a:visited {
	color: #ffffff;
}
#main {

    background-color: #3a342e;    
	width: 1024px;
	position: relative;
    margin-bottom:25px;
	/*z-index:0;*/
}
.mainTop {
    width:1024px;
    height:400px;
    background-color: #ffffff;
    margin: 10px 0;
}
.mainBottom {
    width:1024px;
    height:auto;
    background-color: transparent;
    padding: 0 0 10px 0;
    border-top: 2px solid #ffffff;
    
}
.homecarousel {
    display: block;
    width: 1024px;
    height: 153px;
    font-size: 1.375em;
    text-align: center;
 
}    

.homecarousel ul {
    width: auto;
    position: relative;
	list-style-type:none;
	padding-left: 0;
    margin: 10px 0;

}
.homecarousel ul li{
	display:inline;
    margin: 0;
    padding: 0;
}
.homecarousel ul li a {
	text-decoration: none;
	color: #ffffff;
}
.homecarousel ul li a:hover {
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
}
.homecarousel ul li a:visited {
	color: #ffffff;
}
.brands {
      width:1024px;
    height:60px;
    margin: 10px 0;
    
}

.introtext {
    width: 1024px;
    text-align: justify;
    margin: 0 auto;
    font-size: 1em;
    border-bottom: 2px solid white;
}    
.brandlist {
    width: 860px;
    padding: 10px 82px 0;
}
.brandlist img {
    box-shadow: 0 0 10px #000000;
    margin: 10px 5px;
}
.boxproduct{
    float: left;
    background-color: transparent;
    width: 502px;
	 height: 200px;
    margin: 10px 5px;
}
.boxproduct img {
    box-shadow: 0 0 10px #000000;
}
.leftmargin {

}
.productpic {
    float: left;
    background-color: transparent;
    width: 133px;
    height: 200px;
    margin-right: 10px;
}
.producttext {
    box-shadow: 0 0 10px #000000;
    float: left;
    background-color: #ffffff;
    color: #000000;
    width: 339px;
    height: 180px;
    padding: 10px;
    
}

.producttext h1 {
    font-size: 1em;
    margin: 0 0 5px;
    font-weight: bold;   
}
.producttext h2 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;   
}
.producttext p {
	font-size: 0.825em;	
}
.marca {
    float: left;
    width: 50%;
    text-align: left;
    margin-top: 15px!important;
}
.prezzo {
    float: left;
    width: 50%;
    text-align: right;
    margin-top: 15px!important;

}
.producttext p {
    margin: 0;
    font-family: 'Comfortaa', cursive;   
    font-weight: normal;
    text-align: justify;

}
.formbox {
    background-color: #3a342e;
    color: #ffffff;
    width: 407px;
    box-shadow: 0 0 10px #000000;
    margin: 10px auto;
    padding: 10px;
}
.formbox table {margin-bottom: 10px;}
.formbox .btn {
     padding: 10px;
    width:120px; 
    background: white;
    font-weight: 800;
    color: black;
    border-radius: 5px;
    margin-top: 10px;  
}
.formbox .btn:hover {
    box-shadow: 0 0 5px #ffffff;

}
#cForm td {
    vertical-align: top;
}
#q1,#q2,#q3,#q4,#q5 {border:0;}
#q1:active,#q2:active,#q3:active,#q4:active,#q5:active {box-shadow: 0 0 5px #ffffff;}
#q1:focus,#q2:focus,#q3:focus,#q4:focus,#q5:focus {box-shadow: 0 0 5px #ffffff;}

.brands,.info {
 width: 1024px;    
}
.social a  {opacity: 0.8;}
.social a:hover {opacity: 1;}
#footer {
    position:relative;
    width: 1024px;
    height: auto;
    text-align: center;
    margin: 25px auto 0;
    padding: 0 0 15px;
    font-size: 0.75em;
    background-color:transparent;    
}