html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: 'Vollkorn', sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size:16px;
        background-image: url(../images/woodtexture.jpg);
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
a:hover {
    text-decoration: underline;
}
a.highlight {
    color: #ffffff;
    text-shadow: 0 0 3px #ffffff;
}
#wrapper {
    width: 1024px;
    margin: 15px auto;
}
header {
    width: 1024px;
    height: 150px;
    border-bottom: 1px solid #d5c7ae;
    margin-bottom: 15px;
}
#hleft, #hright {
    width: 327px;
    float: left;
    height: 150px;
}
#hleft ul {
	padding-left: 15px;
}
#hright {
    text-align: right;
}
#hright {
	padding-right: 15px;
}
.topmenul {
    float: left;
    height: 20px;
    color: #DBCFBD;
    font-size: 20px;
    text-shadow: 1px -1px 1px #666;
    margin: 120px 30px 10px 0;
}
.topmenur {
    float: right;
    height: 20px;
    color: #DBCFBD;
    font-size: 20px;
    text-shadow: 1px -1px 1px #666;
    margin: 120px 0 10px 30px;
}
.topmenul:hover, .topmenur:hover {
    color: #ffffff;
}
#selected {
    color: #ffffff;
    text-shadow: 0 0 3px #ffffff;
}
.social {
    opacity: 0.7;
}
.social:hover {
    opacity: 1;
}
#hmiddle {
    width: 340px;
    height: 150px;
    float: left;
    background-image: url(../images/logofeudo.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
#main {
    background-image: url(../images/bookbg1.png);
    width: 1024px;
    height: 540px;
    box-shadow: 5px 5px 10px #000000;
}
.left, .right {
    width: 512px;
    height: 500px;
    float: left;
    color: #5A4A42;
    padding: 20px 0;
}
.left {
    box-shadow: 1px 0px 10px #000000;

}
.left h1, .right h1 {
    font-size: 30px;
    text-align: center;
    padding: 0 0 20px;
    margin: 0 40px 20px;
    height: 32px;
    text-shadow: 0px -1px 2px #fff;
    border-bottom: 1px solid #000000;
}
.left h2, .right h2 {
    width: 432px;
    font-size: 20px;
    text-align: left;
    padding: 0 0 20px;
    margin: 0 40px 0;
    height: 24px;
    text-shadow: 0px -1px 2px #fff;
    float:left;
}

#scrollbarleft {
    height: 428px;
}
#scrollbarright, #placetext {
    height: 500px;
}
.left p, .right p {
    font-size: 13px;
    text-align: justify;
    padding: 0 40px;
    line-height: 20px;
    text-shadow: 0px -1px 2px #fff;
}
.place {
    width: 220px;
    height: 240px;
    margin: 0 0 20px 20px;
    float: left;
}
.placepic {
    width:220px;
    height: 210px;
}
.placetitle {
    width:200px;
    color: #DBCFBD;
    text-align: center;
    padding: 5px 10px;
    height: 20px;
    background-color: #5A4A42;
}
#homeleft {
    background-image: url(../images/homepic_l.jpg);
}
#homeright {
    background-image: url(../images/homepic_r.jpg);
}
.menuitem {
    width: 216px;
    height: 86px;
    margin: 0 0 20px 20px;
    background-image: url(../images/menuitembg1.png);
    float:left;
    text-align: center;
}
.menuitem p {
    text-align: center;
    padding: 28px 0;
    color: #DBCFBD;
    text-shadow: 0px -1px 2px #5A4A42;
    font-size: 24px;
    line-height: 24px;
}
.item_it, .item_en {
    float: left;
    width: 304px;
    padding-left: 40px;
    padding-right: 0;
}
.item_it p, .item_en p {
    font-size: 13px;
    text-align: left;
    padding: 0;
}
.item_en p {
    font-style: italic;
    padding-bottom: 10px;
}
 .item_it_p,.item_en_p {
     float: left;
    width: 128px;
}
 .item_it_p p, .item_en_p p {
    font-size: 13px;
    text-align: right;
    padding: 0;
 }
 .galtable {
     display: table;
     width: 432px;
     margin: 0 40px;
     
 }
 .galrow {
     display: table-row;
     margin: 10px 0;
 }
 .galpic {
     display:table-cell;
     margin: 0 10px;
     vertical-align:middle;
     text-align: center;
     width:124px;
     height: 174px;
 }

 .picshadow {
     max-height: 124px;
     max-width: 124px;
     box-shadow: 1px 1px 5px #666;
 }
 .bigpiccontainer {
     display: table-cell;
     vertical-align: middle;
     height: 426px;
     width:512px;
     text-align: center;
 }
 .bigpiccontainer img {
     box-shadow: 1px 1px 5px #666;
 }
 .newsbox {
    margin: 0 0 15px;
}
h2.news {
    padding:0;
}
h5.news {
    font-size:11px;
    margin: 0 40px 0;
    text-shadow: 0px -1px 2px #fff;
}
.pagination {
	text-align: center;
	margin: 10px auto;
}
.pagination a {
	/*background-color: #5A4A42;*/
	color: #5A4A42;
    font-size: 13px;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
}
.current, .disabled {
	color: #5a4a42;
	/*background-color: #fad991;*/
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
    font-size:13px;
    text-decoration: underline;
}
.disabled {
	opacity: 0.5;
    text-decoration: none;
}
footer {
    width: 1024px;
    height: 48px;
    border-top: 1px solid #d5c7ae;
    margin-top: 15px;
}
footer p {
    color: #DBCFBD;
    margin: 10px 0;
    text-align: left;
    font-size: 12px;
    text-shadow: 0px -1px 2px #5A4A42
}

footer a:hover {
    color: #ffffff;
}