html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
/*
font-family: 'Tinos', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playball', cursive;
*/
html, body {
    color:#000000;
    width: 100%;
    height: 100%;
    font-size:16px;
    background-color: #fff;
    
}
img {
    max-width: 100%;
    border: 0;
}
.img-circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius:50%;
    behavior: url(PIE.htc);
}
.lb-image{
max-width: inherit;
}
ul {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #d87726;
}
p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.875em;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -52px;
    background-color:transparent;
    /*background-image:url(../img/FUORISKEMA001.jpg);
    background-size:cover;*/
}
#header {
    padding-top: 15px;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 85px;
}
.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-nav {
    float: right;    
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Voltaire', sans-serif;
    font-size: 1.125em;
    text-transform:uppercase;
    color: #333;
    text-shadow: 1px -1px 0 #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #000;
    background-color: transparent;
}
.nav>li {
    float:left;
}
.nav>li>a {
    padding: 10px;
}
.navbar-toggle {
    font-family: 'Voltaire', sans-serif;
    font-size: 1.125em;
    text-transform:uppercase;
    background-color: #fff;
    color: #333;
    text-shadow: 1px -1px 0 #fff;
    bottom: 5px;
}

.slides-container h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color:  #fff;
    font-size: 3.5em;
    position: relative;
    top: 40%;
}
#closegallery {
    
    text-align: center;
    
}
#closegallery p {
    font-family: 'Voltaire', sans-serif;
    color: #000;
    text-shadow: 1px -1px 0 #fff;
    cursor: pointer;
}
#picwall h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color:  #fff;
    font-size: 3.5em;
}
.bigcont {
    width: 100%;
}
.claiml {
    text-shadow: 1px 1px 0 #000;
}
.wleather {
    background-image:url(../img/wleather.jpg);
    background-repeat: repeat;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bleather {
    background-image:url(../img/bleather.jpg);
    background-repeat: repeat;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.topp {
    padding-top: 85px;
}
.people, .service>div {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.service>.col-sm-8>p {
    text-align: justify;
}
.bigcont h1, .people>h1 {
    font-family: 'Amatic SC', cursive;
    padding: 15px;
    margin: 15px auto;
    font-weight: 700;
    text-align: center;
}
.people h1 {
    font-size: 1.5em;
}
.service h1 {
    margin: 5px auto;
    font-size: 1.5em;
}

.service {
    margin: 15px auto;
}
.bleather h1 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color:  #fff;
}
.wleather h1 {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    color:  #000;
}
.bleather h5 {
    border-bottom: 2px solid #fff;
    color:  #fff;
}
.wleather h5 {
    border-bottom: 2px solid #000;
    color:  #000;
}

.wleather p {
    font-size:0.875em;
    color: #000;
    text-align: center;
}
.bleather p {
    font-size:0.875em;
    color: #fff;
    text-align: center;
}
#offerte img, #news img {
    height: auto!important;
}
.newsitem {
    margin-bottom: 30px;
}
.newsitem h1 {
    font-size: 2em;
    border-top: none;
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
}
.newsitem h5 {
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 0;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.newsitem p {
    font-size: 0.875em;
    text-align: justify;
}
#allnews {
    width:100%;
    text-align:right;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #fff;
    padding:15px;
    margin-top: 15px;
}
h1.bigtitle {
    font-size: 3em;
    text-align:left;
    border-top: none;
    border-bottom: none;
}
.claimgal {
    font-size: 3em;
    color: #fff;
    background-color: #000;
    cursor:pointer;
}
#spicwall {
    background-image:url(../img/wleather.jpg);
    background-repeat: repeat;
    width: 100%;
    padding-bottom: 30px;
}
.firstimg {
    margin-left: 8.33333333332%;
}
.imgal {
    margin-bottom: 15px;
}
.lb-outerContainer {
    border-radius: 0;
}
.lb-container {
    padding: 16px;
}
.centerize {
    text-align: center;
    margin-bottom: 30px;
}
h1.singleitem {
    border-top: none;
    border-bottom: none;
    text-align: left;
    font-size: 3em;
    margin-bottom: 0;
    padding-bottom: 0;
}
h5.singleitem {
    padding: 0 15px 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-bottom: 15px;
}
.singleitem p {
    text-align: left;
}
.singleitem img {
    margin: 0 15px;   
}
.contactimg {
    float: left;
}
.one>p, .two>p, .three>p, .four>p, .five>p, .six>p  {
    text-align: left;
}
.one {
    background-image: url(../img/addrw.png);
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 64px;
    padding-left: 64px;
}
.two {
    background-image: url(../img/telw.png);
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 64px;
    padding-left: 64px;
}
.three {
    background-image: url(../img/mailw.png);
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 64px;
    padding-left: 64px;    
}
.four {
    background-image: url(../img/addrb.png);
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 64px;
    padding-left: 64px;
}
.five {
    background-image: url(../img/telb.png);
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 64px;
    padding-left: 64px;
}
.six {
    background-image: url(../img/mailb.png);
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 64px;
    padding-left: 64px;    
}
#footer {
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
    padding: 10px 0;
    height: 52px;
}
#push {
    height: 52px;
}
#footer p {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #fff;
    font-size: 0.825em;
    text-align: center;
    line-height: 1.25em;
    padding: 0;
}
/* MEDIA QUERIES */

@media(max-width:767px){
    .navbar-nav {
        float: right;
        background-color: #fff;
        background-color: rgba(255,255,255,0.6);
        position: relative;
        bottom: 7.5px;
    }
    .navbar-collapse {
        position: relative;
        top:11px;
        border-top: none;
        box-shadow: none;
    }
    #contatti .centerize {
        text-align: left;
    }
    #about img, #servizi img {
        max-width: 33%;
    }
    .firstimg {
        margin-left: 0;
    }
}
@media(max-width:419px){
    .navbar-toggle {
        margin-right: 0;
    }
}