<img src="images/people/foto_alessandra_santomarco.png" width="500" height="320" alt="Alessandra Santomarco" />
<h3>ALESSANDRA SANTOMARCO</h3>
<h5>Social Media Strategist</h5>
<p><a href="mailto:alessandras@primah.it">alessandras@primah.it</a></p>