<img src="images/people/foto_claudia_poccetti.png" width="500" height="320" alt="Claudia Pocetti" />
<h3>CLAUDIA POCCETTI</h3>
<h5>Marketing Manager</h5>
<p><a href="mailto:claudia@primah.it">claudiap@primah.it</a></p>