<img src="images/people/foto_gennaro_didomenico.png" width="500" height="320" alt="Gennaro Di Domenico" />
<h3>GENNARO DI DOMENICO</h3>
<h5>Area Account Manager</h5>
<p><a href="mailto:gennarod@primah.it">gennarod@primah.it</a> <span style="color: rgba(215,132,0,1)">|</span> +39 3807736255</p>