<img src="images/people/foto_michele_sestini.png" width="500" height="320" alt="Michele Sestini" />
<h3>MICHELE SESTINI</h3>
<h5>Art Director Junior - Siena</h5>
<p><a href="mailto:micheles@primah.it">micheles@primah.it</a></p>