html, body {
	font-size: 1em;
	color: rgba(24,32,84,1);
	background-color: #D9D2CC;
	background-image: url('rotate.php');
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
}
img {
	max-width: 100%;
	border: 0;
}
h2 {
    margin:0;
    text-align:center;
}
#wrapper {

	width: 975px;
	margin: 0 auto;
	margin-top: 7%;
	}
#header {
	float: left;
	background-image: url(../images/headerlogo3.png);

	color: #172154;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	height: 53px;
	margin: 0 0 0 0;
	width: 975px;
	text-shadow: 0 0 20px #ffffff;
	font-family: Times, serif;
}
#container {
width: 975px;
position: relative;
float: left;

margin: 0 auto;
	}
#nav {
 width: 160px;
 height: 640px;
 margin-right:15px;
 background-color: transparent;
 background-image: url('../images/menulogo.png');
 background-repeat: no-repeat;
 float:left;
 box-shadow: 0 0 10px #333333;

}
#menu {
	background-color: #D9D2CC;
	position: relative;
	top: 275px;
	height: 365px;
	font-family: Times, serif;
	font-size: 1.5em;
	font-weight: bold;

}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	}
#menu ul li {
	display: block;
	height: 47px;
	padding-bottom: 20px;
	color: rgba(24,32,84,1);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}
	#menu ul li:hover {



	}
	#menu ul li a {
	display: block;
	height: 27px;
		padding: 10px 10px;
text-decoration: none;
color: rgba(24,32,84,1);
	background-image: url(../images/menubgli0.png);
border: 0px solid rgba(24,32,84,0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
#menu ul li a:hover {
	background-color: rgba(24,32,84,0);
	background-image: url(../images/menubgli.png);
	color: rgba(255,255,255,1);
	border: 0px solid rgba(24,32,84,1);
}
#menu ul li a.selected {
	background-color: rgba(24,32,84,0);
	background-image: url(../images/menubgli.png);
	color: rgba(255,255,255,1);
	border: 0px solid rgba(24,32,84,1);
}
#main {
	background-color: #D9D2CC;
	width: 800px;
	height: 640px;
	position: relative;
	margin: 0 auto;
	box-shadow: 0 0 10px #333333;

float: left;
}
.hometop {
	height: 350px;
	width: 760px;
	padding: 20px;

	}
.hometop img, .verticalcontent img {
	border-radius: 15px;
	box-shadow: 0 0 10px #333333;
	float:left;
	}
.hometext {
	width: 760px;
	height:350px;
	margin: 0 auto;
	text-align: justify;
	float: left;}

.hometop p {
	margin-top: 0;
	font-size: 0.8125em;
	padding: 0 10px 0 20px;

	}
.homebottom {
	height: 212px;
	width: 800px;

	}
	.homebottomcontent {
	width:760px;
	height:192px;
	padding: 10px 20px;
		}
.flexslider {
	width:780px;
	height:192px;
	padding: 0px 0px;
		}
.verticalcontainer {
	width:760px;
	padding: 20px;
}
.verticalcontent {
	width: 240px;
	height:600px;
	float: left;
	}
.verticalcontent h1 {
 font-family: Times, serif;
 font-size: 1.25em;
 text-align: center;
}
.verticalcontent p {

	font-size: 0.8125em;
	float:left;
	text-align: justify;
}
.verticaltext {
	padding-top: 20px;
	width: 240px;
	height: 372px;
	margin: 0 auto;
	text-align: justify;
	float: left;

}

#vcmiddle {
	margin: 0 20px;
}
.horizontalcontent {
	/*height: 179.666667px;*/
    height: 580px;
	width: 760px;
	padding: 20px 0 0 20px;
	font-size: 0.8125em;

	}
.newsleft {
 width:240px;
 float:left;
 height:160px;
}
.horizontaltext {
	width: 760px;
	/*height: 174.666667px;*/
	overflow: auto;
	float: left;
	padding-bottom: 5px;
    margin-bottom: 5px;
	border-bottom: 1px solid rgba(24,32,84,1);

}
.horizontaltext h1 {
	margin: 0;
 font-size: 1.25em;
}
.horizontaltext p {
	text-align: justify;

}
.horizontaltext a {
    text-decoration: none;
    color: rgba(24,32,84,1);
}
.horizontaltext a:hover {
    text-decoration: underline;
}
h2.news {
    padding:0;
    text-align: left;
    color: rgba(24,32,84,1);
    
}
h5.news {
    font-size:11px;
    color: rgba(24,32,84,1);
    margin: 0;
    
}
.pagination {
	text-align: center;
	margin: 10px auto;
}
.pagination a {
	/*background-color: #5A4A42;*/
	color: rgba(24,32,84,1);
    font-size: 13px;
	margin: 0 5px;
}
.current, .disabled {
	color: rgba(24,32,84,0.5);
	/*background-color: #fad991;*/
	margin: 0 5px;
    font-size:13px;
    text-decoration: none;
}
.disabled {
	opacity: 0.5;
    text-decoration: none;
}
.more {
	width: 760px;
	height: 16px;
	padding: 12px 20px;
	float:right;
	font-size: 0.8125em;
    text-align: center;
}
#ocmiddle {
	margin: 0 20px 0 0;

}

.vcontact {

	width: 370px;
	height: 350px;
	float: left;
	padding: 20px 0;
}
.left {
	height:350px;
padding: 100px 20px 20px 20px;
}
.left p {
font-size: 20px;
margin-top: 50px;
	}

.right {
padding-right: 20px;
margin-top: 60px;
height: 350px;
}

.right p {
	text-align: center;
	font-size: 16px;
}
.right h1 {
	text-align: center;
	font-size: 20px;
	margin: 20px 0 0 0;
	font-family: Times, serif;
	}
img.social {opacity: 0.8;}
img.social:hover {opacity: 1;}
#footer {
	margin-top: 15px;
	padding: 5px 0;
	float:left;
	color: rgba(217,210,204,1);
	background-color: rgba(24,32,84,0.7);
	border-top: 5px double rgba(217,210,204,1);
	border-bottom: 3px solid rgba(217,210,204,1);
 height: 48px;
	width: 975px;
 font-size: 0.75em;
}
.footerinfo{
	width: 965px;
	padding: 0 5px;
	text-align: center;
	float: left;
	}
.footercredits{
		margin-top: 10px;
		width: 965px;
		color: rgba(217,210,204,1);
 		font-size: 0.75em;
		text-align: center;
		padding: 0 5px;
		float: left;
	}
.label {
    position: relative;
    bottom: 50px;
    left: 11%;
    width: 79%;
    background-color: rgba(24,32,84,0.6);
    line-height: 175%;
    color: white;
    font-weight: bold;
    padding: 0 5%;
    text-align: right;
}

ul.medialist {margin: 0;list-style: none;padding:0;}
ul.medialist li {float: left;margin: 0 10px; width: 240px; border-radius: 15px;}
ul.medialist li img {border-radius: 15px;	box-shadow: 0 0 10px #333333;}
ul.medialist li iframe {box-shadow: 0 0 10px #333333;}
ul.medialist li:first-child {margin-left: 0;}
ul.medialist li:last-child {margin-right: 0;}
ul.slides {margin: 0;list-style: none;padding:0;}
ul.slides li {float: left;margin: 0 10px; width: 240px; border-radius: 15px;}
ul.slides li img {border-radius: 15px;	box-shadow: 0 0 10px #333333;}
ul.slides li iframe {box-shadow: 0 0 10px #333333;}
ul.slides a {text-decoration: none;}
/*ul.slides li:first-child {margin-left: 0;}
ul.slides li:last-child {margin-right: 0;}*/
	#scroll {
		margin: 0;
	overflow: auto;
		}
#scroll1,#scroll2, #scroll3 {
		margin: 0;
	overflow: auto;
		}
#scroll .viewport {height: 157px; overflow: hidden; position: relative; }
#scroll .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:100%; }
#scroll .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y-thin.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 10px; }
#scroll .track { background: transparent url(../images/bg-scrollbar-trackend-y-thin.png) no-repeat 0 100%; height: 100%; width:5px; position: relative; padding: 0 1px; }
#scroll .thumb { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -9px; }
#scroll .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scroll .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
