@import "partials/var";

$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "partials/normalize";
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight:400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v3/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/librebaskerville/v3/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff) format('woff');
}

html, body {height:100%; }
body { margin:0; font-family: 'Libre Baskerville', serif;
       color:#572823}
.container{}
.container-fluid{margin:0; padding:0;  }
#contenitore{

    min-height: 100%;
}

.cover {
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    
    height: 450px;
    max-height:450px;

    position: relative;
    clear: both;
}

#frase{font-family: 'Libre Baskerville', serif;
       font-size: 22px;margin: auto;
       letter-spacing: 4px;
       text-align: center;
margin-bottom: 25px;
       text-transform: uppercase;
       img{width: 25%;}
}
.titolobox{font-weight: bold;}
.brown{
       background-color: #3b2c2a;
       color:white;}
#chiaro{background-color: #5b4643;}
.brown #titolofooter{font-size: 25px; font-family: 'Libre Baskerville', serif; margin-top: 20px; margin-bottom: 10px;}
#testofooter{width: 80%; margin: auto; font-size: 12px; margin-bottom: 20px; span{font-size:30px;} a{color:white;}}

#chiaro p{margin:10px auto; a{color:white;}}
/* IE6 hack */

@media screen and (max-width:992px) {
    .cover{max-height: 350px; height: 350px;}
    
}
@media screen and (max-width:768px) {
    .cover{max-height: 250px; height: 250px;}
    
}