span {text-align: center;}
.glyphicon{color:black;}
.glyphiconhome{
    font-size:5em;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    color:black;
  
}

#logo{margin: auto;
      margin-top: 50px;
      margin-bottom: 25px;}
.box2, .box{height: 180px;
            text-align: center;
} 
.box2:hover{background-color: lightgray;}
.titolobox{margin-top: 10px;
          font-family: 'Ubuntu', sans-serif;
           color:black;
           width: 100%;

           margin-bottom:10px;}
.titolopagina{color:black; font-size: 1.3em; }
.fieldset{border:2px solid lightgray;padding: 20px;}
box img{}
.row{margin-bottom: 20px;}
.box2{margin:0px 10px;border:1px solid grey; border-radius:5px;background-color: white;}
.box2 img{padding-top: 25px;}
.nuovo{border:3px solid #000;
 span {color:black;}
}
.edit{border:3px solid #808080;}
.admin{border:3px solid #c0c0c0;}
.titolobox{text-align: center;}
.text-left{ font-family:'Libre Baskerville', serif; }
footer p{font-size: 10px;
         .corponews{border:1px solid lightgrey;}
         a{color:black;}}


         @media (max-width: 767px) { footer{visibility: hidden;}
                                     .box{margin-bottom: 15px;}
                                     .box img{max-height: 180px;margin: auto;}
                                     .box2, .box{height: 50px;} 
                                     .glyphiconhome{font-size: 2em;margin-top: 0px;}
                                     .titolobox{margin-top: 14px;
                                                color:black;
                                                width: 80%;
                                                float:right;

                                                margin-bottom:10px;}
         }
         @media (min-width: 768px) and (max-width: 991px) {.glyphiconhome{font-size: 2em; padding-top: 0;}.box2, .box{height: 100px;} 
         }
         @media (min-width: 992px) and (max-width: 1199px) {  .glyphiconhome{font-size: 4em;}.box2, .box{height: 130px;} 
         }
         @media (min-width: 1200px) and (max-width: 1300px) { }
         @media (min-width: 1301px) { }
.jcrop-holder{margin:20px auto;}