					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Adele Giovannoni</h2></div>
						<div class="pTopR"><h2>Psicologa</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/adelegiovannoni.jpg" />
							<p>
								Psicologa, specializzanda (in corso di diploma) in Psicoterapia Psicoanalitica del bambino, 
								dell'adolescente e della coppia (ASNE SIPsIA).
							</p>
							<p>
								Si occupa del disagio di bambini, adolescenti e delle loro famiglie, nonchè della coppia 
								coniugale e genitoriale, secondo un approccio di tipo psicodinamico.
							</p>
							<p>
								Effettua anche consulenze e progetti presso asili e scuole (pubbliche e private).						
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto:adele_giovannoni@libero.it">adele_giovannoni@libero.it</a> <br>
						<span class="hlt">Telefono</span>: +39 338 9785818</p>
						</div>
					</div>