					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Alessandra Voglino</h2></div>
						<div class="pTopR"><h2>Logopedista</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/alessandravoglino.jpg" />
							<p>Logopedista laureata all'Universita degli Studi di Siena Facoltà di medicina e 
							Chirurgia.</p> 
							<p>Specializzanda al Master di primo livello in Tecniche della Riabilitazione dei 
							D.S.A..</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto:voglino.alessandra@gmail.com">voglino.alessandra@gmail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 329 9884322</p>
						</div>
					</div>