					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Antonella Lauretano</h2></div>
						<div class="pTopR"><h2>Psicologa Psicoterapeuta<br>in terapia delle reazioni familiari</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/antonellalauretano.jpg" />
							<p>
								La Dott.ssa Antonella Lauretano è iscritta all'Albo degli Psicologi della Toscana n° 5126.
							</p>
							<p>
								Specializzanda in Psicoterapia familiare relazionale,  ottica sistemico-relazionale, ognuno di 
								noi è all’interno del sistema famiglia, è il frutto di tre generazione. Ogni famiglia è composta da 
								individui interdipendenti e interagenti tra loro. Pertanto lavoro con le famiglie operando su 4 
								livelli principali di osservazione:
							</p>
							<p><ul class="pList">								
								<li>la storia trigenerazionale della famiglia (nonni-genitori-figli);</li>
								<li>l'organizzazione relazionale e comunicativa attuale della famiglia;</li>
								<li>la funzione del sintomo del singolo individuo nell'equilibrio della famiglia;</li>
								<li>la fase del ciclo vitale della famiglia in cui si presenta il sintomo del singolo.</li>
							</ul></p>
							<p>
								Servizi offerti:
							</p>								
							<p><ul class="pList">								
								<li>consulenza psicologica individuale, di coppia e familiare;</li> 
								<li>percorsi di sostegno alla genitorialità;</li>
								<li>consulenza psicologica per bambini, adolescenti, adulti.</li> 						
							</ul></p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="a.lauretano@virgilio.it">a.lauretano@virgilio.it</a> <br>
						<span class="hlt">Telefono</span>: +39 366 7288340</p>
						</div>
					</div>