					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Benedetta Borgianni</h2></div>
						<div class="pTopR"><h2>Psicologa</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/benedettaborgianni.jpg" />
							<p>
								Psicologa psicoterapeuta, iscritta all'Albo degli Psicologi della Toscana n°4433.<br />
								Specializzata in psicologia clinica.<br />
								Socio ordinario SITCC.<br />
								Specializzata in neuropsicologia dei disturbo specifici dell'apprendimento.<br />
								Attività di psicoterapia di tipo cognitivo comportamentale (indirizzo costruttivista post-razionalista) con adulti e bambini.<br />
								Attività di valutazione neuropsicologica e diagnosi relativa ai disturbi dell'età evolutiva, in modo particolare in riferimento ai DSA.<br /> 
								Attività di formazione e consulenza a genitori e docenti su tematiche relative ai DSA.						
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="bene80b@libero.it">bene80b@libero.it</a> <br>
						<span class="hlt">Telefono</span>: +39 333 2624585</p>
						</div>
					</div>