					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Claudia Liuzzi</h2></div>
						<div class="pTopR"><h2>Logopedista Tirocinante</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/claudialiuzzi.jpg" />
							<p>Logopedista laureata all'Università degli studi di Siena Facoltà di Medicina e Chirurgia.</p>
							<p>Iscritta alla Laurea Magistrale in Scienze Tecniche della Riabilitazione.</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto:liuzzi.cla@gmail.com">liuzzi.cla@gmail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 347 8532759</p>
						</div>
					</div>