					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Debora Ielpo</h2></div>
						<div class="pTopR"><h2>Logopedista</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/deboraielpo.jpg" />

							<p>Logopedista laureata all'Universita degli Studi di Siena Facoltà di medicina 
							e Chirurgia con formazione professionale area del linguaggio e 
							dell'apprendimento.</p>
							<p>Tutor specializzato in attività doposcolastiche con ragazzi con disturbi 
							specifici di apprendimento.</p>
							<p>Iscritta alla Laurea Magistrale in Scienze Tecniche della Riabilitazione.</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto:d.ielpo@libero.it">d.ielpo@libero.it</a> <br>
						<span class="hlt">Telefono</span>: +39 328 4521069</p>
						</div>
					</div>