					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Francesca Labriola Pitch</h2></div>
						<div class="pTopR"><h2>Dietista</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/francescalabriola.jpg" />
							<p>
								Il dietista è "l'operatore sanitario competente per tutte le attività finalizzate alla 
								corretta applicazione dell'alimentazione e della nutrizione, compresi gli aspetti educativi e di 
								collaborazione alla attuazione delle politiche alimentari" (Decreto Ministeriale 14/09/1994).
							</p>
							<p>
								Il dietista impegnato in ambito clinico elabora piani dietetici personalizzati per i pazienti, 
								monitorandoli costantemente e adeguandoli in relazione all'andamento clinico.<br />
								Inoltre il dietista svolge anche attività didttica, educativa e informativa, mirata a far 
								prendere coscienza dell'importanza di "mangiare in maniera equilibrata".
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto:francesca.pitch@libero.it">francesca.pitch@libero.it</a> <br>
						<span class="hlt">Telefono</span>: +39 338 4645769</p>
						</div>
					</div>