					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Francesca Bucciarelli</h2></div>
						<div class="pTopR"><h2>Terapista della Neuro e<br>Psicomotricità dell'Età Evolutiva</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/francescabucciarelli.jpg" />
							<p>
								Dott.ssa Francesca Bucciarelli in terapia della Neuropsicomotricità dell’età evolutiva, Psicomotricista, 
								insegnante di Massaggio A.I.M.I..
							</p>
							<p>
								Il neuropsicomotricista  è un professionista specializzato, in riferimento a diagnosi e prescrizioni mediche 
								si occupa di adattare interventi terapeutici alle caratteristiche dei pazienti in età evolutiva. Utilizza 
								come unico strumento di lavoro il gioco sotto tutte le sue diverse sfumature, in un setting  preparato e modificato 
								per le esigenze di ogni singolo bambino. Il gioco unisce ed integra le componenti emotive, intellettive e corporee.
							</p>
							<p>
								Le sedute di aiuto psicomotorio, neuro psicomotorio si svolgono individualmente o in piccoli gruppi rivolte a: 
								problemi motori, problemi relazionali e pervasivi dello sviluppo, disturbo del comportamento, disagi emotivi, 
								ritardi del linguaggio.							
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="fra.bucciarelli@gmail.com">fra.bucciarelli@gmail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 340 2875219</p>
						</div>
					</div>