					<div class="pTop">
						<div class="pTopL"><h2>Dott.re Gian-Paolo Mazzoni</h2></div>
						<div class="pTopR"><h2>Psicologo Psicoterapeuta<br>Cognitivo-Comportamentale</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/gianpaolomazzoni.jpg" />
							<p>
								Il Dott. Gianpaolo Mazzoni haconseguito la laurea in Psicologia ad indirizzo 
								clinico e dicomunità presso l'Università di Firenze e successivamente si 
								è specializzato in Psicoterapia Cognitivo-comportamentale.
							</p>
							<p>								
								E'inoltre:
							</p>
							<p><ul class="pList">
								<li>Co-responsabile dell’Unità per il trattamento del Disturbo Ossessivo Compulsivo e dei Disturbi d’Ansia, 
								presso la Casa di Cura Neuropsichiatrica Poggio Sereno a Fiesole (FI)</li>
								<li>Codidatta presso la Scuola di specializzazione Cognitivo-comportamentale Studi Cognitivi di Firenze, 
								riconosciuta dal MURST</li>
							</ul></p>
							<p>
								Svolge le seguenti attività cliniche:							
							</p>					
							<p><ul class="pList">
								<li>Valutazioni psicodiagnostiche mediante colloqui, interviste e test</li>
								<li>Psicoterapia cognitivo-comportamentale individuale</li>
								<li>Terapia di coppia</li>
							</ul></p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="gianpaolomazzoni@katamail.com">gianpaolomazzoni@katamail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 333 9840458</p>
						</div>
					</div>