					<div class="pTop">
						<div class="pTopL"><h2>Giulia Sennati</h2></div>
						<div class="pTopR"><h2>Pilates Posturale</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/giuliasennati.jpg" />
							<p>
								Il Pilates Posturale è una ginnastica per ottenere tonicità ed elasticità del proprio corpo. 
								Riequilibra la postura ottenendo maggiore stabilità del tronco e del pavimento pelvico. 
								Ottimizza la respirazione e l'armonia dei movimenti. ottima attività da svolgere in un percorso riabilitativa.
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="giuliasennati@alice.it">giuliasennati@alice.it</a> <br>
						<span class="hlt">Telefono</span>: +39 338 7806408</p>
						</div>
					</div>