					<div class="pTop">
						<div class="pTopL"><h2>Dott.re Marco Anselmi</h2></div>
						<div class="pTopR"><h2>Otorinolaringoiatra</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/marcoanselmi.jpg" />
						<p>
							Servizi offerti: <?php include '../css/loremipsum.php'; ?>
						</p>
						<p><ul class="pList">
							<li>Visita specialistica ORL</li>
							<li>Esame audiometrico</li>
							<li>Timpanogramma</li>
							<li>Esame Impedenzometrico completo</li>
						</ul></p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href=""></a> <br>
						<span class="hlt">Telefono</span>: +39 347 6774644</p>
						</div>
					</div>