					<div class="pTop">
						<div class="pTopL"><h2>Dott.re Paolo Dirindelli</h2></div>
						<div class="pTopR"><h2>Neuropsichiatra Infantile</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/paolodirindelli.jpg" />
							<p>																													
								Sono un giovane specialista in Neuropsichiatria Infantile. Ho effettuato i miei studi 
								presso l'Università degli Studi di Firenze dove continuo a operare dal 2010 come ricercatore 
								nell'ambito dei Disturbi di Personalità e dei Disturbi dell'Alimentazione nel gruppo di lavoro 
								della Prof.ssa Martinetti. Da dicembre scorso ho iniziato la mia attività all'interno del 
								Centro Dedalo.
							</p>
							<p>
								Dal 2006 opero presso il Centro Nascita “La Margherita” dell'Azienda Ospedaliera di Careggi 
								all'interno del progetto “Anche gli uomini aspettano un figlio” per l'accompagnamento alla paternità 
								dei padri. Sempre dal 2006 faccio parte del gruppo di ricerca della Regione Toscana per i 
								Disturbi dell'Alimentazione.
							</p>
							<p>								
								Lavoro inoltre come volontario all'interno del Progetto “Un camper per i diritti” di Medici per I 
								Diritti Umani Onlus di cui sono responsabile da settembre 2010.
							</p>
							<p>								
								Sto tuttora proseguendo il mio processo di formazione frequentando il Master per “L'approccio cognitivo 
								comportamentale ai disturbi psichici dell'Infanzia e dell'Adolescenza” coordinato dal Prof. Celi dell'Università 
								di Parma organizzato da Eclipsi a Firenze. 
							</p>
						

						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto: ilcieloinpatagonia@gmail.com">ilcieloinpatagonia@gmail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 392 1040835</p>
						</div>
					</div>
