					<div class="pTop">
						<div class="pTopL"><h2>Dott.re Riccardo Pardini</h2></div>
						<div class="pTopR"><h2>Educatore Professionale<br>Mediatore Familiare</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/riccardopardini.jpg" />
							<p>
								<strong>Mediazione Familiare:</strong><br />
								Con il termine Mediazione Familiare si intende un percorso di aiuto alla famiglia prima, 
								durante e dopo la separazione o il divorzio. Esso offre un contesto strutturato e protetto 
								in cui affrontare il conflitto e raggiungere accordi concreti e duraturi su decisioni riguardanti 
								i figli, le cose, le relazioni. Il mediatore ristruttura la comunicazione e aiuta la coppia 
								a trovare intesa in virtù della riorganizzazione delle relazioni, attenuando il conflitto e 
								implementando la competenza genitoriale.
							</p>
							<p>
								<strong>Interventi si supporto  educativo:</strong><br />
								Il servizio educativo consiste sia in progetti educativi "diretti" che "indiretti". In entrambi 
								i casi si offre la possibile attivazione di un progetto educativo individuale volto a promuovere 
								lo sviluppo equilibrato della personalità, il recupero e l’integrazione sociale di persone di 
								diversa età ed abilità. In caso di servizio diretto l'operatore si mette direttamente in relazione 
								con "l'educando" perseguendo obiettivi specifici e condivisi con la famiglia e gli altri 
								professionisti coinvolti. Nel secondo caso invece il lavoro procede attraverso colloqui ed incontri 
								di confronto e supporto con i genitori, finalizzati alla riflessione  e  all'individuazione di  
								obiettivi e strategie funzionali all'educazione dei propri figli.
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto:riccardo.pardini80@gmail.com">riccardo.pardini80@gmail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 338 4074819</p>
						</div>
					</div>