					<div class="pTop">
						<div class="pTopL"><h2>Silvia Campanella</h2></div>
						<div class="pTopR"><h2>Psicomotricista Funzionale</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/silviacampanella.jpg" />
							<p>
								Lo psicomotricista funzionale è lo specialista che attua interventi educativi in 
								aiuto a persone di ogni età. La sua azione educativa, realizzata per mezzo di esperienze motorie, 
								genera motivazione e stimola l'intenzionalità fino a fare eseguire alla persona movimenti convenienti, 
								un modo di essere efficace sull'ambiente con un'azione appropriata e adatta ad ogni circostanza 
								(pensiamo agli atti motori coordinati che usiamo per leggere e scrivere).Le aree di intervento sono 
								inoltre molteplici tra cui: stimolazione globale in aiuto a problematiche perinatali, rafforzamento 
								dei prerequisiti funzionali per la lettura e la scrittura,difficoltà di apprendimento,disturbi della 
								coordinazione motoria, disgrafie o difficoltà di scrittura, maldestrezza, mancata lateralizzazione, 
								percorsi di controllo motorio per ipercinetici. 
							</p>
							<p>
								La Psicomotricista funzionale Silvia Campanella riceve su appuntamento il martedì, giovedì e 
								venerdì presso il Centro Dedalo.
							</p>
						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="scampanella78@gmail.com">scampanella78@gmail.com</a> <br>
						<span class="hlt">Telefono</span>: +39 328 6884726</p>
						</div>
					</div>