

					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Valentina Campanella</h2></div>
						<div class="pTopR"><h2>Logopedista - Responsabile del Centro Dedalo</h2></div>
					</div>													
<!--						<div class="pPhoto">									

							
						</div>-->
					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/valentinacampanella.jpg" />																													
							<p>La dott.ssa Campanella Valentina , logopedista possiede una notevole esperienza clinica nel campo dei 
							disturbi del linguaggio e dell apprendimento.  Svolge docenze in ogni scuola di ordine e grado, 
							è formatore per conto dell’Associazione Italiana Dislessia.</p>
							<p>E’ uno degli operatori che opera nel servizio SOS Dislessia sede Siena.</p>
							<p>Possiede un corso Biennale di specializzazione sui DSL  ei DSA.</p>
							<p>Ha frequentato corsi di alta Formazione come Tecnico dell’ apprendimento.  Fondatrice  ed ideatrice del 
							"Centro Dedalo" e del "Dopo scuola Serena-mente" . Membro attivo dell’associazione italiana Dislessia sezione di Siena.</p>
							<p>Iscritta  all università degli studi di urbino “ Carlo Bo”  al corso di Laurea in Scienze e Tecniche psicologiche.</p>
							<p>Trattamenti specifici logopedici e consulenze logopediche per i vari istituti scolastici. Riceve tutti i giorni dalle 9 alle 19.</p>
						
<!--							<table>
							<tr>
								<td rowspan="2"><p>Contatti:</p></td><td><span class="hlt">Email</span>: <a href="mailto:vcampanella@libero.it">vcampanella@libero.it</a></td>		
							</tr>
							<tr>
								<td><span class="hlt">Telefono</span>: +39 0577 236516</td>
							</tr>							
							</table>-->
						<p>Contatti:<br><span class="hlt">Email</span>: <a href="mailto:vcampanella@libero.it">vcampanella@libero.it</a> <br><span class="hlt">Telefono</span>: +39 0577 236516</p>
						</div>
					</div>	





										


