					<div class="pTop">
						<div class="pTopL"><h2>Dott.ssa Valeria Scandurra</h2></div>
						<div class="pTopR"><h2>Neuropsichiatra Infantile</h2></div>
					</div>													

					<div class="pBottom">						
						<div class="pDesc">
							<img src="images/people/valeriascandurra.jpg" />

							<p>Medico Chirurgo - Specialista in Neuropsichiatria Infantile.</p>
							<p>Esperta di disturbi della comunicazione, della socializzazione e disturbi del 
							neurosviluppo.</p>  
							<p>Effettua valutazioni neurologiche e neuropsichiatriche.</p>
						

						<p>Contatti:<br>
						<span class="hlt">Email</span>: <a href="mailto: v.scandurra@yahoo.it">v.scandurra@yahoo.it</a> <br>
						<span class="hlt">Telefono</span>: +39 340 2779049</p>
						</div>
					</div>