

	</div>
	<div id="footer" style="width:958px;overflow:hidden;padding:10px 0;border:1px solid #fff;background-color:#394B69;color:#ffffff;">
		<table id="footert" style="float:left;color:#ffffff;font-size:12px;">
			<tr>
				<td style="padding: 0 5px;"><strong>Gruppo Arkell</strong></td>
				<td style="padding: 0 5px;">Sede di <strong>Colle di Val d'Elsa</strong></td>
				<td style="padding: 0 5px;">Sede di <strong>Badesse</strong></td>
			</tr>
			<tr>
				<td style="padding: 0 5px;">Email: <strong><a href="mailto:info@gruppoarkell.it">info@gruppoarkell.it</a></strong></td>
				<td style="padding: 0 5px;">Via Selvamaggio 21/A</td>
				<td style="padding: 0 5px;">Via Pietro Nenni 16</td>
			</tr>	
			<tr>
				<td style="padding: 0 5px;">P.I.: 01222250522</td>
				<td style="padding: 0 5px;">53034 Colle di Val d'Elsa (SI)</td>
				<td style="padding: 0 5px;">Localit&agrave; Badesse, 53035 Monteriggioni (SI)</td>
			</tr>		
			<tr>
				<td style="padding: 0 5px;">&nbsp;</td>
				<td style="padding: 0 5px;">Telefono: 0577 924618 - Fax: 0577 924625</td>
				<td style="padding: 0 5px;">Telefono: 0577 309058 - Fax: 0577 309141</td>
			</tr>		
		</table>
		<div id="social" style="float:right;margin-top:36px;padding: 0 5px;">
			<a href="http://www.facebook.com/pages/GruppoArkell/384340081625859"><img src="http://www.gruppoarkell.it/images/social_fb.png" alt="Facebook"/></a>
		</div>			
	</div>
</div>
</body>
</html>