<div style="width:550px;">
	<table border="0" cellspacing="0" cellpadding="0" width="550px" style="background-color:#fff;color:#1b2141;font-size:14px;text-align:center;font-family:sans-serif;">
		<tr>
			<td style="width:320px;padding:10px;">
				<img src="http://www.glumcommunication.it/lists/images/clienti/sm_logo.jpg" alt="Concessionaria Siena Motori">
			</td>
			<td style="width:64px;padding:10px 3px;">
				<img src="http://www.glumcommunication.it/lists/images/clienti/peugeot.jpg" alt="Peugeot">
			</td>
			<td style="width:64px;padding:10px 3px;">
				<img src="http://www.glumcommunication.it/lists/images/clienti/mitsubishi.jpg" alt="Mitsubishi">
			</td>
			<td style="width:64px;padding:10px 3px;">
				<img src="http://www.glumcommunication.it/lists/images/clienti/victoria.jpg" alt="Victoria">
			</td>
		</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="0" width="450px" style="background-color:#fff;color:#333;font-size:14px;text-align:left;font-family:sans-serif;height:20px;padding: 0 10px;float:left;">
		<tr>
			<td>
				<p style="margin:0;">Unica concessionaria Peugeot per la provincia di Siena</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="margin:0;">Vendita, Assistenza e Ricambi</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="margin:0;">Via Mengozzi, 11 - Zona Ind. Isola d'Arbia - Siena</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="margin:0;">Via Pisana 14-16 - Localit&agrave; Ponte Spada - Poggibonsi</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="margin:0;">Info-line 0577 374450 - <a href="http://www.sienamotori.it/" title="Siena Motori">www.sienamotori.it</a></p>
			</td>
		</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="0" width="100px" style="background-color:#fff;color:#333;font-size:14px;text-align:right;font-family:sans-serif;float:right;">
		<tr>
			<td style="width:64px;padding:10px 3px;">
				<a href="https://www.facebook.com/autosienamotori" target="_blank">
					<img src="http://www.glumcommunication.it/lists/images/clienti/facebook-m.png" alt="Facebook">
				</a>
			</td>
			<td style="width:64px;padding:10px 3px;">
				<a href="https://twitter.com/sienamotori" target="_blank">
					<img src="http://www.glumcommunication.it/lists/images/clienti/twitter-m.png" alt="Twitter">
				</a>
			</td>
		</tr>
	</table>
</div>