article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-size: 100%; background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: 'Libre Baskerville', serif; text-spacing: 1px; }

#homebox .col-xs-1, #homebox .col-sm-1, #homebox .col-md-1, #homebox .col-lg-1, #homebox .col-xs-2, #homebox .col-sm-2, #homebox .col-md-2, #homebox .col-lg-2, #homebox .col-xs-3, #homebox .col-sm-3, #homebox .col-md-3, #homebox .col-lg-3, #homebox .col-xs-4, #homebox .col-sm-4, #homebox .col-md-4, #homebox .col-lg-4, #homebox .col-xs-5, #homebox .col-sm-5, #homebox .col-md-5, #homebox .col-lg-5, #homebox .col-xs-6, #homebox .col-sm-6, #homebox .col-md-6, #homebox .col-lg-6, #homebox .col-xs-7, #homebox .col-sm-7, #homebox .col-md-7, #homebox .col-lg-7, #homebox .col-xs-8, #homebox .col-sm-8, #homebox .col-md-8, #homebox .col-lg-8, #homebox .col-xs-9, #homebox .col-sm-9, #homebox .col-md-9, #homebox .col-lg-9, #homebox .col-xs-10, #homebox .col-sm-10, #homebox .col-md-10, #homebox .col-lg-10, #homebox .col-xs-11, #homebox .col-sm-11, #homebox .col-md-11, #homebox .col-lg-11, #homebox .col-xs-12, #homebox .col-sm-12, #homebox .col-md-12, #homebox .col-lg-12 { margin: 0; padding: 0; float: left; }

header img { min-width: 50px; }

.dropdown-menu { border: 0px; }
.dropdown-menu li { background-color: black; }
.dropdown-menu li a { color: white; margin-left: 15px; }

.navbar-default { font-weight: 800; background-color: transparent; border: 0px; color: black; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-color: transparent; }

.navbar-default .navbar-nav li a { padding: 15px 10px; padding-bottom: 0; color: black; box-shadow: 0; -webkit-box-shadow: 0; font-weight: 400; }
.navbar-default .navbar-nav li a:hover { text-decoration: underline; }

ul { border: 0px; box-shadow: 0 !important; -webkit-box-shadow: 0; }

.dropdown-menu { border: 0px; border-radius: 0; border: 0px; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; margin-top: 5px; }

.nav .navbar-nav ul { margin-left: 0; padding-left: 0; list-style-type: none; }

#datiinfo { font-size: 18px; margin-top: 10%; }
#datiinfo a { text-transform: uppercase; color: black; }

.dropdown-menu li { padding-left: 0; margin-left: 0; background-color: transparent; }
.dropdown-menu li a { margin-left: 0; padding-left: 0; }

.riganera { height: 1px; position: absolute; top: 70px; }

.riganera hr { width: 98%; border: 0px solid black; color: black; background-color: black; size: 1px; height: 1px; float: left; }

.navbar { margin-top: 50px; }

.navbar-nav > li > .dropdown-menu { margin-top: 1px; background-color: transparent; }

.navbar .dropdown-menu { background-color: transparent; }

.navbar .dropdown-menu li a { background-color: black; color: white; }

.navbar .dropdown-menu li { border-bottom: 1px solid white; }

.navbar .dropdown-menu li a { padding-bottom: 15px; }

#logo2 { visibility: hidden; display: none; }

#titolone { font-size: 30px; font-family: 'Libre Baskerville', serif; }

.boxnews { height: 250px; padding: 10px; font-size: 10px; color: black; margin-bottom: 150px; }
.boxnews img { width: auto; max-height: 200px; margin: auto; }
.boxnews a { color: black; }

.separatore { size: 1; height: 1; border: 1px solid; color: black; }

footer { clear: both; height: 70px; background-color: black; color: white; width: 100%; }
footer a { color: white; }

#detnews p { text-align: left !important; }

#titlepubb { font-size: 20px; text-transform: uppercase; }

#chisono p { font-size: 30px; }

#detbio { padding: 30px; position: relative; margin-bottom: 30px; }

#fotobio img { padding-left: 20px; }

#boxbio1 { position: absolute; top: 0; left: 0; width: 40%; height: 100%; background-color: black; z-index: 0; }

#boxbio2 { position: absolute; top: 0; left: 40%; width: 60%; height: 100%; background-color: #F9F8F6; z-index: 0; }

@media (max-width: 767px) { .riganera { display: none; }
  #logo { display: none; visibility: hidden; }
  #logo2 { display: block; visibility: visible; margin-bottom: 5px; }
  .header-image2 { margin: auto; }
  #chisono p { font-size: 25px; }
  #boxbio1 { visibility: hidden; display: none; }
  #boxbio2 { left: 0; width: 100%; } }
@media (min-width: 768px) and (max-width: 991px) { .navbar-default .navbar-nav li a { font-size: 10px; }
  .navbar .dropdown-menu li a { font-size: 9px; margin-left: 62px; font-weight: 400; }
  #testobio p { font-size: 10px; }
  #chisono p { font-size: 30px; } }
@media (min-width: 992px) and (max-width: 1199px) { .navbar-default .navbar-nav li a { font-size: 14px; }
  .navbar .dropdown-menu li a { font-size: 11px; margin-left: 32px; font-weight: 400; }
  #testobio p { font-size: 12px; }
  #chisono p { font-size: 30px; } }
@media (min-width: 1200px) and (max-width: 1300px) { .header-image { max-width: 180px; }
  .navbar-default .navbar-nav li a { font-size: 14px; }
  .navbar .dropdown-menu li a { font-size: 11px; margin-left: 25px; font-weight: 400; }
  #testobio p { font-size: 15px; }
  #chisono p { font-size: 30px; } }
@media (min-width: 1300px) { .navbar-default .navbar-nav li a { font-size: 15px; }
  .navbar .dropdown-menu li a { font-size: 12px; margin-left: 15px; font-weight: 400; }
  #testobio p { font-size: 15px; }
  #chisono p { font-size: 30px; } }
