html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
li {
    list-style: none;
}
html, body {
    height: 100%;  
    font-size:16px;
    font-family: 'Bree Serif', serif;
    background-color: #f28d45;
    
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}
img {
    max-width: 100%;
}
.altFont {
    font-size: 1.5em;
}
#wrapper {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -63px;
    background-image: url(../img/woksushibg1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-width: 1170px;
}
#push {
    height: 63px;
}
.container {
    max-width: none!important;
    width: 1170px!important;
}
.top, .bottom {
    text-align: center;
}
.top {
    padding-top: 60px;
    background-color: #f8f3ef;
}
.bottom>.up {
    
    background-color: #f8f3ef;
}
.bottom>.down {
    background-color: #f28d45;
}
#topmenu {
    background-image:url(../img/navbg.png);
    background-repeat:repeat-x;
    min-width: 1170px;
    position: aboslute;
    width:100%;
    z-index: 200;
    font-family: 'Pathway Gothic One', sans-serif;
}
#navLeft {
}
#logo {
    text-align: center;
}
#navRight {
    
}
.navbar-nav {
    float: none;
    
}
.nav>li {
    width: 33%;
    text-align: center;
}
.nav>li>a {
    color: #5c5b5a;
    text-transform:uppercase;    
    font-size: 1.25em;
    padding: 30px 5px 5px;
    margin: 0 5px;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li>a.selected {
    text-decoration: none;
    background-color: transparent;
    color: #f28d45;
    border-bottom: 2px solid #f28d45;
}
.main {
    position: relative;
    z-index: 100;
    display: table;
    min-height: 480px;
    padding: 0;
    margin: 0 auto;
    
    /*background-color: grey;*/

}
#slider {
    width: 600%;
    
}
.content {
   /* background-image: url(../img/woksushibg.jpg);
    background-size: cover;*/
    position: relative;
    float:left;
    width: 16.666666667%;
    color: #fff;
    /*padding: 250px;*/
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    margin-top: 30px;

}
.content h1 {
    font-family: 'Bree Serif', serif;
    font-size: 3.75em;
}
.content h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2.25em;   
}
.content h3 {
    font-family: 'Bree Serif', serif;
    font-size: 1.875em;
}
.homeLeft {
    text-align: right;
}
.homeRight {
    text-align: left;
    border-left: 2px solid #fff;
}
.homeLeft p, .homeRight p {
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
}
.transLayer {
    padding: 5px 45px 45px;
}
.transLayer h1 {
    color: #fff;
    font-size: 2.25em;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-left: 120px;
    margin-right:120px;
}
.transLayer p {
    margin-top: 15px;
    color: #fff;
    font-size: 0.875em;
    text-align: left;
    font-family: 'Bree Serif', serif;
    text-shadow: none;    
}
.imgGal {
    margin: 15px auto;
}
.ireneStyle {
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #888;
}
.whiteLayer {
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
    padding: 5px 45px 45px;
    border-radius: 10px;
}
.whiteLayer h1 {
    color: #5c5b5a;
    font-size: 2.25em;
    text-align: center;
    border-bottom: 1px solid #5c5b5a;
    text-shadow: none;
    padding-bottom: 15px;
    margin-left: 120px;
    margin-right:120px;
}
.whiteLayer p {
    margin-top: 15px;
    color: #5c5b5a;
    font-size: 0.875em;
    text-align: left;
    font-family: 'Bree Serif', serif;
    text-shadow: none;    
}
label a, label a:hover {
    color: #fff;
    
}
#page06 .checkbox {
    text-align: left;
}
.error {
    color:red;
    font-family: 'Helvetica', sans-serif;
    text-shadow: none;
    font-weight: 400;
    font-size: 14;
}
.form-control {
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}
input.error, textarea.error {
    text-shadow: none;
    color: #5c5b5a;
    font-family: 'Bree Serif', serif;
}
.alert {
    text-shadow: none;
}
.form-control:focus {
    border-color: #f28d45;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(242, 141, 69,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(242, 141, 69,0.6);    
}
.telephone {
    font-size: 1.25em;
    font-family: "Bree Serif", serif;
    margin-top: 30px;
}
.telephone a, .telephone a:hover {
    color: #fff;
    
}
#footer {
    width: 100%;
    position: relative;
    min-width: 1170px;
    bottom: 0;
    z-index: 500;
    height: 63px;
}
.fContainer {
    width: 100%;
    background-color: #f28d45;
    height: 44px;
    color: #5c5b5a;
}
.fContainer a, .fContainer a:hover {
    color: #5c5b5a;
}
.fLeft {
    padding: 15px 0;
    text-align: left;
}
.fCenter {
    text-align: center;
    padding: 15px 0;
}
.fCenter p {
    font-size: 0.75em;
    line-height: 14px;
}
p.credit {
    
    font-size: 0.75em;
    line-height: 14px;
    padding: 0 5px;
}
.fRight {
    text-align: right;
    padding: 15px 0;
}

#fInfo {
    
    position: relative;
    
}
.fBorder {
    background-image: url(../img/crest.png);
    background-position: bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 19px;
    position: relative;
    top: 1px;
}
/* OTHER FIXES (LIGHTBOX) */

.lb-image, #map_canvas img {
max-width: inherit;
}
#map_canvas {
    color: #5c5b5a;
    text-shadow: none;
    text-align: left;
    
}
#map_canvas p, #map_canvas h1 {
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    text-transform: none;
}
.gm-style-iw {
    height:auto!important;
    padding: 5px 0;
}