html, body {
    color:#000000;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size:1em;
    background-color: #ffffff;
}
img {
    max-width: 100%;
    border: 0;
}
ul {
    list-style-type: none;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    color: #666;
    
}
#wrapper {
    min-width: 48px;
    height: 100%;
    background-color: #000;

}
.notfound, notfound:visited {
    text-decoration:underline!important;
    text-decoration-style:dotted;
}

/* HEADER START */

#header {
    padding-bottom:15px;
    background-color: #fff;    
}
#headerLogo {
    margin-bottom:15px;
}
#social {
    text-align: right;
    position: relative;
    margin-top:  177px;
}
#social a {
    padding: 5px;
}
#social i {
    font-size:32px;
    width: 32px;
}
#social img {
    margin-left: 8px;
}
#logo {
    text-align: center;
    padding-top:10px;
}
.navbar-default .navbar-toggle {
border-color: #888;
}
.navbar-default .navbar-toggle:hover {
background-color: #888;
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ddde4b;
}
.navbar-toggle {
    float:left;
    margin: 8px 15px;
}
.navbar {
    min-height: 1px;
    border-radius: 4px;
}
.navbar-default {
    background-color: #ddd;
    border-color: #ddd;
}
.navbar-carton {
    background-color: #dddddd;
}
.nav-justified>li {
    float: none;
    font-family: 'Titillium Web', sans-serif;
}
.nav-justified>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777;
}
.nav-justified>li>a:hover {
    color: #333;   
}
.nav-justified>li>.dropdown-menu {
    left: auto;
}

/* HEADER END */

/* MAIN START */

#main {
    background-color: #fff;
    padding-bottom: 30px;
}
p {
    color: #666;
    font-size: 13px;
}
.badgeContainer {
    border-bottom: 2px solid #999;
    float:left;
}
.homeBadge {
    text-align: center;
    padding-bottom: 30px;
}
.homeBadge img {
    width: 80px;
    transition:all 0.75s ease-in-out;
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 100px;
    -ms-perspective: 800px;
    -ms-perspective-origin: 50% 100px;
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 100px;
    perspective: 800px;
    perspective-origin: 50% 100px;
}
.homeBadge img:hover {
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);   
}
.homeBadge h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #666;
}
.homeBadge p {
    font-size: 12px;
    text-align: justify;
    padding: 0 7px;
}
#homeSlider {
    margin: 30px auto;    
}
.caretLeft {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 15px solid transparent;
  border-right: 15px solid #666;
  border-left: 0 dotted;
  border-bottom: 15px solid transparent;
  content: "";
}
.imgBorder {
    padding-bottom: 30px;
    border-bottom: 2px solid #999;
}

.newline:nth-child(4n+1) {
    clear:left;
}
.productBox {
    margin-bottom: 15px;
    float:left;
    box-shadow: 0 0 1px #999;
    max-width: 100%;
}

.productPic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 248px;
}
.productLabel {
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}
.productButton {
    text-align: center;
    margin-bottom: 15px;
}
.btn-lime {
    color: #69770f;
    font-weight: 400;
    background-color: #ddde4b;
    border-color: #c6c643;
}
.btn-lime:hover, .btn-lime:focus, .btn-lime:active, .btn-lime.active, .open .dropdown-toggle.btn-lime {
    color: #69770f;
    font-weight: 400;
    background-color: #cece46;
    border-color: #a8a839;
}
.newsH {
    /*display:inline-block;*/
    box-shadow: 0 0 1px #999;
    margin-bottom: 30px;
    margin: 0 30px 30px;
    overflow:hidden;
}
.newsH h1 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}
.newsH h5 {
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 10px;
}
.newsP {
    padding-left: 0px;
}
.newsT {
/*    float: left;
    width: 33.333333%;*/
    padding-left:0;
    
}
.arrowina, .newsT:before {
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:20px solid red;
    position: absolute;
    top: 50px;
    right: 50px;
}
.arrow {
    position: absolute;
    top: 35px;
    left: -34px;
    width: 20px;
    height: 40px;
}
.form-control:focus {
    border-color: #ddde4b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,222,75,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,222,75,0.6);
}
.addressInfo {
    text-align: right;
}
.addressInfo h1 {
    color: #ddde4b;
    font-size: 24px;
    text-shadow: 1px 1px 0px #c6c643;
}
.addressInfo h2 {
    color: #ddde4b;
    font-size: 16px;
    text-shadow: 1px 1px 0px #c6c643;
}
#map_canvas img {
    max-width: inherit;
}
/* MAIN END */

/* BIO BOXES EFFECT */

.aboutPeople {
    padding-top: 0;
    padding-bottom: 30px;
    /*display: inline-block;*/
}
.aboutPeople H1 {
    font-size: 24px;
    margin-bottom:20px;
}

figure {
  display: block;
  position: relative;
  overflow: hidden;
}
.cap-left {
    margin-bottom: 15px;
}
.pushup-form {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.pushup-form.left
{
	/*border-right: solid 2px #000;*/
}
.pushup-form.right
{
	/*border-left: solid 2px #000;*/
}
.clear
{
	clear: both;
}
.contactSlide {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}
.pushup-form {
    height: 100%;
    width: 100%;
    text-align: center;
    background: #999999;
    background: rgba(0,0,0,0.5);
    color: white;
}
.bioText {
    padding: 28px 10px 10px 10px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    overflow:auto;
    height:100%;
    margin: 0;
}
.bioText h1 {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 0 #000;
    margin-top: 0;
}
.bioText p {
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 0 #000;
}
.btn-close
{
    position:absolute;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: rgba(255,255,255,0.75);
    top: 5px;
    right: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #333;
    padding-top: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #000;
}
.btn-close:hover, .btn-show:hover {
    background-color: rgba(255,255,255, 0.85);   
}
.btn-close.left
{
	float: right;
	margin-right: 15px;
}
.btn-close.right
{
	float: right;
	margin-left: 15px;
}
.btn-show
{
    position:absolute;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: rgba(255,255,255,0.75);
    top: 5px;
    right: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: #333;
    padding-top: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #000;
}
.pushup-form
{
	z-index: 100; /*margin-right: -40px;*/
}
.btn-show
{
	z-index: 99;
}
#success
{
	color: #FFEF00;
	height: 30px;
}
p
{
	font-weight: normal !important;
}
/* BIO BOXES EFFECT EFFECT END */

/* PRODUCT PAGE */
section h1 {
    font-family: 'Titillium Web', sans-serif;
    color: #666;
}
.sprite {background-image:url(../img/palette.png);}
.itemColor {width:24px;height:24px; display: inline-block;}
.itemBlack {background-position: 0 0;}
.itemWhite {background-position: -24px 0;}
.itemAvana {background-position: -48px 0;}
.itemGrey {background-position: -72px 0;}
.itemRed {background-position: -96px 0;}
.itemYellow {background-position: 0 24px;}
.itemBlue {background-position: -24px 24px;}
.itemGreen {background-position: -48px 24px;}
.itemOrange {background-position: -72px 24px;}
.itemOther {background-position: -96px 24px;}
.itemDesc {
    border-bottom: 1px solid #ddde4b;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* FOOTER START */

#footer {
    background-color: #000;
    border-top: 2px solid #ddde4b;
    min-height:  250px;
    color: #fff;
}
#footer h1 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 3px;
}
#footer p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
}
#footerInfo {
    margin-top: 30px;
}
#footerInfo1 p, #footerInfo2 p, #footerInfo3 p {
    text-align: left;
}
#footerInfo1 div {
    padding: 0;
}
#footerInfo2 p, #footerInfo3 p {
    padding: 0;
}
#footerInfo1 {
    background-image:url(../img/footer1.png);
    background-repeat:no-repeat;
    background-position: 15px top;
    padding-left: 64px;
    min-height: 36px;
}
#footerInfo2 {
    background-image:url(../img/footer2.png);
    background-repeat:no-repeat;
    background-position: 15px -6px;
    padding-left: 64px;
    min-height: 36px;
}
#footerInfo3 {
    background-image:url(../img/footer3.png);
    background-repeat:no-repeat;
    background-position: 15px top;
    padding-left: 64px;
    min-height: 36px;
}
/* FOOTER END */


/* GOING RESPONSIVE */

@media(max-width:1199px) {
    #social {
        margin-top: 138px;
    }
    .productPic {
        height: 198px;
    }
}
@media(max-width:991px) {
    #stab {
        padding-left: 40px!important;
    }
    #footerInfo1 {
    margin-bottom: 15px;
    float:left;
    width: 100%;
    }
    #social {
        margin-top:168px;
    }
    .productPic {
        height: 143px;
    }
}
@media(max-width:767px) {
    #social {
        top:0;
        text-align: center;
        margin-top: 8px;
    }
    .productPic {
        height: auto;
    }
.newsP {
    padding:0;
}
.newsT {
    padding: 0 15px;
}
.dropdown-menu {
 position: relative;
    width: 100%;
    background-color: #eee;
    border:none;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 0 0 4px 4px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #fff;
text-decoration: none;
background-color: #404040;
    background-color: rgba(0,0,0,0.75);
    color: #ddde4b;
    box-shadow:none;
    
}
.nav-justified>li>a {
text-align: left;;
}
}
@media(min-width:768px) {
 .dropdown-menu {
    background-color: #404040;
    background-color: rgba(0,0,0,0.75);
}
.dropdown-menu>li>a {
    color: #fff;   
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    background-color: #404040;
    background-color: rgba(0,0,0,0.75);
    color: #ddde4b;
}
  
}
/* BOOTSTRAP MOD */
.nav .caret{border-top-color:#777;border-bottom-color:#777} 
.carousel-control.right, .carousel-control.left {
    background: none;
}
