body {
    font-family: sans-serif;
	font-size: 16px;
    background-color: #e6e6e6;
    color: #888;
}
a, a:visited {color: #b52a4d;text-decoration: none;}
a:hover {text-decoration: underline;}
input, select,textarea {max-width:100%;color: #888;font-size:1em;}
textarea {text-align:justify;font-family:sans-serif;}
#contenuto{width:100%;min-height:600px;display:inline-table;background-color: #fff;}
#left{width:172px;min-height:400px;float:left;margin:10px 20px;font-size:0.75em;}
#maincontent{float:left;width:600px;}
.center{width:580px;float:left;margin:0 5px 25px 5px;padding: 0 5px 10px;box-shadow: 0 0 5px #888888; border-radius: 5px;font-size:0.75em;}
.purple{box-shadow: 0 0 5px #b52a4d;}

#centerfirst{width:580px;min-height:360px;float:left;margin:0 5px 25px 5px;padding: 10px 5px 0;box-shadow: 0 0 5px #888888; border-radius:  0 0 5px 5px;font-size:0.75em;}
#centergest{width:780px;min-height:360px;float:left;margin:10px 5px 25px 5px;padding: 10px 5px 0;box-shadow: 0 0 5px #888888; border-radius:  5px;font-size:0.75em;}
tr:nth-of-type(odd) { background-color: #E9E9EA;}
#right{width:172px;float:left;margin:10px 20px;font-size:0.75em;}
#BottoniImmobile{float:left;width:570px;margin:5px;}
#imgdescrizione{width:270px;float:left;min-height:180px;margin:2px 5px 5px 5px ;padding:5px 5px 5px 5px;border-radius: 5px;box-shadow: 0px 0px 5px #888888;text-align:justify;}
#imgschedatecnica{width:270px;float:left;min-height:180px;margin:2px 5px 5px 5px;padding:5px 5px 5px 5px;border-radius: 5px;box-shadow: 0px 0px 5px #888888;}
#RisultatiRicercaInfo{width:570px;float:left;height:30px;text-align:right;}
#cartina{width:360px;float:left;}
#left img,#right img {border-radius: 5px;box-shadow: 0px 0px 3px #888888;}
#campinewsletter{float:left;width:280px;}
#campiricerca{float:left;
    /*border:1px #b52a4d solid;*/
	border-radius:  5px;
	box-shadow: 0px 0px 5px #888;
	width:210px;
    padding:5px;
}
.campiricerca{float:left;
    border-radius: 5px;
	box-shadow: 0px 0px 5px #888;
	width:220px;padding:5px ;
}
.MenuGestioneItem ul {padding: 0;}
li.MenuGestioneItem
{
float: left;
margin-right: 5px;
list-style: none;
    }
.imgNoBorder{padding:0;}
.H1RED{font-size:1.25em;color:#b52a4d;}
.lbl{display:block;width:120px;}
.lblrisultatoricerca
{
    padding-top:3px;
    width: 100px;
    display: block;
    float: left;
    font-size: 1em;
    color: #888;
    
}
.lblricerca
{
    padding-top:3px;
    width: 135px;
    display: block;
    float: left;
    font-size: 1em;
    color: #888;
    font-weight:bold;
}
.itemRicerca{width:210px;float:left;margin-top:5px;font-size:1em;}
.itemimmobile{width:270px;float:left;margin:5px;padding:5px;border-radius: 5px;box-shadow: 0px 0px 5px #888888;clear:left;}
.odd {clear:none;}
.itemRicerca_mezzo{margin-left:0px;width:170px;float:left;padding: 0;}
.itemRicerca_login{margin-left:0px;width:170px;float:left;padding: 0 5px;}
.itemRicerca_narrow{margin-left:0px;width:105px;float:left;}
.itemRicerca_title {height:14px;font-size:1em;text-align:center;color:#b52a4d;width:160; padding:5px;border-radius:5px 5px 0 0;background-image: url('../images/smallbuttonbg.png');background-repeat: repeat-x;}
.itemRicerca_title p {margin:0;}
input.txt{border:1px gray solid;height:15px;width:100px;font-size:11px;}
select.txtdrop{height:18px;width:100px;font-size:0.9em;}
input.txttext{height:15px;width:80px;font-size:0.9em;}
.divCategorieMain{width:280px;float:left;padding:5px 5px 5px 5px;}
.divCategorieMain img {-moz-box-shadow: 0 0 3px #888;-o-box-shadow: 0 0 3px #888;-webkit-box-shadow: 0 0 3px #888;box-shadow: 0 0 3px #888;}
a.bottone:link
{float:left;background-image: url('../images/bottone.png');	background-repeat: no-repeat;	width:120px;height:27px;	display:block;	color:#888k;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;}
a.bottone:visited
{float:left;background-image: url('../images/bottone.png');	background-repeat: no-repeat;	width:120px;height:27px;	display:block;	color:#888;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;}
a.bottone:hover
{float:left;background-image: url('../images/bottone.png');	background-repeat: no-repeat;	width:120px;height:27px;	display:block;	color:#888;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;}

.divFlag {
    margin: 0;
    float: left;
    width: 50%;
}
/*a.bottone_griglia:link
{float:left;line-height:5px;background-image: url('../images/bottone_griglia.png');	background-repeat: no-repeat;	width:60px;height:17px;	display:block;	color:black;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;font-size:0.8em;}
a.bottone_griglia:visited
{float:left;line-height:5px;background-image: url('../images/bottone_griglia.png');	background-repeat: no-repeat;	width:60px;height:17px;	display:block;	color:black;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;font-size:0.8em;}
a.bottone_griglia:hover
{float:left;line-height:5px; background-image: url('../images/bottone_griglia.png');	background-repeat: no-repeat;	width:60px;height:17px;	display:block;	color:black;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;font-size:0.8em;}*/
/*a.bottone_griglia_large:link
{float:left;line-height:5px;background-image: url('../images/bottone_griglia_large.png');	background-repeat: no-repeat;	width:120px;height:17px;	display:block;	color:black;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;font-size:0.8em;}
a.bottone_griglia_large:visited
{float:left;line-height:5px;background-image: url('../images/bottone_griglia_large.png');	background-repeat: no-repeat;	width:120px;height:17px;	display:block;	color:black;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;font-size:0.8em;}
a.bottone_griglia_large:hover
{float:left;line-height:5px; background-image: url('../images/bottone_griglia_large.png');	background-repeat: no-repeat;	width:120px;height:17px;	display:block;	color:black;	padding:5px 0 0 0;	text-align:center;	text-decoration:none;font-size:0.8em;}*/

a.bottone_100, a.bottone_griglia, a.bottone_griglia_large {
    float:left;
    background-image: url('../images/smallbuttonbg.png');
    background-repeat: repeat-x;
    width:100px;
    height:19px;
    display:block;
    color:#888;
    padding:5px 0 0 0;
    margin: 5px 55px;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:1em;
    -moz-box-shadow: 0 0 5px #888888;
    -wekit-box-shadow: 0 0 5px #888888;
    -o-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

a.bottone_griglia, a.bottone_griglia:visited {
    width:64px;
    height:18px;
    padding:3px 5px 2px;
    margin: 0 5px;
}
a.bottone_griglia_large, a.bottone_griglia_large:visited {
    width:120px;
    height:18px;
    padding:3px 5px 2px;
    margin: 0;
}
a.bottone_100:hover, a.bottone_griglia:hover, a.bottone_griglia_large:hover {
    color:#b52a4d;
    -moz-box-shadow: 0 0 1px #888888;
    -wekit-box-shadow: 0 0 1px #888888;
    -o-box-shadow: 0 0 1px #888888;
    box-shadow: 0 0 1px #888888;     
}
a.bottonecategoriemain {
    float:left;
    background-image: url('../images/smallbuttonbg.png');
    background-repeat: repeat-x;
    width:180px;
    height:19px;
    display:block;
    color:#888;
    padding:5px 0 0 0;
    margin: 10px 50px;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:1em;
    -moz-box-shadow: 0 0 5px #888888;
    -wekit-box-shadow: 0 0 5px #888888;
    -o-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
a.bottonecategoriemain:hover {
    color:#b52a4d;
    -moz-box-shadow: 0 0 1px #888888;
    -wekit-box-shadow: 0 0 1px #888888;
    -o-box-shadow: 0 0 1px #888888;
    box-shadow: 0 0 1px #888888;    
}
input.chiudi
{background-color:transparent; border:0;background-image: url('../images/ok-button_ss.png');	background-repeat: no-repeat;	width:32px;height:19px;cursor:hand;margin: 3px 84px;box-shadow: 0 0 5px #888;}
input.chiudi:hover {box-shadow: 0 0 2px #888;}
img {
    max-width:100%;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#container{
	
	width: 1024px;
	margin: 25px auto 12px;
	box-shadow: 0px 0px 10px #888888;
}
#header{
	background-color: #ffffff;
	height: 140px;
	margin: 0 auto;	
	width: 1024px;
	border-bottom: 5px solid #b52a4d;
	z-index:300;
}
#logo{
    width: 192px;
	float: left;
	margin: 25px 10px 24px 10px;
}
#headermiddle {
    float: left;
    width: 600px;   
}
#claim{
    float: left;
    width: 580px;
    height: 50px;
    padding: 10px;
	margin-top: 35px;
    text-align: right;
}
#claim h2{
	font-family: "Times", serif;
	font-style: italic;
	font-weight: 100;
	margin: 30px auto;
	color: #b52a4d;
    font-size:1.25em;
    
}
#social{
	float: left;
    width: 192px;
    height: 35px;
	margin: 10px;
    text-align:center;
}
#fastSearch {
/*    width: 192px;
    height: 40px;
    margin: 10px 5px 40px 15px;
    color: #b52a4d;
    float:left;
    line-height:36px;
    overflow:hidden;*/
    width: 197px;
height: 44px;
margin: 0px 0px 46px 0;
color: #b52a4d;
border-bottom-left-radius: 5px;
float: left;
padding-left: 15px;
line-height: 36px;
background-color: #ddd;
}
input.fsearchbutton
{background-color:transparent; border:0;background-image: url('../images/fsearchicons.png');background-position: 0 -32px;    background-repeat: no-repeat;	width:32px;height:32px;vertical-align:top;cursor:hand;margin: 4px 0;}
input.fsearchbutton:hover {background-position: 0 0;}
#social img {
	margin: 0 5px;
}
input#txtFastSearch {
    padding:  0 0 0 3px;
    margin: 8px 0;
    width: 142px;
    height:24px;
    border-radius: 5px;
    font-size:12px;
}
#social a, #social a:visited {opacity: 0.6;}
#social a:hover {opacity: 1}
#menu{
    float: left;
	background-color: #ffffff;
    background-image: url('../images/buttonbg.png');
    background-repeat: repeat-x;
	border-top: 5px solid #b52a4d;
	border-right: 5px solid #b52a4d;
	border-left: 5px solid #b52a4d;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #888888;
	color: #b52a4d;
	margin: 0;
	height: 35px;
	width:590px;
	z-index: -90;
}
ul.topmenu {
	float: left;
	display:inline;
	list-style-type:none;
	margin: 8px auto;
    padding: 0;
	text-align: center;
}
ul.topmenu li{
	float: left;
	display:inline;
	margin: 0 15px;
    width: 86px;
    text-align: center;
    /*border-bottom: 2px solid #e9e9ea;*/
}
ul.topmenu li a {
	text-decoration: none;	
	color: #888;
    font-weight: 400;
}
ul.topmenu li a:visited {
	color: #888;	
}
ul.topmenu li a:hover {
	color: #b54a4d;
	/*border-bottom: 2px solid #b54a4d;*/
}
#tools {
    width: 212px;
    float: left;
    padding: 10px 0;
}
.headerbutton {
    background-color: #ffffff;
    background-image: url('../images/buttonbg.png');
    background-repeat: repeat-x;
    color: #888;
    height: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    -moz-box-shadow: 0 0 5px #888888;
    -wekit-box-shadow: 0 0 5px #888888;
    -o-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;    
}
.headerbutton:hover {
    color: #b54a4d;
    -moz-box-shadow: 0 0 1px #888888;
    -wekit-box-shadow: 0 0 1px #888888;
    -o-box-shadow: 0 0 1px #888888;
    box-shadow: 0 0 1px #888888;    
}
#BodyContent_bloccoricerca {
    float:left;
    /*height:360px;*/
    width: 580px 10px;
    padding: 0 0 25px 0;
}
.agencyitem {
    margin:10px 5px;
    width:570px;
    box-shadow:0px 0px 5px #888;
    float:left;
    border-radius:5px;    
}
.up_agenzia {
    float:left;
    padding: 5px;
    text-align:left;
    margin: 0 0 10px 0;
}
.down_agenzia {
    float:left;
    padding: 10px;
    text-align:justify;
    background-color: #e9e9ea;
}
.logo_agenzia, .dati_agenzia {
    width: 270px;
    float: left;
    padding: 5px;
    text-align:center;
}
.logo_agenzia img {
    width: 100%;
}
#BodyContent_ApriAree {
/*width: 92px;
    height: 10px;
    padding: 2px 23px 1px 3px;
    background-color: rgb(221,221,221);
    border: 1px solid rgb(136,136,136);
    border-radius: 3px;
    font-size:11px;
    color: rgb(136,136,136);
    text-decoration: none;
    -o-padding: 2px 10px 1px 3px;*/
}
#BodyContent_ApriAree a,#BodyContent_ApriAree a:hover,#BodyContent_ApriAree a:visited {
    font-size:11px;
    color: rgb(136,136,136);
    text-decoration: none;
}
#BodyContent_txtPrivacy {
    width: 294px;
    height: 225px;
    font-family: sans-serif;
    font-size: 0.75em;
    text-align: justify;
    margin: 0 0 10px 0;
}
#BodyContent_txtPrivacy p {

}
#BodyContent_Gestionale_panGrigliaImmobili {
    margin: 0 0 25px 0;
}
#BodyContent_Gestionale_grdImmobili {
    margin:25px 0 0 0;
    width: 760px;
    border: 0 solid white;
    float:left;
}
#BodyContent_Gestionale_grdImmobili td {
    border-bottom: 1px solid #ccc;

}
#BodyContent_txtPrivacy {
    font-size: 1em;
}
.generictable, .condivisioni {
    width: 780px;
    margin-bottom: 25px;
    float:left;
    font-size:1em;
}
.condivisioni td {
    border-bottom: 1px solid #ccc;
}
.halfgenerictable {
    width: 380px;
    margin-bottom: 25px;
    float:left;
    font-size:1em;    
}

.generictable td {
    
}
#footer {
    width: 1024px;
    height: 20px;
    margin: 0 auto 12px;
    font-size: 0.7em;
}
.footerleft {
    padding: 0 20px;
    float: left;
    text-align: left;
}
.footermid {
    width: 1px;
    padding: 0 10px;
    text-align: center;
    float:left;
}
.footerright {
    padding: 0 20px;
    float: right;
    text-align: right;
}
/*FORM REGISTRATION SMART */
.divLoginSmart{width:250px;height:340px;border-radius:5px;	box-shadow: 0px 0px 5px #888888;position:absolute; z-index:20;left:40%;top:25%;background-color:white;padding:10px 10px 10px 10px;}
.divRiga{width:250px;height:30px;float:left;}
.lsdsfield{width:125px;float:left;font-size:11px;}
input.smartlogin{width:120px;height:15px;font-size:11px;}
.lsfield{width:125px;float:left;}
.lblloginerore{width:125px;float:left;color:Red;font-weight:bold;}
/*FINE FORM REGISTRATION SMART */

/* ELENCO IMMOBILI*/
.itemagenzia
{width:240px;float:left;margin:2px 2px 2px 2px;height:300px;}
.localitaElenco{width:240px;height:15px;font-weight:bold;font-size:0.9em;display:block;float:left;padding-top:3px;}
.descrizioneElenco{width:240px;height:30px;font-size:0.9em;display:block;float:left;margin:5px 0 5px 0;}
.datiElenco{width:240px;height:15px;font-weight:bold;font-size:0.9em;display:block;float:left;margin-bottom:3px;}
.bottoniElencoImmobili{width:270px;float:left;margin:15px 0 5px;}
/* ELENCO IMMOBILI */

/*PAGINATORE*/
.PageNumber {width:25px; text-align:center;}
.Butt_ArrowRight          {width:14px; height:15px; color:#fff; background:url(../images/OS_Arrow_Right.png) no-repeat 0 0; border:none !important; display:block inline;margin:0px 0 5px 0; float:left;}
.Butt_ArrowRight:hover    {background-position:0 -15px; color:#044e86; cursor:pointer;}
.Butt_ArrowRightoff       {width:14px; height:15px; color:#838384; background:url(../images/OS_Arrow_RightOff.png) no-repeat 0 0; border:none !important;  display:block inline;margin:0px 0 5px 0; float:left;}
.Butt_ArrowLeft          {width:14px; height:15px; color:#fff; background:url(../images/OS_Arrow_Left.png) no-repeat 0 0; border:none !important; display:block inline;margin:0px 0 5px 0; float:left;}
.Butt_ArrowLeft:hover    {background-position:0 -15px; color:#044e86; cursor:pointer;}
.Butt_ArrowLeftoff       {width:14px; height:15px; color:#838384; background:url(../images/OS_Arrow_LeftOff.png) no-repeat 0 0; border:none !important;  display:block inline;margin:0px 0 5px 0; float:left;}

A.ordina { color:#888;font-size:11px;}

/*FINE PAGINATORE*/

/*GESTIONALE*/

span.gestionale {}
input.gestionale {}
textarea.gestionale {}
select.gestionale {}
#map_canvas {margin:1px!important}
.boundgestionale {}
.BottoniUpGestioneImmobili{width:600px;float:left;}
/*FINE GESTIONALE*/
/*GALLERY MAKER*/

.galleryitem{width:174px;float:left;margin:4px;padding:5px;border-radius: 5px;box-shadow: 0px 0px 5px #888888;}
.galleryUpload{width:580px;height:80px;float:left;}
.galleryitems{width:580px;float:left;}
a.linkGestionale:link{font-size:11px;color:#b52a4d;}
a.linkGestionale:visited{font-size:11px;color:#888888;}
a.linkGestionale:hover{font-size:11px;color:#b54a4d;}
.divlogin{float:left;
    /*border:1px #b52a4d solid;*/
    border-radius: 5px;
	box-shadow: 0px 0px 5px #888888;
	width:170px;
    padding:0 0 10px;
    margin: 14px 0;
}
.lognoborder {
    width:250px;margin:25px 129px;box-shadow: 0 0 0 white;
    padding: 36px;border-bottom:0 solid #b52a4d;border-radius:0;
}
/*FINE GALLERY MAKER*/

#areatable {
    float: left;
overflow-y: auto;
width: 100%;
height: 264px;
margin: 0 0 5px 0;
}
#areaclosebutton {
    float:left;
    width:100%;
    height: 25px;
    margin-top:10px;
}
#BodyContent_divSelAree {
    overflow:hidden;
}

.apriTT{ font-size:18px; font-family:Verdana, Geneva, sans-serif; float:right; margin-right:50px;}
.chiudiTT{ font-size:18px; color:#000; font-weight:bold; position:absolute; right:2%; top:0%;  cursor:pointer;}
.overlayTT{ display:none;   background:gray; width:100%;height:100%;position:fixed;    top:0px;    bottom:0px;    left:0px;    right:0px;    z-index:100;    cursor:pointer;/*Trasperenza cross browser*/opacity:0.7; filter: alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";    } 
#boxTT{ width:600px; height:400px; background-color:#FFF; display:none; z-index:+300; position:absolute; left:30%; top:20%; -moz-border-radius: 15px;  -webkit-border-radius: 15px;border-radius: 15px;}