
/* Entypo Icon Font */
@font-face {
  font-family: 'entypo-selected';
  src: url("font/entypo-selected.eot");
  src: 
	  url("font/entypo-selected.eot?#iefix") format('embedded-opentype'), 
	  url("font/entypo-selected.woff") format('woff'), 
	  url("font/entypo-selected.ttf") format('truetype'), 
	  url("font/entypo-selected.svg#entypo-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}


.containergallery {
	width: 100%;
	position: relative;
}

.main {
	padding: 30px 20px 100px 20px;
	max-width: 1580px;
	margin: 0 auto;
}
