article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-size: 100%; background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: "Ubuntu", sans-serif; overflow-x: hidden; }

#bigscreen { min-height: 420px; background-image: url("img/sfondo1.jpg"); background-position: center center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#bigscreen2 { min-height: 420px; background-image: url("img/sfondoazienda.jpg"); background-position: center center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#bigscreen3 { background-color: #9ca6b2; }

#logo { z-index: 500; }

.navbar-default { background-color: transparent; border: 0px; }

.navbar-default .navbar-nav > li > a { text-transform: uppercase; font-weight: 700; color: white; z-index: 500; }

.navbar-default .navbar-nav > li > a:hover { color: white; border-bottom: 1px solid white; }
.navbar-default .navbar-nav > li > a:hover img { margin-bottom: 3px; }

#backhome { position: fixed; bottom: 30px; right: 30px; z-index: 999; }

#barralingue { height: 20px; }

.navbar-toggle { color: white; }
.navbar-toggle:hover { color: black; }

#languages { color: black; text-align: right; width: 100%; padding-right: 20px; }

.fb { color: blue; }

#languages ul { width: 100%; text-align: right; }

#languages li { float: right; list-style: none; padding-right: 10px; }

#languages li a { color: black; }

#languages li.fb { margin-left: 20px; }
#languages li.fb a { color: blue; }

#postogiusto h1 { color: white; font-size: 30px; font-weight: 900; margin-left: 2px; margin-top: 15%; }

#prenota { float: right; right: 10%; border-radius: 0px; border: 2px solid black; background-color: white; font-weight: bold; width: auto; }
#prenota:hover { color: green; }

#prenota3 { float: right; right: 10%; margin-top: 25px; border-radius: 0px; border: 2px solid black; background-color: white; font-weight: bold; width: auto; }
#prenota3:hover { color: green; }

.icona { float: left; margin-right: 20px; margin-top: 20px; }

.servizi { padding-bottom: 10px; }

.servizi h3 { font-size: 12px; margin-left: 70px; }

.container { margin: auto; }

.grigia { background-color: #f2f0f1; margin-top: 100px; width: 100%; }

#azienda h1 { margin: auto; margin-bottom: 18px; text-align: center; margin-top: 20px; }

#scopri_btn { width: 100px; background-color: black; color: white; margin: auto; margin-bottom: 20px; border-color: black; border-radius: 0px; }

.loading #container { opacity: 0; }

.loading:before { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: black; font-weight: bold; font-size: 60px; opacity: 0.3; }

#posta { background-color: grey; color: white; }

#footer { margin-top: 25px; min-height: 70px; background-image: url("img/footer.jpg"); background-position: center center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }
#footer p { color: white; }
#footer a { color: white; }

#magica #prenota { margin-top: 30px; }

.thumb { padding: 5px 0 5px 0; }

.senzamenu { margin-top: 20px; }

.table-responsive h5 { padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }
.table-responsive h4 { margin-top: 5px; margin-bottom: 5px; }

.form-control { background-color: #f2f1f1; color: #898486; }

.input-daterange { width: auto; }

.campitesto { padding-bottom: 20px; }
.campitesto label { margin-top: 8px; }

label { font-weight: 400; }

.anagrafe { background-color: #f2f1f1; }

#sesso { margin-left: 2px; margin-right: 17px; }

#carouselHome { margin-top: 20px; }

#contacts { margin-top: 20px; padding-bottom: 20px; min-height: 750px; }

.carousel-control { background-color: transparent; opacity: 0; margin-top: -35px; }

input[type="checkbox"] { width: 20px; }

#colsx { border-bottom: 1px solid lightgrey; padding-bottom: 20px; }

.listgallery li { list-style: none; padding-left: 0; }
.listgallery li img { cursor: pointer; }

img.imagegallery { width: 100%; margin-bottom: 20px; }

.modal-backdrop.in { opacity: 0.9; }

.listgallery { margin-top: 20px; }

.elemento { text-align: center; }
.elemento h3 { margin: auto; width: 100%; text-align: center; }
.elemento img { margin: auto; width: 80%; text-align: center; margin: 10% 0; }
.elemento .btn { text-align: center; }

@media all and (min-width: 0px) and (max-width: 767px) { #prenota { position: absolute; left: 50%; margin-left: -50px; width: 100px; top: 350px; }
  #postogiusto { float: left; }
  #prenota3 { float: none; margin: 10px auto; right: 0; }
  #magica { text-align: center; margin: auto; } }
@media all and (min-width: 768px) and (max-width: 991px) { .griglia { margin-top: 10px; }
  .navbar-default .navbar-nav > li > a { font-size: 11px; padding: 15px 5px 5px; } }
@media all and (min-width: 992px) { .navbar-default .navbar-nav > li > a { font-size: 14px; padding: 15px 5px 5px; }
  #prenota { top: 250px; }
  #azienda img { width: 100%; } }
