@CHARSET "UTF-8";

html,
body {
	background-color:white;
	color:black;
	font-family: Helvetica;
    margin:0;
    padding:0;
    height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

.header {
    background-color:white;
    color:blue;
    text-align: left;
    width: auto;
    padding:10px;
}

#main {

    background-color: White;
    color: DarkBlue;
    text-align:center;
    margin-top: 0px;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    min-height:100%;
    position:relative;
    padding-bottom:25px;
    margin-top:20%;
}



.footer {
	background-color:white;
    height: 40px;
    width:100%;
    position:absolute;
    bottom:0;
    text-align:center;
}
