html, body {
	height: 100%;
}

#container {
/*	min-height: 100%;
margin: 0 auto -142px;*/
  
	height: 100%;
	font-family: 'Doppio One', sans-serif;
	/*padding-bottom: 150px;*/
	  min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; 

}

#header {
   position: fixed;
	z-index: 1900;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: #fff;
	color: red;
	font-family: 'Doppio One', sans-serif;
}
#header h1{
	font-size: 30px;
	font-weight: normal;
	text-transform: none;
	color: #000;
	/*text-shadow: 0px 1px 1px rgba(0,0,0,0.3);*/
	background: #fff;
	margin-left: 100px;
	padding-top: 35px;
}
#header a{
	text-decoration: none;	
	color: #000;
}
.textmiddle {vertical-align:middle;} 
.separator{
position: absolute;
top: 50px;
left: 50%;
margin: auto;
z-index: 2000;
}
#main {

   position: relative;
   top: 0;
   padding-top: 120px;
	overflow: auto;
	background-color: white;
	min-height: 100%;
	height: 100%;
	margin-top: 0px;
	background-image: url('logo_opacity_small.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: 50% 80%;
	padding-bottom: 0px; 
	z-index: 2;


}
	
#main h2{
	font-size: 48px;
	padding: 10px 0px 10px 0px;
	margin-top: 0px;
	color: #000;
/*	color: rgba(255,255,255,0.9);*/
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

#footer, #push {
  position: relative;
  
	background-color: #fff;
	color: #000;
	height: 30px;
	z-index: 1;
	clear: both;
} 


.picsWho img{
	border: 5px solid #000;
	border-bottom: 20px solid #000;
	padding: 10px;	
}
/* Navigation Bar */
#navigation{
   position: fixed;

	z-index: 1900;
	top: 60px;
	right: 75px;
}
#navigation a{
   /*display: inline-block;*/
	font-size: 18px;
	font-weight: normal;
	width: auto;
	height: 24px;
	color: #000;
  line-height: 24px;
	text-align: center;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
	background: #fff;
	text-transform: none;
	text-decoration: none;
	padding: 25px 25px 0px 25px;
}
#navigation a:hover{
	background: white;
	color: rgba(215,132,0,1);
}
#navigation a.current,
#navigation a.current:hover{
	background: #000;
	color: #fff;
	cursor: default;
}
body#homebu a#homebunav {
	background: #fff;
	color: rgba(215,132,0,1);
	cursor: default;

}
