html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	font-family: sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size:14px;
	background: #ffffff url('../images/bgtexture.jpg') repeat;
}
img {
	max-width: 100%;
	border: 0;
}
ul {
	list-style-type: none;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
#wrapper {
	width: 100%;
	min-height: 100%;
}
#superheader {
	width: 100%;
	height: 166px;
}
#header, #main, #footer {
	width: 100%;

}
#header, #footer {
	min-width: 1000px;
	background: #00468d; /* Old browsers */
	background: -moz-linear-gradient(left,  #00468d 0%, #009fee 50%, #00468d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00468d), color-stop(50%,#009fee), color-stop(100%,#00468d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #00468d 0%,#009fee 50%,#00468d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #00468d 0%,#009fee 50%,#00468d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #00468d 0%,#009fee 50%,#00468d 100%); /* IE10+ */
	background: linear-gradient(to right,  #00468d 0%,#009fee 50%,#00468d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00468d', endColorstr='#00468d',GradientType=1 ); /* IE6-9 */	
}
#headerContent, #footerContent, #mainContent {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	padding: 0 20px;
}
#header {
	position: relative;
	float: left;
	height: 100px;
	margin: 25px 0 0;
	z-index: 20;
	-moz-box-shadow: 0 8px 10px #000;	
	-webkit-box-shadow: 0 8px 10px #000;	
	-o-box-shadow: 0 8px 10px #000;	
	box-shadow: 0 8px 10px #000;	
}
.logo {
	margin: 40px 0 0;
	width: 240px;
	float: left;
}
#topmenu {
	float:right;
	color: #fff;
	width: 720px;
}
#topmenu ul{
	float: right;
}
#topmenu ul li {
	float:left;
	line-height: 50px;
	padding: 25px 20px;
}
#topmenu ul li a{
	float: left;
	padding: 0;
	color: #fff;
	font-size: 1.25em;
	text-shadow: 1px -1px 1px rgb(0,70,141);
	text-transform: capitalize;

}
#topmenu ul li a:hover{
	border-bottom: 2px solid #fff;	
}
#topmenu ul li a.selected {
	border-bottom: 2px solid #fff;		
}
#topmenu ul li p {
	float: left;
	padding: 0 0 0 20px;	
}
#main {
	position: relative;
	z-index: 10;
	float:left;
	margin: 50px 0 0;

	padding: 50px 0 125px;
}
.mainContent {
	width: 960px;
	min-height: 500px;
	margin: 0 auto;
	padding: 0 20px;
}
#home {
	background: url('../images/maindish.png') top center no-repeat;
	margin-bottom: 50px;
}

#gallery {
	margin: 0 auto 25px auto;	
}
#other {
	background: #e8dbb3 url('../images/mainbg.jpg') repeat;
	-moz-box-shadow: 0 -8px 10px #000;	
	-webkit-box-shadow: 0 -8px 10px #000;	
	-o-box-shadow: 0 -8px 10px #000;	
	box-shadow: 0 -8px 10px #000, 0 4px 10px #000;
	color: #008cda;
	color: rgba(0,140,218,1);
	padding: 25px 0;
	overflow: hidden;	
}
#other h1 {
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	padding: 0 25px 25px;;
	-o-text-shadow: 1px -1px 1px rgb(0,70,141);	
	-moz-text-shadow: 1px -1px 1px rgb(0,70,141);	
	-webkit-text-shadow: 1px -1px 1px rgb(0,70,141);				
	text-shadow: 1px -1px 1px rgb(0,70,141);		
}
#other h2 {
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	padding: 5px 25px;
	-o-text-shadow: 1px -1px 1px rgb(0,70,141);	
	-moz-text-shadow: 1px -1px 1px rgb(0,70,141);	
	-webkit-text-shadow: 1px -1px 1px rgb(0,70,141);				
	text-shadow: 1px -1px 1px rgb(0,70,141);		
}
.otherL{
	float: left;
	width: 439px;
	border-right: 2px solid rgb(0,159,238);
	padding: 0 20px;
}
.otherR {
	float: left;
	width: 439px;
	border-left: 0px solid rgb(0,159,238);
	padding: 0 20px;
}
.productT {
	display: table;
	width: 100%;	
}
.productR {
	display: table-row;	
}
.productC {
	display: table-cell;	
	height: 22px;
}
.itemP {
	width: 70%;	
}
.itemP em {
	font-size: 0.75em;
	font-style: italic;	
}
.priceP {
	width: 30%;	
}
.todayleft{
	position: relative;
	margin: 150px 0 50px; 
	float: left;
	width: 415px;
	text-align: right;

}
.todayright{
	position: relative;
	margin-top: 0;
	float: right;
	width: 415px;
	text-align: left;

}
.todayleft h1, .todayright h1 {
	font-size: 2.5em;
	font-weight: normal;
	text-shadow: 1px -1px 1px rgb(0,70,141);	
}
.todayleft h2, .todayright h2 {
	font-size: 1.25em;
	text-shadow: 1px -1px 1px rgb(0,70,141);	
}
.todayleft p, .todayright p {
	font-size: 1em;
	text-shadow: 1px -1px 1px rgb(0,70,141);
	text-align: justify;
}
.tlTitle {
	width: 395px;
	margin: 15px 0 0;
	padding: 10px;

}

.tlContent {
	width: 350px;
	float: right;
	margin: 0 0 15px;
	padding: 10px;		
}
.trTitle {
	width: 395px;
	margin: 15px 0 0;
	padding: 10px;

}

.trContent {
	width: 350px;
	float: left;
	margin: 0 0 15px;
	padding: 10px;		
}
.trContent p {
	margin: 10px 0;	
}
.blue {
	background-color: rgba(0,70,141,0.7);
	background: #00468d; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(0,70,141,0.7) 0%, rgba(0,159,238,0.7) 50%, rgba(0,70,141,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,70,141,0.7)), color-stop(50%,rgba(0,159,238,0.7)), color-stop(100%,rgba(0,70,141,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,70,141,0.7) 0%,rgba(0,159,238,0.7) 50%,rgba(0,70,141,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,70,141,0.7) 0%,rgba(0,159,238,0.7) 50%,rgba(0,70,141,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,70,141,0.7) 0%,rgba(0,159,238,0.7) 50%,rgba(0,70,141,0.7) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,70,141,0.7) 0%,rgba(0,159,238,0.7) 50%,rgba(0,70,141,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00468d', endColorstr='#00468d',GradientType=1 ); /* IE6-9 */
}
.brown {
	background-color: rgba(151,64,44,0.7);
	background: #00468d; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(151,64,44,0.7) 0%, rgba(203,107,62,0.7) 50%, rgba(151,64,44,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(151,64,44,0.7)), color-stop(50%,rgba(203,107,62,0.7)), color-stop(100%,rgba(151,64,44,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(151,64,44,0.7) 0%,rgba(203,107,62,0.7) 50%,rgba(151,64,44,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(151,64,44,0.7) 0%,rgba(203,107,62,0.7) 50%,rgba(151,64,44,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(151,64,44,0.7) 0%,rgba(203,107,62,0.7) 50%,rgba(151,64,44,0.7) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(151,64,44,0.7) 0%,rgba(203,107,62,0.7) 50%,rgba(151,64,44,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00468d', endColorstr='#00468d',GradientType=1 ); /* IE6-9 */	
}
#gallery li {
	display: inline;	
}
.polaroid {
	width: 185px;
	height: 185px;
	background-color: #000;
	margin: 15px;
	border: 10px solid #fafafa;	
	border-bottom: 25px solid #fafafa;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	position: relative;
/*	z-index: 10;*/
	}
.polaroid:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,1);	
}	
/*img.polaroid {
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out; 
-o-transition: all 0.1s ease-in-out; 
-ms-transition: all 0.1s ease-in-out;
-webkit-transform: rotate(-10deg); 
-moz-transform: rotate(-10deg); 
-o-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
}	
img:hover.polaroid { 
-webkit-transform: rotate(0deg) scale(1.2) translate(100px,10px); 
-moz-transform: rotate(0deg); 
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
z-index: 20;
}	*/
/* By default, we tilt all our images -2 degrees */
ul.polaroids img {
-webkit-transform: rotate(-5deg);
-moz-transform: rotate(-5deg);

}
 
/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) img {
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}
 
/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) img {
-webkit-transform: none;
-moz-transform: none;
position: relative;
top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) img {
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
position: relative;
right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) img {
position: relative;
top: 8px;
right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) img {
position: relative;
top: 3px;
left: -5px;
}
ul.polaroids li img:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
position: relative;
z-index: 5;
}
/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids img {
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out; 
-o-transition: all 0.1s ease-in-out; 
-ms-transition: all 0.1s ease-in-out;
}
#footer {
	position: relative;
	z-index: 20;
	float: left;
	height: 100px;
	margin: -125px 0 25px;
	clear: both;
	-moz-box-shadow: 0 -8px 10px #000;	
	-webkit-box-shadow: 0 -8px 10px #000;	
	-o-box-shadow: 0 -8px 10px #000;	
	box-shadow: 0 -8px 10px #000;		
}
.social {
	width: 192px;
	float: left;
	height: 64px;
	padding: 18px 4px;

}
.social ul {
	text-align: right;	
}
.social ul li {
	float: left;	
}
.social img {
	opacity: 0.8;	
}
.social img:hover {
	opacity: 1;	
}
.info {
	width: 560px;
	float: left;
	padding: 10px 0;
}
.info p{
	text-align: center;
	font-size: 1.25em;
	text-shadow: 1px -1px 1px rgb(0,70,141);
	line-height: 20px;	
}
#navigator {
	margin: 10px 50px 50px;
	float: left;
}
#navigator p {
	float: left;
}
#navigator li {
	float: left;
	color: rgba(0,140,218,0.5);
	height: 25px;
}
#navigator li.step {
	color: rgba(0,140,218,1);
	border-bottom: 2px solid rgba(0,140,218,1);
}

.default {
	/*text-shadow: 1px -1px 1px rgb(0,70,141);*/
}
.default p{
	text-align: center;
}
input[type="text"], input[type="textarea"] {
	border: 2px solid #888;
	border-radius: 4px;
	height: 20px;
	width:50px;	
}
input[type="text"]:focus, input[type="textarea"]:focus {
	border: 2px solid rgb(0,159,238);
	border-radius: 4px;
	outline: 0;
}
input[type="submit"] {
	color: rgba(0,0,0,0.7);
	width: 150px;
	margin: 25px;
	border-radius: 5px;
	height: 30px;
	border: 2px solid #888;
	background-color: whitesmoke;
	text-shadow: 0 -1px 1px #fff;
	box-shadow: 0 0 5px #888;
	background: #f5f5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f5f5f5 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f5f5 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f5f5 0%,#cccccc 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cccccc',GradientType=0 );  IE6-8 */	
}
input[type="submit"]:hover,input[type="submit"]:active {
	border: 2px solid rgb(0,159,238);
	box-shadow: 0 0 3px #ccc;
	color: rgb(0,159,238);
}
input[type="submit"]:active {
	background: #cccccc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #cccccc 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cccccc 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cccccc 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cccccc 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cccccc 0%,#f5f5f5 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f5f5f5',GradientType=0 );  IE6-8 */
	color: rgb(0,159,238);
}
select {
	width: 100%;
	height: 26px;
	border: 2px solid #888;
	border-radius: 4px;
	background-color: whitesmoke;
	padding: 2px 0;
	outline: 0;
}
select:hover, select:active {
	border: 2px solid rgb(0,159,238);
	border-radius: 4px;
	outline: 0;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}