article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-size: 100%; background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: 'Open Sans', sans-serif; min-width: 300px; }

.nav > li > a { padding: 8px 3px !important; color: black; font-weight: bold; border: 1px solid transparent; }
.nav > li > a:hover { border: 1px solid black; }

.nav > li { padding-right: 10px; text-align: right; }

.navbar-default .navbar-nav > li > a { color: black; }

.navbar .container-fluid { margin-top: 15px; padding: 0; }

.nav { border: 0px; }

.navbar { background-color: transparent; border: 0px; }

#facebook { margin-top: 20px; margin-right: 5px; height: 25px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding: 0; margin: 0; }
.col-xs-1 img, .col-sm-1 img, .col-md-1 img, .col-lg-1 img, .col-xs-2 img, .col-sm-2 img, .col-md-2 img, .col-lg-2 img, .col-xs-3 img, .col-sm-3 img, .col-md-3 img, .col-lg-3 img, .col-xs-4 img, .col-sm-4 img, .col-md-4 img, .col-lg-4 img, .col-xs-5 img, .col-sm-5 img, .col-md-5 img, .col-lg-5 img, .col-xs-6 img, .col-sm-6 img, .col-md-6 img, .col-lg-6 img, .col-xs-7 img, .col-sm-7 img, .col-md-7 img, .col-lg-7 img, .col-xs-8 img, .col-sm-8 img, .col-md-8 img, .col-lg-8 img, .col-xs-9 img, .col-sm-9 img, .col-md-9 img, .col-lg-9 img, .col-xs-10 img, .col-sm-10 img, .col-md-10 img, .col-lg-10 img, .col-xs-11 img, .col-sm-11 img, .col-md-11 img, .col-lg-11 img, .col-xs-12 img, .col-sm-12 img, .col-md-12 img, .col-lg-12 img { padding: 2px 5px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: transparent; }

footer { background-color: black; color: white; margin-top: 100px; }
footer a { color: white; }
footer hr { background-color: white; color: white; }

#no { display: none; visibility: hidden; }

.contatti row { margin: 15px; text-align: center; }

.boxcontatti { width: 150px; float: left; margin-left: 100px; }
.boxcontatti a { text-align: center; color: black; }
.boxcontatti p { text-align: center; }

@media (max-width: 767px) { #si { display: none; }
  #no { display: block; visibility: visible; }
  .nav > li > a { font-size: 10px; }
  #facebook { height: 25px; }
  #logo img { min-width: 150px; margin-top: 10px; }
  .testo1 { height: auto; width: auto; }
  .testo2 { height: auto; width: auto; }
  .boxcontatti { width: 120px; height: 160px; margin-left: 10px; } }
@media (min-width: 768px) and (max-width: 991px) { .nav > li > a { font-size: 12px; }
  #logo img { max-width: 250px; }
  .testo1 { height: 119px; width: 250px; }
  .testo2 { height: 125px; width: 189px; }
  footer { margin-top: 100px; }
  .prima { height: 244px; }
  .boxcontatti { width: 150px; float: left; margin-left: 30px; } }
@media (min-width: 992px) and (max-width: 1199px) { .nav > li > a { font-size: 14px; }
  #logo img { max-width: 250px; }
  .testo1 { height: 156px; width: 400px; }
  .testo2 { height: 161px; width: 189px; }
  .prima { height: 317px; }
  .boxcontatti { width: 150px; float: left; margin-left: 80px; } }
@media (min-width: 1200px) and (max-width: 1300px) { #logo img { max-width: 350px; }
  .testo1 { height: 189px; width: 400px; }
  .testo2 { height: 189px; width: 189px; }
  .prima { height: 389px; }
  .boxcontatti { width: 150px; float: left; margin-left: 100px; } }
@media (min-width: 1301px) { #logo img { max-width: 350px; }
  .testo1 { height: 189px; width: 390px; }
  .testo2 { height: 189px; width: 390px; }
  .prima { height: 389px; }
  .boxcontatti { width: 150px; height: 170px; float: left; margin-left: 100px; } }
