html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #333333;
}

html, body {
  color: #000;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px;
  min-width: 1170px;
}

header {
  width: 100%;
}

.topbar {
  width: 100%;
  height: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../img/headerbg2.png);
  background-repeat: repeat-x;
}

nav > ul > li {
  float: left;
  padding-top: 25px;
}
nav > ul > li > a {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.nav-pills > li > a {
  background-color: transparent;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: transparent;
  color: #d9c86c;
}

.nav-pills > li.active > a {
  background-color: transparent;
}
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: transparent;
  color: #d9c86c;
}

.social {
  text-align: center;
  padding-top: 30px;
}
.social > a {
  margin: 0 5px;
  text-decoration: none;
  opacity: 0.8;
}
.social > a:hover {
  opacity: 1;
}

#homeslider {
  padding: 0;
  margin-bottom: 25px;
}

.carousel-inner img {
  width: 100%;
}

.mainContainer {
  padding-top: 50px;
  padding-bottom: 25px;
}
.mainContainer h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;
  padding: 15px;
}
.mainContainer h2 {
  font-weight: 600;
  font-size: 1.325em;
  margin-bottom: 15px;
}
.mainContainer p {
  margin-bottom: 15px;
  line-height: 1.75em;
  font-size: 1em;
}

.content {
  margin-top: 15px;
}
#carouselHome2, #carouselHome2 img{width: 400px; height: 600px; margin:auto;}
#carouselHome2 .carousel-control {background-image: none;}


/*.homeBox {
	display: flex;
	background-color: #eee;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}*/
.mainLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.dottedBox {
  background-color: #fff;
  border: 1px dashed #000;
}

.greyBox {
  background-color: #fff;
  /*padding: 0;*/
  overflow: hidden;
  height: 275px;
  padding-right: 0;
  /*width: 100%;*/
}

.yellowBox {
  background-color: #fdf2d6;
  margin-bottom: 30px;
}

.shadowed {
  box-shadow: 2px 4px 5px #888;
}

.ireneStyle {
  padding: 5px;
  background-color: #e7dda5;
  margin-bottom: 30px;
}

.lb-outerContainer {
  background-color: #e7dda5;
}

.push, footer {
  height: 75px;
}

footer {
  background-image: url(../img/footerbg.png);
  background-repeat: repeat-x;
  background-color: #000;
  color: #fff;
}

.credits {
  padding-top: 40px;
}
.credits a {
  color: #fff;
  text-decoration: underline;
}
.credits a:hover {
  color: #d9c86c;
}
.credits p {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 0.875em;
  line-height: 1em;
}

.TA_cdsscrollingravewide {
  border: 1px dashed #589442;
}

#CDSSCROLLINGRAVE.wide {
  width: 100% !important;
  background: white;
}
#CDSSCROLLINGRAVE.gray {
  background-color: white !important;
}

/* OTHER FIXES (LIGHTBOX) */
.lb-image, #map_canvas img {
  max-width: inherit;
}

#map_canvas {
  color: #5c5b5a;
  text-shadow: none;
  text-align: left;
  width: 100%;
  height: 100%;
}
#map_canvas h1 {
  padding: 0;
  text-align: left;
  text-transform: none;
}
#map_canvas p {
  text-align: left;
  text-transform: none;
}

.gm-style-iw {
  height: auto !important;
  padding: 5px 0;
}
