// Variables

$font-regular: 'Open Sans', sans-serif;
$font-titles: 'Oswald', sans-serif;
$yellow-1: #fdf2d6;
$yellow-2: #e7dda5;
$yellow-3: #d9c86c;
$tagreen: #589442;
$footerh: 75px;

// Mixins

@mixin map_canvas {
	text: {
		align: left;
		transform: none;
	}
}

// Style

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;

}
li {
	list-style: none;
}
img {
	max-width: 100%;
}
hr {
	margin: {
		top: 20px;
		bottom: 20px;
	}
	border: 0;
	border-top: 1px solid #333333;
}
html, body {
	color: #000;
	background-color: #fff;
	font: {
		family: $font-regular;
		size: 16px;
	}
}
#wrapper {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 auto (-$footerh);
	min-width: 1170px;
}

header {
	width: 100%;
}
.topbar {
	width: 100%;
	height: 93px;
	padding: {
		top: 25px;
		bottom: 25px;
	}
	background: {
		image: url(../img/headerbg2.png);
		repeat: repeat-x;
	}
}
nav>ul>li {
	float: left;
	padding-top: 25px;
	> a {
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	}
}
.nav-pills>li>a {
	background-color: transparent;
	&:hover, &:focus {
		background-color: transparent;
		color: $yellow-3;
	}
}
.nav-pills>li.active>a {
	background-color: transparent;

	&:hover, &:focus {
		background-color: transparent;
		color: $yellow-3;
	}
}
.social {
	text-align: center;
	padding-top: 30px;
	> a {
		margin: 0 5px;
		text-decoration: none;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}
#homeslider {
	padding: 0;
	margin-bottom: 25px;
}
.carousel-inner img {
	width: 100%;
}

.mainContainer {
	padding-top: 50px;
	padding-bottom: 25px;

	h1 {
		font: {
			family: $font-titles;
			weight: 400;
			size: 1.5em;
		}
		line-height: 1em;
		padding: 15px;
	}
	h2 {
		font: {
			weight: 600;
			size: 1.325em;
		}
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 15px;
		line-height: 1.75em;
		font-size: 1em;
	}
}
.content {
	margin-top: 15px;
}
/*.homeBox {
	display: flex;
	background-color: #eee;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}*/
.mainLeft {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}
.dottedBox {
	background-color: #fff;
	border: 1px dashed #000;
}
.greyBox {
	background-color: #fff;
	/*padding: 0;*/
	overflow: hidden;
	height: 275px;
	padding-right: 0;
	/*width: 100%;*/
}
.yellowBox {
	background-color: $yellow-1;
	margin-bottom: 30px;
}
.shadowed {
	box-shadow: 2px 4px 5px #888;
}
.ireneStyle {
	padding: 5px;
	background-color: $yellow-2;
	margin-bottom: 30px;
}
.lb-outerContainer {
	background-color: $yellow-2;
}
.push {
	height: $footerh;
}
footer {
	@extend .push;
	background: {
		image: url(../img/footerbg.png);
		repeat: repeat-x;
		color: #000;
	}
	color: #fff;
}
.credits {
	padding-top: 40px;
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: $yellow-3;
		}
	}
	p {
		font-family: $font-titles;
		text-align: center;
		font-size: 0.875em;
		line-height: 1em;
	}
}
.TA_cdsscrollingravewide {
	border: 1px dashed $tagreen;
}
#CDSSCROLLINGRAVE {
	&.wide {
		width: 100%!important;
		background: white;
	}
	&.gray {
		background-color: #ffffff!important;
	}
}
/* OTHER FIXES (LIGHTBOX) */

.lb-image, #map_canvas img {
max-width: inherit;
}
#map_canvas {
	color: #5c5b5a;
	text: {
		shadow: none;
		align: left;
	}
	width: 100%;
	height: 100%;
	h1 {
		padding: 0;
		@include map_canvas;
	}
	p {
		@include map_canvas;
	}
}
.gm-style-iw {
	height:auto!important;
	padding: 5px 0;
}
