@import "partials/var";

$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "compass";
@import "partials/normalize";



body{font-family: $ubuntu;
     overflow-x: hidden}


#bigscreen{
    min-height: 420px;
    background-image: url('img/sfondo1.jpg') ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bigscreen2{    min-height: 420px;
                background-image: url('img/sfondoazienda.jpg') ;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
}
#bigscreen3{background-color: $azzurro;}
#logo{z-index:500;}
.navbar-default{
    background-color: transparent; 
    border:0px;}

.navbar-default .navbar-nav>li>a{
    text-transform: uppercase;
    font-weight: 700; color: white;
    z-index: 500;
}
.navbar-default .navbar-nav>li>a:hover{
    color: white; 
    border-bottom: 1px solid white;
    img{margin-bottom: 3px;}
}
#backhome{position: fixed;

          bottom:30px;
          right: 30px;
          z-index: 999;

}
#barralingue{
    height: 20px;
}
.navbar-toggle {
    color:white;
    &:hover{color:black }

}

#languages {
    color:black;
    text-align: right;    
    width: 100%;
    padding-right: 20px;
}
.fb{
    color:blue;}

#languages ul{
    width: 100%; text-align: right;}

#languages li{
    float: right;
    list-style: none;
    padding-right: 10px;
}
#languages li a{color:black;}

#languages li.fb{
    margin-left:20px;
    a{color:$blue;

    }}

#postogiusto h1{color:white;
                font-size: 30px;
                font-weight: 900;
                margin-left: 2px;
                margin-top: 15%;

}

#prenota{
    float:right;
    right: 10%;
    border-radius: 0px;
    border:2px solid black;
    background-color: white;
    font-weight: bold;
    width: auto;
    &:hover{color:$green;}
}
#prenota3{float:right;
          right: 10%;
          margin-top: 25px;
          border-radius: 0px;
          border:2px solid black;
          background-color: white;
          font-weight: bold;
          width: auto;
          &:hover{color:$green;}}
          .icona{float:left;
                 margin-right: 20px;
                 margin-top: 20px;
          }
          .servizi{
              padding-bottom: 10px;}
          .servizi h3{
              font-size: 12px;
              margin-left: 70px;
          }
          .container{margin:auto;
          }
          .grigia {
              background-color: $grey;
              margin-top: 100px;
              width: 100%;
          }
          #azienda h1{
              margin: auto;
              margin-bottom: 18px;
              text-align: center;
              margin-top: 20px;}
          #scopri_btn{
              width: 100px; 
              background-color: $black;
              color:white;
              margin:auto;
              margin-bottom: 20px;
              border-color: black;
              border-radius: 0px;}



          .loading #container {opacity: 0;}
          .loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: black; font-weight: bold; font-size: 60px; opacity: 0.3; }
          #posta{
              background-color:grey;
              color:white;
          }
          #footer{
              margin-top: 25px;
              min-height: 70px;
              background-image: url('img/footer.jpg') ;
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              p{
                  color:white;
              }
              a{color:white}
          }
          #magica #prenota{margin-top: 30px; }
          .thumb{padding: 5px 0 5px 0;}
          .senzamenu{margin-top:20px;}

          .table-responsive { h5{padding-top: 0; padding-bottom: 0;
                                 margin-top: 0; margin-bottom: 0;}

                              h4{margin-top: 5px; margin-bottom: 5px;}}

                              .form-control{
                                  background-color: #f2f1f1;
                                  color:#898486;}
                              .input-daterange{width: auto;}
                              .campitesto{padding-bottom: 20px;
                                          label{margin-top: 8px;
                                          }}
                              label{font-weight: 400;}
                              .anagrafe{
                                  background-color:$viola;
                              }

                              #sesso{ margin-left: 2px;margin-right: 17px;}
                              #carouselHome{margin-top: 20px;
                              }
                              #contacts{
                                  margin-top:20px;
                                  padding-bottom: 20px;
                                  min-height: 750px;
                              }
                              .carousel-control {
                                  background-color: transparent;
                                  opacity: 0;
                                  margin-top: -35px;
                              }
                              input[type="checkbox"] {width: 20px;}
                              #colsx{border-bottom: 1px solid lightgrey;padding-bottom: 20px;}

                              .listgallery li{list-style: none;
                                              padding-left: 0;
                                              img{cursor: pointer;}}
                                              img.imagegallery{width: 100%;
                                                               margin-bottom: 20px;}
                                              .modal-backdrop.in{
                                                  opacity: 0.9;
                                              }
                                              .listgallery{margin-top: 20px;}
                                              .elemento{
                                                  text-align: center;
                                                  h3{margin:auto; width: 100%;text-align: center;}
                                                  img{margin:auto; width: 80%;text-align: center;
                                                      margin: 10% 0;}
                                                  .btn{text-align: center;


                                                  }
                                              }                                              
                                              @media all and (min-width:0px) and (max-width:767px){

                                                  #prenota{
                                                      position: absolute;
                                                      left:50%;
                                                      margin-left:-50px;
                                                      width: 100px;
                                                      top:350px;     
                                                  }
                                                  #postogiusto{
                                                      float:left;
                                                  }
                                                  #prenota3{float:none;
                                                            margin:10px auto;
                                                            right: 0;
                                                  }
                                                  #magica{
                                                      text-align: center;
                                                      margin:auto;
                                                  }
                                              }

                                              @media all and (min-width:768px) and (max-width:991px){
                                                  .griglia{margin-top: 10px;}

                                                  .navbar-default .navbar-nav > li > a {font-size: 11px;padding: 15px 5px 5px;}
                                              }
                                              @media all and (min-width:992px){
                                                  .navbar-default .navbar-nav > li > a {font-size: 14px;padding: 15px 5px 5px;}

                                                  #prenota{
                                                      top:250px;
                                                  }
                                                  #azienda img{width: 100%;
                                                  }

                                              }