html, body {
	
	background-color: #fff;
}


#container {
/*	min-height: 100%;
margin: 0 auto -142px;*/
   height: 100%;
	min-height: 700px;
	width: 1100px;
	font-family: Helvetica, sans-serif;
	/*padding-bottom: 150px;*/
	  min-height: 100%;
	  margin: auto;
 }
 #container img {
	border: 0; 
 }

#header {
	position: relative;
 	width: 100%;
	height: 45px;
	background-color: #fff;
	font-family: 'Podkova', serif;
}
#headerLogo {
	width: 548px;
}
#headerLogo h1{
	font-size: 30px;
	font-weight: normal;
	text-transform: none;
	color: #000;
	/*text-shadow: 0px 1px 1px rgba(0,0,0,0.3);*/
	background: #fff;
	margin-left: 100px;
	padding-top: 35px;
}
#headerLogo a{
	text-decoration: none;	
	color: #000;
}
.textmiddle {
	vertical-align:middle;
} 
#separator{
position: relative;
left: 50%;
bottom: 60px;
width: 4px;
z-index: 2000;
}
/* Navigation Bar */
#navigation{
   position: relative;
	z-index: 1900;
	width: 548px;
	bottom: 93px;
	left: 600px;
}
#navigation a{
   /*display: inline-block;*/
	font-size: 18px;
	font-weight: normal;
	width: auto;
	/*height: 24px;*/
	color: #000;
 /* line-height: 24px;*/
	text-align: center;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
	background: #fff;
	text-transform: none;
	text-decoration: none;
	padding: 0px 20px 0px 20px;
}
#navigation a:hover{
	background: white;
	color: #D78400;
}
#navigation a.current,
#navigation a.current:hover{
	background: #000;
	color: #fff;
	cursor: default;
}
body a#orange {
	background: #fff;
	color: #D78400;
	cursor: default;

}

.orange {
color: #D78400;
}
#social {
	position: absolute;
	/*margin: 25px 10px 0 10px;*/
	left: 1150px;
	top:0;
	width: 24px;
}
#social img {
	margin: 1px;	
}
#main {
	overflow: hidden;
	background-color: white;
   height: 590px;
/*	background-image: url('logo_opacity_750.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center 60%;*/	
	padding: 0 50px;
	margin-top: 15px;
	

}
	
/*#main h2{
	font-size: 48px;
	padding: 10px 0px 10px 0px;
	margin-top: 0px;
	color: #000;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}*/
#boxmedia {
	box-shadow: 0px 0px 20px #888888;
	-webkit-box-shadow: 0px 0px 20px #888888;
	behavior: url(PIE.htc);
	position: relative;
	top: 50px;
	right: 0px;
	margin 0 auto;
	width: 1000px;
	height: 500px;
	z-index: 9999;

}
#boxmediaLeft {
	display: table;
	position: relative;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	background-color: #D78400;
	color: #fff;
	text-align: center;
	font-size: 12px;
	text-transform: none;
}
#boxmediaLeft li {
	list-style: none;
	line-height: 15px;;
}
#boxmediaLeft a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
#boxmediaLeft a:hover {
	text-shadow: white 0 0 5px;
	text-decoration: none;	
}
#contentLeft {
	display: table-cell;
	vertical-align: middle;
}
#contentLeft {
	padding-right: 40px;

}
#contentLeft p {
	font-size: 14px;	
	text-align: justify;
	padding-left: 40px;
}
#boxmediaRight {
	position: relative;
	bottom: 500px;
	left: 0;
	float: right;
	width: 500px;
	height: 500px;
	background-color: #fff;
	text-align: center;
}
#boxmediaRight p {
padding: 0 1px;
font-size: 13px;
text-align: center;

}
#boxmediaRight td  {
	width: 33%;
	vertical-align: top;
}
#boxmediaRight h3 {
	font-family: 'Podkova', serif;
}
#boxmediaRight a, a:visited {
	color: #000;	
}
#boxmediaRight a:hover {
	color: #D78400;
}
.logoazienda {
position: relative;
z-index: 100;
}

/*
	Slideshow boxmedia
*/

#slides_bm {
	bottom: 500px;
	right: 0;
	float: right;
	width: 1000px;
	height: 500px;

}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_bm_container {
	position: relative;
	float: right;
	width:500px;
	height: 500px;
	overflow:hidden;
	display:none;
	/*border: 1px solid black;*/
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_bm_container a {
	width:500px;
	height:500px;
	display:block;
}

/*#slides_bm .slides_bm_container a img {
	display:block;
}*/

#footer, #push {
	background-color: #fff;
	color: #000;
	height: 20px;
	padding-top: 0;
	width: 1100px;
	text-align: center;
	font-size: 12px;
}
#footer a, a:visited {
	color: #000;	
}
#footer a:hover {
	color: #D78400;
}


.picsWho img{
	border: 5px solid #000;
	
}

/*
	Slideshow
*/

#slides {
	position:relative;
	top: 50px;
	right: 50px;
	margin: 0 auto;
	z-index:100;
	width: 1000px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	box-shadow: 0px 0px 20px #888888;
	-webkit-box-shadow: 0px 0px 20px #888888;	
	width:1000px;
	height: 500px;
	overflow:hidden;
	behavior: url(PIE.htc);


	display:block;
	/*border: 1px solid black;*/
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:1000px;
	height:500px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:230px;
	left:-35px;
	width:13px;
	height:15px;
	display:block;
	z-index:101;
}

#slides .next {
	left:1011px;
}

/*
	Pagination
*/
.link {
display: block;
margin-top: 10px;
font-weight: 800;
}
.pagination {

	margin:25px 410px;
/*	width:1100px;*/
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:15px;
	height:0;
	padding-top:15px;
	background-image:url(../images/pag_orange.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -16px;
}
#slides_bm .pagination_bm {
	display: none;
	margin:25px 410px;
	width:1100px;
}

#slides_bm .pagination_bm li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#slides_bm .pagination_bm li a {
	display:block;
	width:15px;
	height:0;
	padding-top:15px;
	background-image:url(../images/pag_orange.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

#slides_bm .pagination_bm li.current a {
	background-position:0 -16px;
}
#tabellaContatti {
	width: 100%;
}
