html, body {
	height:100%;
}
body {
	/*width: 100%;*/
	background: #FFF;
	overflow: hidden;
	font-family: Helvetica;
}
#header{
	position: absolute;
	z-index: 2000;
	width:98%;
	top: -20px;
	left: 0px;
	/*padding: 20px 0px;*/
/*margin: auto;*/
}
#header h1{
	font-size: 30px;
	font-weight: normal;
	text-transform: none;
	color: #000;
	/*text-shadow: 0px 1px 1px rgba(0,0,0,0.3);*/
	background: #fff;
	margin-left: 100px;
	padding-top: 35px;
}
#header a{
	text-decoration: none;	
	color: #000;
}
.textmiddle {vertical-align:middle;} 
/*#navigation {
	margin-top: 20px;
	width: auto;
	display:block;
	list-style: none;
	z-index:3;
}
#navigation a{
	color: #000;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 10px;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
*/
/* Navigation Bar */
#navigation{
   position: fixed;

	z-index: 1900;
	top: 20px;
	right: 50px;
}
#navigation a{
   /*display: inline-block;*/
	font-size: 18px;
	font-weight: normal;
	width: auto;
	height: 24px;
	color: #000;
  line-height: 24px;
	text-align: center;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
	background: #fff;
	text-transform: none;
	text-decoration: none;
	padding: 25px 25px 25px 25px;
}
#navigation a:hover{
	background: white;
	color: rgba(215,132,0,1);
}
#navigation a.current-demo,
#navigation a.current-demo:hover{
	background: #000;
	color: #fff;
	cursor: default;
}

/* TEMP */

.content{
	right: 40px;
	left: 180px;
	top: 50px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 110px;
	padding: 10px 0px 10px 0px;
	margin-top: 52px;
	color: #000;
/*	color: rgba(255,255,255,0.9);*/
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #000;
	display: inline-block;
	background: #fff;
	padding: 10px;
	margin: 3px 0px;
}
.picsWho img{
	border: 5px solid #000;
	border-bottom: 20px solid #000;
	padding: 10px;	
}
.panel{
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;
	/*background-color: #fff;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);*/
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}

.panel:target{
	opacity: 1;
	margin-top: 0%;
}
#home:target ~ #header #navigation #link-home,
#home1:target ~ #header #navigation #link-home1,
#home2:target ~ #header #navigation #link-home2,
#chome3:target ~ #header #navigation #link-home3{
	background: white;
	color: rgba(215,132,0,1);
}
