/* 
    Document   : editimg
    Created on : 7-feb-2012, 12.23.38
    Author     : tanga
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{background-color: white; }

a{text-decoration: none;
color:grey;
}
a:hover{text-decoration: underline;
}

.cellafoto{border:1px solid #0099CC; padding: 10px;text-align: center; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;}
form{text-align: center;}
#containerpreview{background-color: white;
                  width: 100%;
                  margin:auto;

padding-bottom: 20px;
}