/* 
    Document   : stilelogin.css
    Created on : 1-ago-2012, 18.23.14
    Author     : Francesco Tanganelli bartrosso
    Email      : bartrosso@gmail.com
    Description:
        Stile del login sul pannello di controllo 
*/

.corretto,
.errore {
  padding: 3px;
  text-align: center;
}
.corretto,
.errore {
  width: 200px;
  float:right;
  font-weight: bold;
  border: 1px solid #349534;
  background: #C9FFCA;
  color: #008000;
}
.errore {
  border: 1px solid #CC0000;
  background: #F7CBCA;
  color: #CC0000;
}

.sign{float:right;
margin: 22px 35px;}

.textInput,textarea{  /* General style for my inputs when they're not highlighted */
  width:100%;
  background-color:#FFFFFF;
  
}


.inputHighlighted{  /* Highlighting style */
  background-color:#1f2648;
  color:#FFF;
  width:100%;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 20px 20px 20px 20px !important;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
} 


