@import "compass/reset";
@import "partials/var";

$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "compass/css3";
@import "partials/mq";

img {
	max-width: 100%;
	border: 0;
}

html, body {
	color: $grey;
	font-family: $quattrocento;
	/*@include background-size(100%, cover);*/
	@include box-sizing(border-box);
	height: 100%;
}
main {
	overflow: hidden;
	margin-bottom: 30px;
}
.wrapper {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 auto -64px;
}
.push {
	height: 64px;
}
.logo {
	width: 40%;
	max-width: 640px;
	margin: 0 auto;
	padding-top: 15px;
}

h1 {
	font-family: $gilda;
	font-size: 2.5em;
	text-align: center;
	margin: 24px 0;
}

h2 {
	font-family: $gilda;
	font-size: 2em;
	text-align: left;
}
p {
	font-family: $gilda;
	line-height: 1.5em;
	font-size: 0.875em;
}
.productItem, .productItem2 {
	ol {
		list-style: decimal;
		padding: 0 1em 10px 2.5em;
		li {
			font-size: 0.875em;
			line-height: 1.25em;
			font-family: "Gilda Display", serif;
			margin-bottom: 5px;
		}
	}
	ul {
		list-style: disc;
		padding: 0 1em 10px 2.5em;
		li {
			font-size: 0.875em;
			line-height: 1.25em;
			font-family: "Gilda Display", serif;
			margin-bottom: 5px;
		}
	}
}
/* NAVBAR */
.navbar {
	min-height: 42px;
}
.navbar-default {
	background-color: #fff;
	@include border-radius(0);
	border-color: $grey;
	border-left: none;
	border-right: none;
	.navbar-collapse {
		max-height: none;
	}
	.nav-justified {
		width: auto;
	}
	.navbar-nav {
		/*margin: 5px 0;*/
		.open .dropdown-menu>li>a {
			color: $grey;
		}

		li {
			float:none;
			a {
				color: $grey;
				font-size: 0.875em;
			}
		}
	}
	.navbar-brand {
		color: $grey;
		font-weight: bold;
	}
}
.caret {
	vertical-align: super;
}
/* FINE NAVBAR */

#carouselHome {
	margin-bottom: 15px;
}
.socialBox {
	border: 3px solid $grey;
	float: left;
	width: 100%;
	padding: 10px 0;
	height: 74px;
}
.vb {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.centerize {
	text-align: center;
}
.title {
	font-family: $haviland;
	color: $grey;
	font-size: 3em;
}

/* PAGINE */

.productItem {
	&:nth-child(3n+1) {
		clear: both;
	}
}
.productItem2 {
	&:nth-child(3n) {
		clear: both;
	}
}
.productImage {

}
.productCaption {
	border: 1px solid $grey;
	margin: 10px 0 15px 0;
	h2 {
		font-family: $quattrocento;
		color: $grey;
		font-size: 1.25em;
		padding: 10px 0.5em;
	}
	p {
		font-size: 0.875em;
		line-height: 1.25em;
		font-family: $gilda;
		padding: 10px 1em;
	}
}
.topMargin0 {
	margin-top: 0;
}
.basicCaption {
	margin: 10px 0 15px 0;
	p {
		font-family: $quattrocento;
		font-size: 0.875em;
		line-height: 1.25em;
	}
}

#map_canvas img {
    max-width: inherit;
}
.firstHeading {
	margin-top: 5px;
	text-align: left;
}
.gm-style-iw {
	width: 220px;
	height: 80px;
	#content {
		height: 100%;
		overflow: hidden;
	}
}
/* GALLERY EFFECT */

figure {
	display: block;
	position: relative;
	overflow: hidden;
	&:hover {
		figcaption {
			opacity: 1;
		}
		&:before {
			opacity: 0;
		}
	}
}
	.cap-bot {
		&:before {
			bottom: 10px;
			left: 10px;
		}
		figcaption {
			left: -30%;
			bottom: -30%;
		}
		&:hover figcaption {
			bottom: 0;
			left:0;
		}
	}
figcaption {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #333;
	background: rgba(51, 51, 51,0.75);
	color: white;
	padding-top:25%;
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition:    all 0.4s ease;
	-o-transition:      all 0.4s ease;
}


/* GALLERY EFFECT END */

/* OFFERTE */

.singleOffer {
	margin: 5px 0;
	border: 0px solid $grey;
	padding: 0 0;
	float: left;
}
.titleOffer {
	margin: 0 0 5px 0;
	
}
.dataOffer {
	margin: 0 0 5px 0;
	font-size: 0.75em;
}
.textOffer {
	margin: 15px 0 0 0;
}
.pagination-container {
    text-align: center;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: $grey;
	border-color: $grey;
}
.pagination>li>a, .pagination>li>span {
	color: $grey;
}
/* FOOTER */

footer {
	//margin-top: 30px; /*TEMPORARY*/
	background-color: $grey;
	color: #fff;
	
}
.innerFooter {
	margin: 20px 0 20px 0;
	p {
		font-family: $quattrocento;
		font-size: 0.75em;
		line-height: 1.5em;
		text-align: center;
		a {
			color: #fff;
			&:hover, &:visited {
				color: #ccc;
			}
		}
	}
}
.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}

#sliderfooter{margin-top: 10px;}

#marginetop{margin-top: 30px;}
   @media all and (min-width:768px) and (max-width:991px){
.navbar-default .navbar-nav li a{font-size: 10px; padding: 10px 5px;}
   }
   
   @media all and (min-width:992px) and (max-width:1199px){
.navbar-default .navbar-nav li a{font-size: 12px; padding: 10px 5px;}
   }
   