body {
		background-image: url('../images/background.jpg');
		background-repeat:repeat;
		font-family: Impact, sans-serif;
		font-size: 1em;
}
img {
	max-width: 100%;	
	}
#all{
width: 100%;
max-width: 1600px;
margin:0 auto;
}
#container {
 margin: 0 auto;
 width: 64.5833333%;	
 max-width: 960px;
 height: auto;
float:left;
}
#left{
	background-color: #ffffff;
	width: 14.5833333%;
	float: left;
	margin: 0 auto;
}
#right{
	background-color: #ffffff;
	width: 14.5833333%;
	float: left;
	margin: 0 auto;
}
#title{
color: red;
font-size: 1.5em;
width: 97.9166666%;
margin: 0 auto;
}
#header{

 margin: 50px auto 0 auto;
width: 100%;
background-color: white;	
}
/*INIZIO CODICE MENU*/
#menu {
	background-color: #ffffff;
	color: #000000;
	font-weight: 200;
	font-size: 1em;
	float: left;
	/*min-height: 50px;*/
	width: 100%;
	text-align: center;
	clear: both;
}

#menu a:hover {
	text-shadow: 0 0 3px #ffffff;	
}

ul.topmenu {
	float: left;
	width: auto;
	list-style-type:none;
	padding: 0;
	margin: 0 auto;
}
ul.topmenu li{
	float: left;
	display:inline;
	margin: 0 1.5833333% 0 0;
}
ul.topmenu li a {
	text-decoration: none;	
	color: #000000;
}
ul.topmenu li a:visited {
	color: #000000;	
}
/*FINE CODICE MENU*/
#main{
 margin: 0 auto 50px auto;	
float: left;
width: 100%;
background-color: transparent;	
}
#main img {
z-index: -1000;
position: relative;	
	}
.content{
	position: relative;
	background: transparent;
	float: left;
	margin-top: 0px;
	z-index: 1000;
	width: 100%;	
}
.boxM{
	width: 31.25%;
	height:auto;
	float: left;
	margin: 10px 2.0833333% 10px 0;
}
.boxMR{
	width: 31.25%;
	height:auto;
	float: right;
	margin: 10px 0;
}
.boxMBorderTop{
	width: 84.7715736%;
	border-bottom: 15px solid yellow;
	border-left: 15px solid yellow;
	border-right: 15px solid transparent;	
}
.boxMBorderBottom{
	width: 84.7715736%;
	border-top: 15px solid yellow;
	border-right: 15px solid yellow;
	border-left: 15px solid transparent;
}
.boxMTitle{
	width: 100%;
	margin: 0;

	text-align:center;
	background-color:yellow;	
}
.boxMTitle p {
	width: 100%;
 	color: red;
 	margin:0;
}
#footer {
	float: left;
	 margin: 0 auto;
width: 100%;
	background-color: red;

}
#footerBorderTop{
	width: 96.1290323%;
	float: left;
	border-bottom: 15px solid red;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
}
.activity {
	width: 260px;
	color: #DB2326;
	margin: 0;
	padding: 20px 20px 20px 20px;
	line-height: 22px;
	font-family: Impact, sans-serif;;
	font-weight: lighter;
	font-size: 1em;
	text-align: justify;	
	}
h3{
margin:0;	
	}