body {
		background-image: url('../images/background.jpg');
		background-repeat:repeat;
		font-family: Impact, sans-serif;
		font-size: 1em;
}
img {
	max-width: 100%;
	border: 0;
	}
#maltraverso {
margin: 0 auto;
width: 1240px;
}	
#all{

width: 1240px;
height: auto;
float: left;

}
#container {
 margin: 0 auto;

 width: 940px;
 height: auto;
float:left;
}
#left{
	color: #ffffff;
	width: 100px;
	float: left;
	margin: 150px auto 0 50px;
}
#right{
	color: #ffffff;
	width: 120px;
	float: left;
	margin: 150px auto 0 auto;
	padding-left: 30px;
}
#title{
color: #db2326;
font-size: 1em;
width: 97.9166666%;
margin: 0 auto;
}
#header{

 margin: 50px 0;
width: 940px;
background-color: white;	
}
/*INIZIO CODICE MENU*/
#menu {
	background-color: #ffffff;
	color: #000000;
	font-weight: 200;
	font-size: 1em;
	float: left;
	/*min-height: 50px;*/
	height: 60px;
	width: 940px;
	text-align: center;
	clear: both;
	box-shadow: 0 3px 20px #000000;
	-webkit-box-shadow: 0 3px 20px #000000;
	position: relative;
	z-index: 2000;
}

#menu a:hover {
	text-shadow: 0 0 3px #ffffff;	
}
.logolion{
	float: left;
	margin-top: -50px;
	margin-left: -60px;
}
.logolion img {
	z-index: 100;
}
ul.topmenu {
	float: right;
	width: 840px;
	height: 20px;
	list-style-type:none;
	padding: 20px 0;
	margin: 0 auto;
}
ul.topmenu li{
	float: left;
	display:inline;
	margin: 0 15px;
}
ul.topmenu li a {
	text-decoration: none;	
	color: #000000;
}
ul.topmenu li a:visited {
	color: #000000;	
}
/*FINE CODICE MENU*/
#main{
 margin: 0 auto 50px auto;	
float: left;
width: 940px;
background-color: transparent;

}
/*#main img {
z-index: -1000;
position: relative;	
	}*/
.content{
	position: relative;
	background: transparent;
	float: left;
	margin-top: -60px;
	z-index: 1000;
	width: 940px;	
}
.mtext {
	margin: 0;
	background-color: #ffffff;
	padding: 0 0;

}

.mtext h3 {
	font-size: 1em;
	font-weight: 100;
	margin: 0 0;
	text-align: left;
	color: #DB2326;	
	padding: 10px 20px 0 20px;
	}
.mtext p {
	margin: 0;
	background-color: #ffffff;
	color: #000000;
	font-size: 0.75em;
	padding: 0 20px 10px 20px;
	font-family: Arial, sans-serif;
	text-align: justify;

}
.mtext h5 {
	margin: 0;
	background-color: #ffffff;
	color: #DB2326;
	font-size: 0.75em;
	font-weight: normal;
	font-family: Arial, sans-serif;
	padding: 0 20px 10px 20px;
}
.more{
	margin: 0;
	text-align: right;
	color: #cf142b;
	font-size: 0.875em;
	padding: 25px 20px;
	font-weight: 100;

}

.more a, .more a:visited {
	color: #db2326;	
	}

.boxM{

	width: 300px;
	height:275px;
	float: left;
	margin: 10px 20px 10px 0;

}
.boxMR{
	width: 300px;
	height:auto;
	float: right;
	margin: 10px 0;
}
.boxMTop{
	background-image: url('../images/boxtitlebg.png');
	width:240px;
	height: 50px;
	position:relative; 
	z-index:100;
}
.boxMTop p {
	width: 200px;
 	color: #222222;
 	margin:0;
 	font-size:1em;
 	text-align: left;
 	padding: 15px 20px;
}
.boxMBorderTop{
	width: 210px;
	border-bottom: 15px solid #edc424;
	border-left: 15px solid #edc424;
	border-right: 15px solid transparent;	
}
.boxMBorderBottom{
	width: 210px;
	border-top: 15px solid #edc424;
	border-right: 15px solid #edc424;
	border-left: 15px solid transparent;

}
.boxMTitle{
	width: 240px;
	margin: 0;

	text-align:center;
	background-color:#edc424;	
}
.boxMTitle p {
	width: 200px;
 	color: #222222;
 	margin:0;
 	font-size:1em;
 	text-align: left;
 	padding: 0 20px;
}
.boxMBottom{
	background-image: url('../images/boxcontentbg.png');
	width: 300px;
	height: 225px;
	z-index: 50;
	position: relative;
	margin-top: -25px;
	padding-top: 25px;
}

.boxMBottom p {
	width: 260px;
 	color: black;
 	margin:0;
 	padding: 20px 20px 20px 20px;
 	font-family: Arial, sans-serif;
 	font-size: 0.75em;
 	text-align: justify;
}
.boxMBottomNews{
	background-image: url('../images/boxcontentbg.png');
	width: 300px;
	height: 225px;
	z-index: 50;
	position: relative;
	margin-top: -25px;
	padding-top: 25px;
}
/*.boxMBottomNews p {
	width: 260px;
 	color: black;
 	margin:0;

 	font-family: Arial, sans-serif;
 	font-size: 0.75em;
 	text-align: justify;
}*/
.boxMBottomUp{
	width: 270px;
	border-bottom: 15px solid white;
	border-left: 15px solid white;
	border-right: 15px solid transparent;	
}
.boxMBottomDown{
	width: 270px;
	border-top: 15px solid white;
	border-right: 15px solid white;
	border-left: 15px solid transparent;
}
.boxMContent{
	width: 300px;
	margin: 0;
	color: black;
	text-align:center;
	background-color:white;
}
.boxMContent p {
	width: 260px;
 	color: black;
 	margin:0;
 	padding: 20px 20px;
 	font-family: Arial, sans-serif;
 	font-size: 0.75em;
 	text-align: justify;
}
.boxL {
	width: 840px;
	background-color: white;
	color: #222222;
	padding:70px 50px;
	float: left;
	position: relative;
	z-index: 1900;
}
.boxLContent{
	width: 840px;
	margin: 25px 0;
	color: black;
	background-color:white;
}
.boxLContent p {
	width: 800px;
 	color: #222222;
 	margin:10px 0;
 	font-family: Arial, sans-serif;
 	font-size: 0.75em;
 	text-align: justify;
 }
 .boxLContent h2 {

	font-size: 1em;
	font-weight: 100;
	color: #db2326;
 }
 .boxLContent h6 {
	font-size: 0.625em;
	font-family: Arial, sans-serif;
	font-weight: 100;
	text-align: justify;
	color: #222222;	
 }
ul.customlist {
	font-family: Arial, sans-serif;
	list-style-type:circle;
	font-size: 0.75em;
}
.team{
	width: 420px;
	float:left;	
	}
.team p {
	width: 420px;		
}
.boxMThumb {
	background-image: url('images/quadratob.png');
	background-repeat: no-repeat;
	margin: 0 60px 0 0;
	float: left;
	width: 240px;

}
.boxMThumbR {
	background-image: url('images/quadratob.png');
	background-repeat: no-repeat;

	float: right;
	width: 240px;

}
.boxMThumb img {
	margin: 20px 20px;	
}
.boxMThumbR img {
	margin: 20px 20px;	
}
.boxMThumbTop{
	width: 200px;
	height: 30px;
	margin: 0 0 0 35px;
	padding: 10px 0 0 0;
	background-image: url('images/caption.png');
	text-align: center;
	
}
.boxMThumbTop p {
	margin: 0;	
}
.boxMThumbBorderTop{
	width: 210px;
	border-bottom: 15px solid #edc424;
	border-left: 15px solid #edc424;
	border-right: 15px solid transparent;	
}
.boxMThumbBorderBottom{
	width: 210px;
	border-top: 15px solid #edc424;
	border-right: 15px solid #edc424;
	border-left: 15px solid transparent;

}
.boxMThumbTitle{
	width: 240px;
	margin: 0;

	text-align:center;
	background-color:#edc424;	
}
.boxMThumbTitle p {
	width: 200px;
 	color: #222222;
 	margin:0;
 	font-size:1em;
 	text-align: left;
 	padding: 0 20px;
}
.boxMGallery{
	width:240px;
	position:relative; 
	z-index:100;
	margin: 20px 0 0 60px;

	
}
p.activity {
	width: 260px;
	color: #DB2326;
	margin: 0;
	padding: 20px 20px 20px 20px;
	line-height: 20px;
	font-family: Impact, sans-serif;;
	font-weight: lighter;
	font-size: 1em;
	text-align: justify;	
	}
#footer {

	width: 1240px;
	float: left;

}
#footerContent {
	background-image: url('../images/footerbg.png');
	font-family: Arial, sans-serif;
	font-size: 0.75em;
	text-align: center;
	margin: 0 150px;
   width: 910px;
/*    background-color: #db2326;*/
    padding: 10px 15px;

}
#footerContent img {
	margin: 0 5px;	
}
#footerContent p {
	margin-top: 10px;
	color: #ffffff;
}	
#footerBorderTop{
	margin: 0 150px;
	width: 910px;
	border-bottom: 15px solid #db2326;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
}
h3{
margin:0;	
	}
#tableadmin
{
	font-size: 0.857142857em;
	margin: 10px 5%;

	text-align: left;
	color: #222222;
}
#tableadmin td
{
	padding: 10px 8px;
	color: #222222;
	font-family: Arial, sans-serif;

}
#tableadmin td a, #tableadmin td a:visited {
	color: #db2326;	
	}
.pagination {
	text-align: center;
	margin: 10px auto;
}
.pagination a {
	/*background-color: #EDC424;*/
	color: #edc424;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
}
.current, .disabled {
	color: #db2326;
	/*background-color: #db2326;*/
	padding: 2px 6px;
	border-radius: 5px;
	margin: 4px;
}
.current {
	font-size: 1.25em;
}
.disabled {
	opacity: 0.5;
	color: #EDC424;
}

#scrollbarbis {margin: 0; position:relative; top: 15px; height:175px;overflow: auto; padding:0 0px;}
#scrollbar1 .viewport {height: 175px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y-thin.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 10px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y-thin.png) no-repeat 0 100%; height: 100%; width:5px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -9px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y-thin.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }