article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: 'Libre Baskerville'; font-style: normal; font-weight: 400; src: local("Libre Baskerville"), local("LibreBaskerville-Regular"), url(http://fonts.gstatic.com/s/librebaskerville/v3/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format("woff2"), url(http://fonts.gstatic.com/s/librebaskerville/v3/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff) format("woff"); }
html, body { height: 100%; }

body { margin: 0; font-family: 'Libre Baskerville', serif; color: #572823; }

.container-fluid { margin: 0; padding: 0; }

#contenitore { min-height: 100%; }

.cover { background-image: url("cover.jpg"); background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover; background-position: center; height: 450px; max-height: 450px; position: relative; clear: both; }

#frase { font-family: 'Libre Baskerville', serif; font-size: 22px; margin: auto; letter-spacing: 4px; text-align: center; margin-bottom: 25px; text-transform: uppercase; }
#frase img { width: 25%; }

.titolobox { font-weight: bold; }

.brown { background-color: #3b2c2a; color: white; }

#chiaro { background-color: #5b4643; }

.brown #titolofooter { font-size: 25px; font-family: 'Libre Baskerville', serif; margin-top: 20px; margin-bottom: 10px; }

#testofooter { width: 80%; margin: auto; font-size: 12px; margin-bottom: 20px; }
#testofooter span { font-size: 30px; }
#testofooter a { color: white; }

#chiaro p { margin: 10px auto; }
#chiaro p a { color: white; }

/* IE6 hack */
@media screen and (max-width: 992px) { .cover { max-height: 350px; height: 350px; } }
@media screen and (max-width: 768px) { .cover { max-height: 250px; height: 250px; } }
