@font-face {
	font-family: 'dedalo';
	src:url('../fonts/dedalo.eot');
	src:url('../fonts/dedalo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/dedalo.woff') format('woff'),
		url('../fonts/dedalo.ttf') format('truetype'),
		url('../fonts/dedalo.svg#dedalo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'dedalo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user-add:before {
	content: "\e600";
}
.icon-users:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e602";
}
.icon-phone:before {
	content: "\e603";
}
.icon-pencil:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\e605";
}
.icon-vcard:before {
	content: "\e606";
}
.icon-tools:before {
	content: "\e607";
}
.icon-camera:before {
	content: "\e608";
}
.icon-disk:before {
	content: "\e609";
}
.icon-trash:before {
	content: "\e60a";
}
.icon-printer:before {
	content: "\e60b";
}
.icon-star:before {
	content: "\e60c";
}
.icon-star2:before {
	content: "\e60d";
}
.icon-checkmark:before {
	content: "\e60e";
}
.icon-cross:before {
	content: "\e60f";
}
.icon-cross2:before {
	content: "\e610";
}
.icon-plus:before {
	content: "\e611";
}
.icon-minus:before {
	content: "\e612";
}
.icon-tree:before {
	content: "\e613";
}
.icon-calendar:before {
	content: "\e614";
}
.icon-bell:before {
	content: "\e615";
}
.icon-search:before {
	content: "\e617";
}
.icon-euro:before {
	content: "\e616";
}
