
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
        font-family: Arial,Helvetica,sans-serif;
	/*font: inherit;*/
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
        
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: separate;
	border-spacing: 0px;
        margin-left:auto;
        margin-right:auto;
}
table td { padding: 5px; }

.lblok {color: #5555ff; text-shadow: 1px 1px 1px #ffffff;}
.r { text-align: right; }
.l { text-align: left; }
.c { text-align: center; }
.m { vertical-align: middle;}
.t { vertical-align:top;}
.b { vertical-align: bottom;}
.up { text-transform: uppercase; }
/* font piccolo */
.fp { font-size:0.9em; }
/* font medio */
.fm { font-size: 1.2em; }
/* font grande */
.fg { font-size: 1.3em; }
.lh25 { line-height: 25px; }
.lh28 { line-height: 28px; }
.lh30 { line-height: 30px; }

.btn {
    padding:5px 7px;    
    border:solid 1px #a0a0a0;
    background-color: #d0d0d0;
    font-size:0.9em;
    border-radius:10px;
    color:black;
    text-shadow: 1px 1px 1px #ffffff;
    font-weight: normal;
    /*letter-spacing: 1px;*/
    cursor:pointer;
    display: inline-table;
    -webkit-box-shadow: 0px 0px 10px 1px #666666;
    box-shadow: 0px 2px 2px 1px #666666;
    font-weight: bold;
    text-align: center;
}

.btnse {
    border:solid 1px #7A8FCE;
    background-color: #7A8FCE;   
}

.btn:hover {
    border:solid 1px #d0d0d0;
    background-color: #2BBCBC;   
}

.textbox {
    font-size: 1.2em;
    border: solid 1px #a0a0a0;
    color:#333;
    font-weight: normal;
    padding-left: 2px;
}

/* GRANDI SCHERMI */     

    div#header {
        margin-top:150px;
        font-size:4em;
        text-align: center;
        font-family: 'Italianno', cursive;
    }
    #logo {
        font-size:2.5em;
        text-align: center;
        font-family: 'Italianno', cursive;
        text-shadow: 1px 1px 1px #ffffff;
    }
    #content {
        width:960px;
        margin-left: auto;
        margin-right: auto;
        /*background-color: #f5f5f5;*/
        padding:10px;
        padding-top:30px;
        font-size:1.0em;
    }
    #footer {
        text-align: center;
        font-size:0.9em;
        line-height: 25px;
        width:100%;
        position: fixed;
        bottom:0px;
        height: 25px;
        background-color: #f0f0f0;
    } 
    #menu { 
        width:100%;
        min-width: 960px;
        height:100px;
        background: #88c7f2; /* Old browsers */
        background: -moz-linear-gradient(left, #ffffff 0%, #88c7f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#88c7f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #ffffff 0%,#88c7f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #ffffff 0%,#88c7f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #ffffff 0%,#88c7f2 100%); /* IE10+ */
        background: linear-gradient(to right, #ffffff 0%,#88c7f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#88c7f2',GradientType=1 ); /* IE6-9 */
        font-family: arial;        
    }
    
    .txtareavalutazione {
        width:98%;
        height: 400px;
        padding: 1%;
        font-family: arial;
        border:none;
        line-height: 25px;
    }