html, body {height: 100%;}
body {
    background-color: #e9c1a1;
}
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -72px;
}

.header {
    
	margin-bottom: 0;
    padding-top: 10px;
}
.container {
	max-width: 960px;
}
#logo {
	text-align: center;
	vertical-align: middle;
}
.navcontainer {
	max-width: 480px;
}
.nav>li>a {
	font-weight: normal;
    font-size: 20px;
}
.dropdown>a {
    font-weight:normal;
    font-size:20px;
    float: none;
    padding: 10px 15px 10px;
    color: #d2965a;
    text-decoration: none;
}
.navbar-inner {
    padding-left: 0;
    padding-right: 0;
}
ul.nav {
    width:100%;
}
.dropdown-menu {
    width: 100%;
    background-color: #94BFA5;
    background-color: rgba(64,190,171,0.5);
    border:0;
    border-radius: 0;
/*        box-shadow:3px 3px 5px #333;
    -webkit-box-shadow: 5px 7px 7px rgba(0,0,0,0.57);
    -moz-box-shadow: 5px 7px 7px rgba(0,0,0,0.57);
    box-shadow: 5px 7px 7px rgba(0,0,0,0.57);*/
    
}
.nav li.dropdown>ul>li {
    float:left;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret {
border-top-color: #d2965a;
border-bottom-color: #d2965a;
}
.navbar .nav li.dropdown>a:hover .caret,.navbar .nav li.dropdown>a:focus .caret{border-top-color:#7b4d50;border-bottom-color:#7b4d50;}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret{border-top-color:#7b4d50;border-bottom-color:#7b4d50;}

.navbar {
	margin-bottom:0;
    margin-top: 45px;
    /*border-bottom: 5px solid #40beab;
    padding-bottom: 10px;*/
}
.navbar .nav>li>.dropdown-menu:before{
    content:'';
    display:inline-block;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #ccc;
    border-bottom-color: transparent;
    border-bottom-color:rgba(0, 0, 0, 0.0);
    position:absolute;top:-7px;left:9px;
}
.navbar .nav>li>.dropdown-menu:after{
    content:'';
    display:inline-block;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom: 6px solid #94BFA5;
    border-bottom:6px solid rgba(64,190,171,0.5);
    position:absolute;
    top:-6px;
    left:300px;
}
#underline {
    height:5px;
    background-color:#40beab;
    min-height:1px;
    /*margin-top:10px;*/
    box-shadow:3px 3px 5px #333;
    -webkit-box-shadow: 5px 7px 7px rgba(0,0,0,0.57);
    -moz-box-shadow: 5px 7px 7px rgba(0,0,0,0.57);
    box-shadow: 5px 7px 7px rgba(0,0,0,0.57);
}
#social{
	height:48px;
	text-align: right;
}
.socialicons {
	vertical-align: top;
	margin: 0 5px;
}
.main {
    margin-bottom: 25px;
}
.shadowed {
	
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.shadowed p {
	text-align: justify;
}
/*.carouselImageHeight img {
  width: auto;
  max-height: 275px;
  margin: 0 auto;
}*/
.imageNews {
    margin-bottom: 15px;
}
.imageTexted {
    float:left;
    margin: 0 10px 10px 0;
}
.ribbon {
	position: relative;
	left: 0;
	color: #fff;
}
.ribbon h2 {
	padding: 5px 25px 3px 10px;
	font-size: 24px;
	line-height: 24px;
    font-weight:normal;
    float:left;
	background-color: #d2965a;
    -webkit-box-shadow: 5px 5px 10px #7b4d50;
    -moz-box-shadow: 5px 5px 10px #7b4d50;
    box-shadow: 5px 5px 10px #7b4d50;    
}
.defaultBox {
    float:left;
    margin: 10px 0;
    padding: 10px;
    background-color: #f8ecde;
    color: #7b4d50;
    width:100%;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 10px #7b4d50;
    -moz-box-shadow: 5px 5px 10px #7b4d50;
    box-shadow: 5px 5px 10px #7b4d50;
}
.lastrow {
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.productPic {
    float:left;
    text-align: center;
    height: 230px;
}
.productPic:nth-child(4n+1) {
    margin-left: 0;
}
.productPic img {
    max-height:200px;
    padding: 5px;
    border: 1px solid #f8ecde;
    box-sizing: border-box;

}
.productPic img:hover {
    border: 1px solid #7b4d50;
}
.productPic p {
    
    
    height: 20px;
    padding: 5px;
    color: #7b4d50;
    text-align: left;
    margin: 0;
}
.newstitle {
	color: #5d5d5d;
	margin: 0;
    
}
.justify {
	text-align: justify;
}
.redline {
    border-bottom: 1px solid #5d5d5d;
}
.push {
	height: 72px;
}
.footer {
	height:72px;
	background-color:#d2965a;
	margin:	0  0 0;
}
.credit {
	color: white;
	font-size: 12px;
	text-shadow: 1px 1px 2px #000;
	line-height: 14px;
	margin:	14px auto;
	text-align: center;
}
.credit a {
	color: #fff;
}
#map iframe {
  max-width: 100%;
  height:	50%;
}
    .Collage{

        /*This is where you set the padding you want between the images*/
        padding:10px;
        margin: 0 0 40px;

        }
    .Collage img{
        margin:0;
        padding:0;
        display:inline-block;
        vertical-align:bottom;
        opacity:1;

        /*This is where you set the border you want for the image*/
        border:6px solid #FFF;
        }


    /* In this example, this is the main item being resized */
    .Image_Wrapper{
        /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
        opacity:0;
        -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        }

    .Caption{
        font-size:14px;
        font-weight:normal;
        font-family:arial;
        }
        .Caption_Content{
            /* padding:10px; */
            color:#FFF;
            padding:5px;
            }
.btn-brown.active{color:rgba(255, 255, 255, 0.75);}
.btn-brown{color:#ffffff!important;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#d28f5a;background-image:-moz-linear-gradient(top, #d28f5a, #7a5435);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#d28f5a), to(#7a5435));background-image:-webkit-linear-gradient(top, #d28f5a, #7a5435);background-image:-o-linear-gradient(top, #d28f5a, #7a5435);background-image:linear-gradient(to bottom, #d28f5a, #7a5435);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd28f5a', endColorstr='#ff7a5435', GradientType=0);border-color:#7a5435 #7a5435 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#7a5435;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-brown:hover,.btn-brown:focus,.btn-brown:active,.btn-brown.active,.btn-brown.disabled,.btn-brown[disabled]{color:#ffffff;background-color:#7a5435;*background-color:#df8505;}
.btn-brown:active,.btn-brown.active{background-color:#c67605 \9;}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media (min-width:768px) and (max-width:979px){
    .form-horizontal .control-label {
        float:none;
        width:auto;
        padding-top:0;
        text-align:left;
    }
    .form-horizontal .controls {
        margin-left:0;
    }
    input, textarea, .uneditable-input {
        width: 90%;
    }
}