html, body {height: 100%;}
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -42px;
}

.header {
    
	margin-bottom: 0;
    padding-top: 10px;
}
.container {
	max-width: 960px;
}
#logo {
	text-align: center;
	vertical-align: middle;
}
.navcontainer {
	max-width: 480px;
}
.nav li a {
	font-weight: bold;
}
.navbar {
	margin-bottom:0;
}
#social{
	height:48px;
	text-align: right;
}
.socialicons {
	vertical-align: top;
	margin: 0 5px;
}
.main {
    margin-bottom: 25px;
}
.shadowed {
	box-shadow: 0 0 5px #888;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.shadowed p {
	text-align: justify;
}
/*.carouselImageHeight img {
  width: auto;
  max-height: 275px;
  margin: 0 auto;
}*/
.imageNews {
    margin-bottom: 15px;
}
.imageTexted {
    float:left;
    margin: 0 10px 10px 0;
}
.ribbon {
	position: relative;
	left: 0;
	float:left;
	width: 100%;
}

.ribbon_l{
	width: 16px;
	height: 44px;
	background-image: url(../images/ribbon_l.png);
	background-repeat: no-repeat;
	float: left;
}
.ribbon_m{
	
	height: 44px;
	background-image: url(../images/ribbon_m.png);
	background-repeat: x-repeat;
	float: left;
	color: #fff;
}
.ribbon_r{
	width: 16px;
	height: 44px;
	background-image: url(../images/ribbon_r.png);
	background-repeat: no-repeat;
	float: left;
}
.ribbon_m h2 {
	margin: 5px 25px 3px 10px;
	font-size: 24px;
	line-height: 24px;
	
}
.lastrow {
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.newstitle {
	color: #5d5d5d;
	margin: 0;
    
}
.justify {
	text-align: justify;
}
.redline {
    border-bottom: 1px solid #5d5d5d;
}
.push {
	height: 42px;
}
.footer {
	min-height:42px;
	background-color:#5d5d5d;
	margin:	0  0 0;
}
.credit {
	color: white;
	font-size: 12px;
	text-shadow: 1px 1px 2px #000;
	line-height: 14px;
	margin:	14px auto;
	text-align: center;
}
.credit a {
	color: #ccc;
}
#map iframe {
  max-width: 100%;
  height:	50%;
}
