body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background-color: #4f4f4d;
	font-family: Helvetica, sans-serif; font-size: 14px;
}

nav {
	margin: 100px auto; 
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #9d9d9c; 
/*	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); */
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #dddddd;
/*			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
		}
			nav ul li:hover a {
				color: #000000;
			}
		
		nav ul li a {
			display: block; padding: 10px 20px;
			color: #000000; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #9d9d9c; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #4f4f4d;
			border-bottom: 0px solid #4f4f4d; position: relative;
		}
			nav ul ul li a {
				padding: 10px 20px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #dddddd;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
