@charset "utf-8";
/* CSS Document */

#slider1 {
	width: 900px; /* important to be same as image width */
	height: 425px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
	margin-left: 50px;
}

#slider1Content {
    width: 900px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px;
	text-align:left;
    width: 900px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 200px !important;
	height: 225px;
}
ul { list-style-type: none;}
