body {
	background-image:url(images/bg.jpg);
	background-repeat:repeat-x;
	background-color: #151515;
	height:auto;
	border-color: #000;
	
	}

h1{
	padding:5px 0 5px 0;
	margin:0px;
	font-size:18px;
	color:#F0F0F0;
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;
}
h2{
	font-family: Tahoma, Geneva, sans-serif;
	padding:5px 0 5px 0;
	margin:0px;
	font-size:18px;
	color: #fff;
	text-align:center;
}



p{
	text-align:justify;
	padding:2px 0 2px 0;
	margin:0px;
	line-height:23px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#FFF;
}

#main_container{
	width:80%;
	height:auto;
	margin:auto;
}

#header{
width:auto;
height:125px;
margin:auto;
margin-left:2%;
}


.logo{
	padding:0px 0 0 0px;
	float:left;
	width:482px;
	 text-decoration: none;
	






}
/*----------------------menu-------------------------*/
.menu{
	width:auto;
	height:33px;
	background-color:#9d9d9c;
	float:left;
	margin-top: 80px;
	

	
	
}
.menu ul{
list-style:none;
padding:0 2px 0 0px; 
margin-top: -2px; 
margin-bottom: 0px; 
margin-left: 0px;
z-index:10000;
	
	
}

.menu ul li{
	list-style:none;
	float:left;
	width:auto;
	height:25px;
	padding-left:10px;
	line-height:35px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	text-transform: uppercase;
	position: relative;
	z-index:10000;
	
}

.menu ul li a{
	color:#000000;
	text-decoration:none;
		display: block;

	}

.menu ul li a:hover{
	height:65px;
	width:auto;
    text-decoration:underline;



}
.menu li ul {
	position: absolute;
	top: 35px;
	background-color: #999;
	width:150%;
	height:140px;
	display: none;
	text-align:left;
	margin-left: -25px;


	
	}
	
.menu li ul a{
		margin-left: 0px;
		line-height: normal;
		margin-top:5px;
		display:block;
	
	}

	
.menu li:hover ul { 
display: block; 
}



	
	

	
/*--------------------------main_content-------------------*/


div#corpo {
	width: 100%;
	text-align:center;
	text-align: left;
	top: 120px;
	border-color: #000;


}
#imgprodotti {
	margin-left: 50px;
	border-color:#000000;}
#img{
	float: right;
	margin-top: 50px;
	border-color: #000;
	}

#centro{
	margin-right: 10%;
	
	margin-left: 10px;
	margin-top: 50px;
	border-color: #000;
	width:auto;
	position:absolute;
    left:50%;
	clear:right;
	}
#azienda{
float: left;
width:50%;
clear: left;

}

.testo {
	float: left;
	width: auto;
	padding: 5px;
	margin-left: 10px;
}

.google  {
	float: right;
	width: auto;
	height:auto;
	padding: 5px;
	margin-right: 10px;
}
.menulaterale {
	float: left;
	list-style:none;
	text-decoration:none;
	margin-right: 20px;
	
	}
	.menulaterale  a{
		text-align:right;
		color:#FFFFFF;
		text-transform: uppercase;
		text-decoration:none;
	

	
	}
	
	.menulaterale  a:hover{
    text-decoration:underline;
		text-align:right;
		color:#FFFFFF;
		text-transform: uppercase;
		display: block;
	
	}


/*-----------------------------footer------------------*/
#footer{
	clear:both;
	width: auto;
	height:65px;
	color: #000;
	
}
.copyright{
float:left;
padding-left:10px;
padding-top:10px;
}

.copyright p{
	color:#FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}



.footer_autori {

padding-left:10px;
padding-top:10px;
	float:right;
	margin-right: 10px;
	width: auto;

	
	}
	
	
.footer_autori p{
	font-size:12px;
	color: #FFF;
	
	}
/	
	
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

/*body {
	background-color: #4f4f4d;
	font-family: Helvetica, sans-serif; font-size: 14px;
}
*/
nav {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	margin: 63px auto 0 auto;
	text-align: center;
	float: left;
	z-index: 1000;
	position: relative;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #9d9d9c;
	margin-bottom: 0;
/*	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); */
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #dddddd;
/*			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
		}
			nav ul li:hover a {
				color: #000000;
			}
		
		nav ul li a {
			display: block; padding: 10px 20px;
			color: #000000; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #9d9d9c; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #4f4f4d;
			border-bottom: 0px solid #4f4f4d; position: relative;
		}
			nav ul ul li a {
				padding: 10px 20px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #dddddd;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}