@media (min-width: 768px) {
	.open .dropdown-menu {
		background-color: $grey;
		background-color: rgba($grey, 0.8);
		@include border-radius (0);
		@include box-shadow(none);
		margin-top: 5px;
		> li > a {
			color: white!important;
			&:hover {
				background-color: rgba($grey, 0.8);
			}
		}
	}
	.nav-justified {
		width: 100%!important;
	}
	.navbar-default .navbar-nav li a {
		padding: 10px 5px;
		font-size: 0.875em;
	}
	.navbar-brand {
		display: none;
	}
}
@media (min-width: 992px) {
	.navbar-default .navbar-nav li a {
		padding: 10px 15px;
		font-size: 1em;
	}
}
