$gilda: 'Gilda Display', serif;
$quattrocento: 'Quattrocento', serif;
$haviland: 'Mr De Haviland', cursive;
$delafield: 'Mrs Saint Delafield', cursive;
$seaweed: 'Seaweed Script', cursive;
$grey: #728192;