<h1 style="color:#0065b1;font-size:24px;font-family:sans-serif;">
	Cesare Rinaldi
</h1>
<a href="http://www.glumcommunication.it" title="GLuM Communication"><img src="http://www.glumcommunication.it/images/logofirma.png" alt="GLuM Communication"></a>
<p style="color:#0065b1;font-size:14px;font-family:sans-serif;">
	Sede Legale: Via del Paradiso 41, 53100 Siena<br>
	P. Iva: 01354790527<br>
	Email: <a href="mailto:cesare@glumcommunication.it" title="Contattaci">cesare@glumcommunication.it</a><br>
	Tel.: +39 0577 280213
</p>
<p style="color:#ff8c00;font-size:10px;font-family:sans-serif;width:450px;text-align:justify;">
	INFORMATIVA AI SENSI DEL CODICE DELLA PRIVACY (D. LGS. 196 - 30/06/2003). Le informazioni contenute nella presente e
	mail e negli eventuali allegati, devono essere nella disponibilita' del solo destinatario. Se avete ricevuto per errore 
	questa email siete pregati di informarci (rispedendola al mittente) e di provvedere alla sua rimozione. Possono essere 
	presenti informazioni riservate e non corrette (parzialmente o totalmente). Le email in partenza e in arrivo possono 
	essere oggetto di monitoraggio da parte della GLuM Communication Srl. Del contenuto &egrave; responsabile il mittente della presente. 
	Chiunque venga in possesso non autorizzato di questa email &egrave; vincolato dalla Legge a non leggerne il contenuto, a non copiarla, 
	a non diffonderla e a non usarla. GLuM Communication Srl declina pertanto ogni responsabilita' in caso di intercettazione o 
	modifiche del presente messaggio.
</p>