html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
html, body {
    color:#000000;
    width: 100%;
    height: 100%;
    font-size:1em;
    background-color: #27829d;
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
    border: 0;
}
ul {
    list-style-type: none;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#wrapper {
    min-width: 48px;
    height: 100%;
    background-color: #27829d;
}

/* HEADER START */

#header {
    background-color: #fff;
    background-image: url('../img/hbg.png');
    background-repeat: repeat-x;
    /*margin-top: 40px;*/
}
#logourl {
    position: relative;
}
#logo {
    background-image: url('../img/egologo360b.png');
    background-repeat: no-repeat;
    height: 110px;
    position: relative;
    left: 0;
}
.upperH {
    float: right;
    margin-bottom: 8px;
}
#haddress {
    color: #27829d;
    border-left: 2px solid #27829d;
    font-size: 13px;
    padding: 20px 0 0 10px;
    float: right;
}
.lowerH {
    float: left;
    height: 36px;
    
}
nav ul {
    float:right;
    
}
nav ul li {
    color: #fff;
    float:left;
    font-size: 14px;
    padding: 10px 11px;
}
nav ul li:first-child {
    padding-left: 0;
}
nav ul li:last-child {
    padding-right: 0;
}
.navbar-default {
background-color: transparent;
border: none;
}
/* HEADER END */

/* MAIN START */

#main {
    min-height: 500px;
    background-color: #fff;
}
.maincontent {
    margin: 25px 0 45px;
    float: left;
    width: 100%;
}
.homepic {
    padding: 0 1px;
}
.homepic:first-child {
    padding: 0 2px 0 0;
}
.homepic:last-child {
    padding: 0 0 0 2px;   
}

.maincontent p {
    font-size: 0.8125em;
    line-height: 1.5em;
    color: #27829d;
    text-align: justify;
}
.maincontent h1 {
    color: #27829d;
    border-bottom: 2px solid #27829d;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 45px;
}
.homenews {
    background-color: #fff;
    color: #27829d;
    margin-bottom: 15px;
}
.homenews h1 {
    font-size: 16px;
font-weight: 600;    
}
.homenews p {
    font-size: 13px;    
}
.homenews .newsbody {
    margin-top: 5px;
}
.homenews .newsdetail {
    font-size: 12px;
}
.news {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-top: 2px solid #eee;
}
h1.newstitle {
    border:none;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight:600;    
}
.newsbody {
    margin-top: 15px;
}
.newsbody p {
    font-size: 13px;
}
.newsdetail {
        
}
.newsdetail p {
    font-size: 12px;
}
news:nth-child(last) {
    margin-bottom: 0;
    margin-top: 0;
}
    
.news:nth-child(even) {
    background-color: #27829d;
    border-top: 2px solid #2C5160;
    color: #fff;
}
.news:nth-child(even) h1 {
    color: #fff;
}
.news:nth-child(even) p {
    color: #fff;
}
.pagination-container {
    text-align: center;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index: 2;
color: #fff;
cursor: default;
background-color: #27829d;
border-color: #27829d;
}

/* ----------------- */
.servicepic {
    margin: 15px auto;
    
}
.servicebox h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 15px 10px;
    padding: 15px 0 15px;
    border-bottom: 2px solid #fff;
}
.servicebox p {
    color: white;
    padding: 0 10px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}
.servicebox {
    background-color: #ccc;
}
.servicebox:hover {
    opacity: 0.8;
}

/* MAIN END */
/* GALLERY EFFECT */

figure {
  display: block;
  position: relative;
  overflow: hidden;
}
figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #27829d;
  background: rgba(39, 130, 157,0.75);
  color: white;
  /*padding: 10px 20px;*/
  padding-top:25%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
figure:hover figcaption {
  opacity: 1;
}
/*figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}*/
figure:hover:before {
  opacity: 0;
}
.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }
/* GALLERY EFFECT END */

/* FORM STYLING */

#contatti {
    font-weight: normal;
    color: #27829d;
}
#map_canvas img {
    max-width: inherit;
}
#contatti label {
    font-weight: normal;
}
.error {
    color: red;
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
}
.addressInfo {

}
.addressInfo p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
/* END OF FORM STYLING */

/* FOOTER START */

#footer {
    height: 48px;
    background-color: #27829d;
    color: #fff;
    font-size: 12px;
}
.borderb {
    border-left: 2px solid #fff;
}
.footerpr {
    text-align: right;
}
.footerpl {
    text-align: left;
}
.padding_f1 {
    padding: 15px 0;
}
#footer ul {
    float: right;
}
#footer ul li {
    float: left;
    padding: 10px 3px 0px 3px;
    border-right: 1px solid white;
    font-size: 10px;
}
/* FOOTER END */

/* BOOTSTRAP MOD */

.navbar-nav>li>a {
padding-top: 0;
padding-bottom: 0;
line-height: normal;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
}
.nav>li>a {
position: relative;
display: block;
padding: 0;
}
.navbar-toggle {
position: relative;
float: right;
padding: 6px 6px;
margin-top: 4px;
margin-right: 0;
margin-bottom: 4px;
margin-left: 10px;
background-color: transparent;
border: 1px solid transparent;
border-radius: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #27829d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

@media (min-width: 768px) {
.navbar-nav {
float: right;
margin: 0;
}
}
@media (max-width: 767px) {
.navbar-nav {
float: right;
margin: 0;
background-color: #27829d;
background-color: rgba(39, 130, 157,0.9);
width: 100%;
}
.navbar-nav li {
    float:none;
    text-align: right;
    width: 100%;
}
.navbar-nav li:hover {
    float:none;
    text-align: right;
    width: 100%;
    color:  #fff;
    background-color: #0f5063;
}
.navbar-nav li:first-child {
    padding-left: 11px;
}
.navbar-nav li:last-child {
    padding-right: 11px;
}
.navbar-collapse {
max-height: 340px;
padding-right: 0;
padding-left: 0;
overflow-x: visible;

/*border-top: 1px solid transparent;*/
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
-webkit-overflow-scrolling: touch;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #27829d;
clear:both;
}
.navbar-header {
float: none;width:100%;
}
.maincontent h1 {
    margin-top:15px;
}
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #fff;
background-color: transparent;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0;
}
.navbar-header {
float: right;
}

/* MEDIA QUERIES */

@media(max-width:1199px){
    #logo {
    background-image: url('../img/egologo293.png');
    }
    .servicebox h1 {
        margin: 0 15px 5px;
        padding: 10px 0 10px;
    }
    .servicebox p {
        font-size: 10px;
        line-height: 14px;
    }
}

@media(max-width:991px){
    #logo {
    background-image: url('../img/egologo220b.png');
    }
    .servicebox h1 {
        font-size: 12px;
        margin: 0 15px 5px;
        padding: 10px 0 5px;
    }
    .servicebox p {
        padding: 0 5px 10px;
        font-size: 8px;
        line-height: 10px;
    }
}
@media(max-width:767px){
    #footermenu, #haddress {
        display:none;
    }
    .upperH {
        float: right;
        height: 50px;
        width: 100%;
}
    .lowerH {width:100%;}

    .servicebox {
        height: auto!important;
    }
.servicebox h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 15px 10px;
    padding: 15px 0 15px;
    border-bottom: 2px solid #fff;
}
.servicebox p {
    color: white;
    padding: 0 10px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}
}
@media(min-width:768px){
    #faddress {
        display:none;
    }
}
/* OTHER FIXES (LIGHTBOX) */

.lb-image{
max-width: inherit;
}