@charset "utf-8";
/* CSS Document */
#slidesOne {
	width: 1024px;
	height: 400px;
	position: relative;
	left: 0;
	margin: 15px 0;
}
.slides_container {
	width: 1022px;
	height: 398px;
	position: relative;
	right: 0;
	border: 1px solid white;
}
#slidesTwo {
	width: 1024px;
	height: 400px;
	position: relative;
	left: 0;
	margin: 5px 0;
}
#slidesThree {
	width: 1024px;
	height: 400px;
	position: relative;
	left: 0;
	margin: 15px 0;
}
#slidesFour {
	width: 1024px;
	height: 400px;
	position: relative;
	left: 0;
	margin: 15px 0;
}

#boxLeft {
	filter:alpha(alpha=90);
	background-color:rgba(255,255,255,0.6);
	width: 200px;
	height: 400px;
	float:left;
	z-index:99;
	position:absolute;
	top: 0;
	left: 0;
/*	
	margin-top:20px;
	padding-left:10px;
	padding-top:30px;
*/
	list-style-type: None;
	text-align: left;
}
#boxLeft a:hover {
	color: #8995AB;
}
#boxRight a:hover {
	color: #8995AB;
}
#boxRight {
	filter:alpha(alpha=90);
	background-color:rgba(255,255,255,0.6);
	width: 160px;
	height: 400px;
	float:right;
	z-index:99;
	position:absolute;
/*	margin-top:16px;
	padding-right:10px;
	padding-top:30px;
*/
	list-style-type: None;
	text-align:right;
	top: 0;
	right: 0;
	padding-right: 40px;
}
#boxLeft a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#51657f;
	line-height: 1.5;
	text-decoration:none;
}

#boxRight a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#51657f;
	text-align:right;
	line-height: 1.5;
	text-decoration:none;
}
.clear {
	clear: both;
}
.right {
	right: 0;
	bottom: 0;
	width: 0px !important;
	height: 0px;

}
ul { list-style-type: none;}
