a, a:visited {
	text-decoration: none;	
	font-weight: bold;
}
a:hover {
	text-shadow: 0 0 3px #ffffff;	
}
img {
	max-width: 100%;
	border: 0;
	padding: 0;
}

#header {
	position: relative;
	height: 150px;
	border-bottom: solid;
	border-bottom-color:#8995ab;
}
	#header  li.sectionLevel1 {
	float:left;
	top: 0px;

	}
 #social {
position: relative;
top: 4px;
left: 4px; 	
width: 32px;
height: 31px;
 	}
		
		#social ul {
	position: absolute;
	left: 0;
	top: 115px;
	min-height:100px;
	

			
		}
		#social ul li {
			padding:0px 0px 0px 0px;
		}
		
		#social ul li a {
			
			
		}
		#social ul li.active a {
		
		}
		
		#social ul li:hover a {
			color:#adadad;
			background: none;
		}
	
		#topMenu {
	text-transform:uppercase;
	/*background-image: url(images/menuBg.png);*/
	background-color: #8995ab;
	width:100%;
	margin-top:-25px;
	float:right;
}

	
	#topMenu>ul { /* UL */
		float: right;
		min-height:20px;
		margin: 0px 0px;
		padding-right: 20px;	
		
	}	
	
	
	#header li.sectionLevel1 {
	position: relative;
	min-width: 112px;
	min-height:20px;
	display: block;
	color: #394b69;
	font-family: "Helvetica", "Arial", "Verdana";
	font-size: 0.95em;
	font-weight: 700;
	height: 18px;
	list-style: none;
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: default;

}	
	#header li.sectionLevel1 a {
	/*font-weight: bold;*/
	display: block;
/*	padding:10px 0px;*/
	text-align:center;
	font-weight:bold;
	color:#394b69;
	text-decoration:none;
	font-size:0.95em;
	}	 
	#header li.active a {
		color:#394b69;
		
	}
	
	#header li a:hover {
	color: white;	
	}
	#topMenu li.sectionLevel1 ul {
		display: none;
		min-height: 30px;
	}
	
	#topMenu li.sectionLevel1:hover ul {
	display: block;
	background-color:rgb(137,149,171);		
filter:alpha(opacity=90);
-moz-opacity:0.9;
opacity: 0.9; 
z-index:99999;

	}
	
	#topMenu li.sectionLevel1 ul {
		position: absolute;
		left: 0;
		width:auto;
		z-index: 99;
		padding:10px 0px;
	}

	#topMenu li.sectionLevel1 ul li {
		width:auto;
	}
	#topMenu li.sectionLevel1 ul li a {
	display: block;
	font-size:0.80em;
	padding: 5px;
	margin:0px 5px;
/*	border-bottom: 1px solid #252525;*/
	color:#FFFFFF;
	font-family:Helvetica, Arial, Verdana;
	}
	#topMenu li.sectionLevel1 ul li a:hover,
	#topMenu li.sectionLevel1 ul li.active a {
	text-decoration:underline;	

	}
	
body {
	background-color:#394b69;
	height:auto;
	font-family: "Helvetica", sans-serif;
	
	}
img {
	border: 0;
}
h1{
	padding:5px 0 5px 0;
	margin:0px;	
	font-size:1em;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align:left;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	padding:5px 0 5px 0;
	margin:0px;
	font-size:18px;
	color: #fff;
	text-align:center;
}



p{
	text-align:justify;
	padding:2px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#FFFFFF;
	line-height:2em;
}
a {
	color:#FFFFFF;
	font-family:Helvetica, Arial, Verdana;
}
ul li {
    padding: 2px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #FFFFFF;
    line-height: 2em;    
}
#main_container{
	width:1024px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px;
	position: relative;
}

#bigbox {
	background-color: #394b69;
	width: 1024px;
	height: auto;
	position: relative;
	top: 10px;
	/*margin-top: 25px;*/
	
}
#bigbox img {
	width: 1022px;
	height: 398px;
	border: 1px solid white;
/*	margin-top: 25px;
	margin-bottom: 25px;
*/}
#caption {
	color: #fff;
	width: 1012px;
	height: 40px;
   background: rgba(137, 149, 171, 0.6); /* R, G, B, A */
	font-size: 36px;
	position: absolute;
	top: 300px;
	left: 1px;
	font-family:Arial, Helvetica, sans-serif;	
	padding: 0 0 5px 10px;
	}

#corpo {	

	margin-top: 10px;
	padding-bottom: 35px;

}
#corpo p {
	text-align: justify;
}
.infobox {
	position: relative;
	width: 45%;
	min-width: 450px;
    position: relative;
	float: left;
	height: auto;
	background-color: #8995AB;
	padding: 1%;
	margin: 0 12px 10px 12px;
	left: 10px;
	text-align: center;
}
.infobox p {
	color: #FFFFFF;
}
.infobox iframe {
	margin: 0 auto;
}
.outletbox {
	position: relative;
	/*width: 45%;*/
	width: 290px;
   position: relative;
	float: left;
	height: auto;
    line-height: 360px;
	background-color: white;/*rgba(137, 149, 171, 0.9);*/
	padding: 10px;
	margin: 12px;
	left: 10px;
	text-align: center;

}
.outletbox img {
    vertical-align: middle;
}
.outletbox p {
	color: #394b69;
}
.peoplebox {
	position: relative;
	width: auto;
	min-width: 300px;
	min-height: 200px;
	background-color: steelblue;
   position: relative;
	float: left;
	height: auto;
	background-color: #8995AB;
	padding: 5px;
	margin: 5px;
	text-align: center;
	left: 30px;
	display: table-cell;
}
.peoplebox p, .peoplebox a {
	text-align: center!important;
	margin: 0 auto;
	color: #FFFFFF;
}
.peoplebox li {
	font-family:Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	list-style-type: none;
}

/*-----------------------------footer------------------*/
.push {
	height: 65px;
	color: white;
}
#footer{
	clear:both;
	position: relative;
	top: 0;
	left: 0;
	width: 1024px;
	height:65px;
	color: #000;
	margin-top: 10px;
/*	position: relative;
	bottom: 0;*/

}
#footer a {
	color: white;	
}
#footer table td {
	color: white;
	font-size: 11px;
	font-family: Helvetica, sans-serif;
	padding: 0 5px;
	} 
.copyright{
	float:left;
	padding-top:10px;
}

.copyright p{
	color:#FFFFFF;
	font-family:Helvetica, Arial, Verdana;
	font-size: 12px;
 
}
/* INIZIO CODICE PROGETTI */

#bigboxP {
	background-color: #394b69;
	width: 1024px;
	height: auto;
	position: relative;
	top: 10px;
	/*margin-top: 25px;*/
	
}
#projectContainer {
    width: 1022px;
    overflow: hidden;
    border: 1px solid white;
    background-color:#8995ab;
}
#projectInfo {
    color: #fff;
    background: rgba(137, 149, 171, 0.6);
    font-size: 36px;
    position: absolute;
    top: 5%;
    left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 25px 5px 10px;
    z-index: 100;
}
#projectSlide, #slider {
    width: 1022px;
    background-color: #8995ab;
    float: left;
    text-align:center;
}
#projectCarousel, #carousel {
    margin-top: 1px;
    width: 1022px;
    height: auto;
    float:left;
    background-color: #8995ab;
    border-top: 1px solid #fff;
}
.project {
    width: 300px;
    height: auto;
    float: left;
    background-color: #8995AB;
    margin: 5px;
    position: relative;
    left: 30px;
    padding: 5px;
}
.project_cover {
    width: 95%;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
}
.project_title {
    height: 30px;
    text-align: left;
    padding-top: 5px;
    width: 95%;
    margin: 0 auto;
}
.h1proj, .h1det {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#slider img, #carousel img  {
    border: none;
    width: 100%;
}
/* FINE CODICE PROGETTI */


.footer_autori {

padding-left:10px;
padding-top:30px;
	float:right;
	margin-right: 10px;
	width: auto;

	
	}
	
	
.footer_autori p{
	font-size:12px;
	color: #FFF;
	
	}
	
#partnerTable {
	border-collapse: collapse;
	color: #FFFFFF;
	font-family: Helvetica, Arial, Verdana, sans-serif;

}
.five {width: 100%; color:#ffffff;float:left;}
.four{width: 80%; color: #ffffff;		float:left;}
.three {width: 60%; color:#ffffff;	float:left;}
.two{width: 40%; color: #ffffff;	float:left;}
.one {width: 20%; color:#ffffff;	float:left;}

#partnerTable.five th{
	width: 20%;
	font-size: 0.9em;
	padding: 5px;
	color: #ffffff;
	background: rgba(137, 149, 171, 0.6);
	margin: 10px 0;
}
#partnerTable.four th{
	width: 25%;
	font-size: 0.9em;
	padding: 5px;
	color: #ffffff;
	background: rgba(137, 149, 171, 0.6);
	margin: 10px 0;
}
#partnerTable.three th{
	width: 33.333333%;
	font-size: 0.9em;
	padding: 5px;
	color: #ffffff;
	background: rgba(137, 149, 171, 0.6);
	margin: 10px 0;
}
#partnerTable.two th{
	width: 50%;
	font-size: 0.9em;
	padding: 5px;
	color: #ffffff;
	background: rgba(137, 149, 171, 0.6);
	margin: 10px 0;
}
#partnerTable.one th{
	width: 100%;
	font-size: 0.9em;
	padding: 5px;
	color: #ffffff;
	background: rgba(137, 149, 171, 0.6);
	margin: 10px 0;
}
#partnerTable td a {
	font-weight: normal;
}
#partnerTable.five td {
	width: 20%;
	text-align: center;
	font-size: 0.9em;
}
#partnerTable.four td {
	width: 25%;
	text-align: center;
	font-size: 0.9em;
}
#partnerTable.three td {
	width: 33.333333%;
	text-align: center;
	font-size: 0.9em;
}
#partnerTable.two td {
	width: 50%;
	text-align: center;
	font-size: 0.9em;
}
#partnerTable.one td {
	width: 100%;
	text-align: center;
	font-size: 0.9em;
}
.sponsortable th {
    background-color: #68768f;
	background-color: rgba(137, 149, 171, 0.6);
	color: white;
	padding: 5px 0;
}
.sponsortable td {
padding: 20px 10px;	
}
h1.eventTitle {
    background-color: #68768f;
	background-color: rgba(137, 149, 171, 0.6);
	color: white;
	padding: 5px 0;
    text-align: center;
    margin: 20px 0;
}
#contactform {
    margin: 0 auto;
    width: 511px;
}
#contactform input, #contactform textarea {
    border: 1px solid #68768f;
    padding: 5px;
    width: 499px;
    color: #333;
}
#contactform button {
    padding: 5px 10px;
    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 0 auto;
}

#contactform button:focus {
    background-color: #cfcfcf;
}
#contactform .form-group {
    margin: 10px 0;
}
.error, label {
    color: white;
    font-size: 13px;
}

/* Start PureCSSMenu.com STYLE */

#pcm{display:none;}
ul.pureCssMenu ul{display:none}
ul.pureCssMenu li:hover>ul{display:block}
ul.pureCssMenu ul{position: absolute;left:-1px;top:98%;}
ul.pureCssMenu ul ul{position: absolute;left:-172px;top:-2px;}
ul.pureCssMenu,ul.pureCssMenu ul {
	margin:0px;
	list-style:none;
	padding:0px 20px 0 40px;
	background-color:#8995ab;
	background-repeat:repeat;
	border-color:#A6A6A6;
	border-width:0px;
	border-style:solid;
}
ul.pureCssMenu ul {
    padding: 10px 0;
}
ul.pureCssMenu table {border-collapse:collapse}ul.pureCssMenu {
	display:block;
	zoom:1;
	float: left;
}
ul.pureCssMenu ul{
	/*width:196.35px;*/
		background-color:#8995ab;
		background-color:rgba(137,149,171,0.9);
        position: absolute;
        left: 0;
        width: auto;
        z-index: 199;
        padding: 10px 0px;
}
ul.pureCssMenu li{
	display:block;
	/*margin:1px 0px 0px 1px;*/
	font-size:0px;
        min-height: 20px;
        padding: 10px 0;
        min-width: 100px;
        text-align: center;
}
ul.pureCssMenu li ul li {
    width:auto;
    min-width: auto;
    padding: 0;
    min-height: 25px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
	display:block;
	vertical-align:middle;
	border-width:0px;
	border-color:#FCEEB0;
	border-style:solid;
	text-align:center;
        
	text-decoration:none;
	/*padding:5px;
	_padding-left:0;*/
	font:bold 14px Arial;
	color: #394b69;
	text-decoration:none;
	cursor:pointer;
}
ul.pureCssMenu span{
	overflow:hidden;
}
ul.pureCssMenu li {
	float:left;
}
ul.pureCssMenu ul li {
	float:none;
}
ul.pureCssMenu ul a {
	text-align:center;
	/*white-space:nowrap;*/
        font-size: 12px;
        padding: 5px;
        margin: 0 5px;
}
ul.pureCssMenu li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.pureCssMenu li.sep span{
	float:none;	padding-right:0;
	width:3;
	height:100%;
	display:inline-block;
	background-color:#A6A6A6;
        background-image:none;}
ul.pureCssMenu ul li.sep span{
	width:100%;
	height:3;
}
ul.pureCssMenu li:hover{
	position:relative;
}
ul.pureCssMenu li:hover>a{
	border-color:#4C99AB;
	border-style:solid;
	font:bold 14px Arial;
	color: #FFFFFF;
	text-decoration:none;
        text-shadow: 0 0 3px #ffffff;
}
ul.pureCssMenu li a:hover{
	position:relative;
	
	border-color:#4C99AB;
	border-style:solid;
	font:bold 14px Arial;
	color: #FFFFFF;
	text-decoration:none;
        text-shadow: 0 0 3px #ffffff;
}
ul.pureCssMenu ul li a:hover, ul.pureCssMenu ul li:hover>a{
    font-size: 12px;
    text-decoration: underline;
}
ul.pureCssMenu li.dis a {
	color: #AAAAAA !important;
}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:5px;width:16px;
height:16px;
}
ul.pureCssMenu ul img {width:16px;
height:16px;
}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover > a img.def  {display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over,ul.pureCssMenu a:hover a:hover a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def,ul.pureCssMenu a:hover a:hover a:hover img.def{display:none}
ul.pureCssMenu a:hover ul,ul.pureCssMenu a:hover a:hover ul{display:block}
ul.pureCssMenu a:hover ul ul{display:none}
/*ul.pureCssMenu span{
	display:block;
	background-image:url(./images/arrv_blue_2.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:8px;}*/
ul.pureCssMenu li ul li:hover>a>span{
    background-image:url(./images/arr_white_3.gif);
    display:block;
    background-position:left center;
    background-repeat: no-repeat;
    padding-left:10px;
}


/*ul.pureCssMenu a:hover span{	_background-image:url(./images/arrv_white_2.gif)}*/
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{
    background-image:url(./images/arr_blue_3.gif);
    display:block;
    background-position:left center;
    background-repeat: no-repeat;
    padding-left:10px;
}
/*ul.pureCssMenu ul li:hover > a span{	background-image:url(./images/arr_white_2.gif);}*/
ul.pureCssMenu table a:hover span,ul.pureCssMenu table a:hover a:hover span{background-image:url(./images/arr_white_2.gif)}
ul.pureCssMenu table a:hover table span{background-image:url(./images/arr_white_2.gif)}
ul.pureCssMenu li a.pureCssMenui0{
font:n;
}
ul.pureCssMenu li a.pureCssMenui0:hover{
font:o;
}
/* BOOTSTRAP */
.alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}
.alert .alert-link{font-weight:bold}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable{padding-right:35px}.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#356635}.alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#2d6987}.alert-warning{color:#c09853;background-color:#fcf8e3;border-color:#fbeed5}.alert-warning hr{border-top-color:#f8e5be}.alert-warning .alert-link{color:#a47e3c}.alert-danger{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.alert-danger hr{border-top-color:#e6c1c7}.alert-danger .alert-link{color:#953b39}
.close {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .2;
filter: alpha(opacity=20);
}
button.close {
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
}
