<img src="images/people/foto_annarita_aceto.png" width="500" height="320" alt="Annarita Aceto" />
<h3>ANNARITA ACETO</h3>
<h5><strong>Account</strong> - Siena</h5>
<p><a href="mailto:annaritaa@idpromoter.it">annaritaa@idpromoter.it</a></p>