<img src="images/people/foto_azzurra_magherini.png" width="500" height="320" alt="Azzurra Magherini" />
<h3>AZZURRA MAGHERINI</h3>
<h5><strong>Account Executive</strong> - Terranuova B.ni</h5>
<p><a href="mailto:azzurram@primah.it">azzurram@idpromoter.it</a></p>
