<img src="images/people/foto_carolina_mori.png" width="500" height="320" alt="Carolina Mori" />
<h3>CAROLINA MORI</h3>
<h5><strong>Account</strong> - Siena</h5>
<p><a href="mailto:carolinam@idpromoter.it">carolinam@idpromoter.it</a></p>