<img src="images/people/foto_cesare_rinaldi.png" width="500" height="320" alt="Cesare Rinaldi" />
<h3>CESARE RINALDI</h3>
<h5><strong>Web Developer</strong> - Siena</h5>
<p><a href="mailto:cesarer@idpromoter.it">cesarer@idpromoter.it</a></p>