<img src="images/people/foto_ID.png" width="500" height="320" alt="Claudia Pocetti" />
<h3>CLAUDIA POCCETTI</h3>
<h5><strong>Executive Assistant</strong> - Terranuova B.ni</h5>
<p><a href="mailto:claudiap@primah.it">claudiap@idpromoter.it</a></p>