<img src="images/people/foto_david_vagellini.png" width="500" height="320" alt="David Vagellini" />
<h3>DAVID VAGELLINI</h3>
<h5><strong>Account</strong> - Siena</h5>
<p><a href="mailto:davidv@idpromoter.it">davidv@idpromoter.it</a></p>