<img src="images/people/foto_giulia_felici.png" width="500" height="320" alt="Giulia Felici" />
<h3>GIULIA FELICI</h3>
<h5><strong>Copywriter</strong> - Siena</h5>
<p><a href="mailto:giuliaf@idpromoter.it">giuliaf@idpromoter.it</a></p>