<img src="images/people/foto_michele_sestini.png" width="500" height="320" alt="Michele Sestini" />
<h3>MICHELE SESTINI</h3>
<h5><strong>Art Director Junior</strong> - Siena</h5>
<p><a href="mailto:micheles@idpromoter.it">micheles@idpromoter.it</a></p>