<img src="images/people/foto_ID.png" width="500" height="320" alt="Valentina Macaluso" />
<h3>VALENTINA MACALUSO</h3>
<h5><strong>Account</strong> - Siena</h5>
<p><a href="mailto:valentinam@idpromoter.it">valentinam@idpromoter.it</a></p>