html, body {
	font-family: Helvetica, sans-serif;
	margin:0;
	padding:0;
	height: 100%;
	color: #333;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
		text-shadow: 1px 1px 2px #fff;

}
img {
	opacity: 0.8;	
}
img:hover {
	opacity: 1;	
	}
#wrapper {
	height: 100%;
	width: 100%;
}
#toppic{
	width: 100%;
	height: 100%;
	float: left;
	background-color: #ffffff;
	background-image: url('../images/landingpage1.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;	
	font-size: 87.5%;
	/*z-index: 1000;*/
	margin: 0;
	padding: 0;		
}
#start {

	height: 20%;
	width: 100%;
	float: left;
	/*background-color: #88c7f2;*/
	background-color: transparent;
	left:0;
	bottom:0;	
}
#startmenu {
	position: absolute;
	width: 100%;
	min-height: 150px;
	background-color: rgba(38,134,199,0.7);
	bottom: 0;
	left: 0;
	text-align: center;
	color: #fff;
	/*border-top-right-radius:15px;*/
	float:left;
	box-shadow: 0 -1px 10px #fff;
}
#title {
	font-family: 'Italianno', cursive;
	position: relative;
	top: 0;
	right: 0;
	float:right;
	text-align: right;
	margin: 40px 50px 0;

}
#title h1 {
	font-size: 8em;
	font-weight: normal;
	text-shadow: 1px 1px 2px #999;
	margin: 0;			
}
#title p {
	margin: 0;
	vertical-align: top;
	font-size: 5em;
}
#info:hover {

}
#menu {
	background-color: transparent;
	height: 110px;
	width: 800px;
	margin: 20px auto;
}
ul {list-style-type: none;margin:0;padding:0;}
#menu ul {
/*	width: 60%;
	margin: 20px 20%;	*/
	width: 800px;
	height: 120px;
	margin: 0 auto;
}
#menu ul li {
	width: 150px;
	height: 83px;
	margin: 12px 5px 0;
	padding: 15px 0 0 0;
	float: left;
	background-image: url('../images/menulogo.png');
	background-repeat: no-repeat;
	text-align: center;	
}
#menu ul li a {
	font-family: 'Italianno', cursive;
	font-size: 2.5em;
	color: #000;
	margin: 0 auto;
	cursor: pointer;
	text-shadow: 1px 1px 2px #999;			
}
#footer {
	background-color: #88c7f2;
	background-color: rgba(51,51,51,0.7);
	height:36px;
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	box-shadow: 0 1px 10px #fff;}
#info {
	float: left;
	width: 72%;
	text-align: left;
	font-size: 0.825em;
	line-height: 10px;
	color: #ddd;
	text-shadow: 1px -1px 1px black;
	vertical-align: top;
	padding: 0 10px;
}
#social {
	float:right;
	text-align:right;
	margin:2px 10px 0;	
}
#social img {
	width: 32px;	
}