html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
}

body {
	background-color: #88c7f2;
	width: 100%;
	min-width: 768px;
	font-family: sans-serif;
-webkit-backface-visibility: hidden;
font-size:0.875em;
}
#start {
		
}
img {
	max-width: 100%;
}
ul {list-style-type: none;}

a, a:hover, a:visited {text-decoration: none;color: #000;}
strong {font-weight: bold;}
.hlt {
	color: rgb(38, 134, 199);
	font-weight: bold;
	text-align:right;
}
#wrapper {
 width: 100%;
}
#header {
	background-color: #fff;
	height: 110px;
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 36px;
	box-shadow: 0 2px 2px #666;
	-webkit-backface-visibility: hidden;
}
#header h1 {
	font-family: 'Italianno', cursive;
	font-size: 4.5em;
	margin: 20px 10px;
	line-height: 70px;
	text-shadow: 1px 1px 2px #999;			
	}
#logo {
	float: left;

}
#container {
	background-color: #ccc;
	width: 200%;
	position: fixed;
	left: 0;
	top: 100px;	

}
#main {
	background-color: #fff;
	width: 100%;
	position: absolute;
	float:left;
	z-index: -100;
	left: 0;
	top: 0;
	padding: 146px 0 0 0;

}
.lefty, .righty {
	background-color: transparent;;
	width: 50%;
	float: left;
	color: #333;	
}
.lefty {
	background-image: url(../images/logobg.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 600px;	
}
#pageCentro, #pageServizi, #pageEquipe, #pageNews, #pageContatti {
	float:left;
	padding: 25px 0;
	width: 100%;
	min-height: 750px;
	/*border-bottom: 2px dashed black;*/
	box-shadow: 0 -2px 10px #666;
	padding-top: 0;
}
#pageContatti {
	min-height: 950px;
}
#pageCentro {
	box-shadow: 0 0 0 #fff;
}
#anchorCentro, #anchorServizi, #anchorEquipe, #anchorNews, #anchorContatti{
	width: 100%;
	height: 146px;
	float: left;
}
#anchorCentro, #anchorServizi {
	background-color: rgba(136,199,242,1);
	background: rgb(136,199,242); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(136,199,242,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(136,199,242,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */	
}
#anchorEquipe {
	background-color: rgba(0,175,175,1);
	background: rgb(0,175,175); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(0,175,175,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,175,175,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */	
}
#anchorNews {
	background-color: rgba(148,99,158,1);
	background: rgb(148,99,158); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(148,99,158,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(148,99,158,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */		
}
#anchorContatti {
	background-color: rgba(171,194,193,1);
	background: rgb(171,194,193); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(171,194,193,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(171,194,193,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */	
}
#pageCentro {
	background-color: rgba(136,199,242,1);
	background: rgb(136,199,242); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(136,199,242,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(136,199,242,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(136,199,242,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	
}
.lefty p, .righty p, .lefty ul li, .righty ul li {
	color: #333;
	line-height: 32px;
	text-align: justify;
	/*text-shadow: 1px -1px 3px #000;*/
/*	text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff,0px 1px 0 #fff, 0px -1px 0 #fff;	*/
}
#pageServizi {
	background-color: rgba(0,175,175,1);
	background: rgb(0,175,175); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(0,175,175,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,175,175,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,175,175,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
#pageEquipe {
	background-color: rgba(148,99,158,1);
	background: rgb(148,99,158); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(148,99,158,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(148,99,158,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(148,99,158,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */	
}
#pageNews {
	background-color: rgba(171,194,193,1);
	background: rgb(171,194,193); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(171,194,193,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(171,194,193,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(171,194,193,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
#pageContatti {
	background-color: rgba(118,139,205,1);
	background: rgb(118,139,205); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(118,139,205,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(118,139,205,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(118,139,205,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(118,139,205,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(118,139,205,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(118,139,205,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c7f2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
#righty {
	background-color: transparent;
}
.whitebox {
	background-color: #fff;
	width: 85%;
	margin: 30px 6%;
	padding: 0; 
	box-shadow: 1px 1px 5px #000;
	float:left;
}
.titleServ {
	color: rgb(38, 134, 199);
	font-weight: bold;
	font-size: 1.25em;
	margin: 20px 0;
}
#whiteboxserv {
	min-height: 500px;	
	}
.hiddenbox {
	width: 85%;
	margin: 30px 6%;
	padding: 0; 
	float:left;
}
.italianno_title {
	font-family: 'Italianno', cursive;
	font-size: 3em!important;
	text-shadow: 0 2px 2px #fff;	
}
.titlerow {
	width: 85%;
	margin: 30px 6%;
	padding: 0;
	float: left;
	}
.titlerow h3 {
	font-family: 'Italianno', cursive;
	font-size: 4em;
	color: #000;
	text-align: right;	
	text-shadow: 2px 2px 2px #999;		
}
#menu {
	background-color: transparent;
	height: 110px;
	width: 800px;
	float: right;
	text-align: center;

}
#menu ul {
/*	width: 60%;
	margin: 20px 20%;	*/
	width: 800px;
	height: 120px;
	margin: 0 auto;
}
#menu ul li {
	width: 150px;
	height: 83px;
	margin: 12px 5px 0;
	padding: 15px 0 0 0;
	float: left;
	background-image: url('../images/menulogo.png');
	background-repeat: no-repeat;
	text-align: center;	
}
#menu ul li a {
	font-family: 'Italianno', cursive;
	font-size: 2.5em;
	color: #000;
	margin: 0 auto;
	cursor: pointer;
	text-shadow: 1px 1px 2px #999;			
}
.dTable {
	display: table;
	width: 80%;
	text-align: center;
	margin-left: 10%;
}
.dRow {
	display: table-row;
	width: 100%;
	border: 1px;
}
.dCell {
	display: table-cell;
	width: 50%;
	padding: 10px 0;
}
.dCell:hover {
	text-shadow: 0 0 1px #888;	
}
.pTable {
	
	width: 80%;
	text-align: center;
	margin-left: 10%;
}
.pCell {
	float: left;
	width: 50%;
	padding: 10px 0;
}
.pCell:hover {
	text-shadow: 0 0 1px #888;	
}
.name {
	padding: 2px;
	font-size: 1.125em;
	
}
.role {
	padding: 2px;	
	font-size: 0.875em;
}
.double {
	width: 100%;	
}
.pTop {
	text-align: center;
	height: 30px;
	padding: 25px 15px 0;
}
.pTop h2 {
	font-size: 1.25em;	
}
.pTopL, .pTopR {
	width: 50%;
	color: rgb(38, 134, 199);
	font-weight: bold;
	float: left;
}
.pTopL {
	text-align: left;	
}
.pTopR {
	text-align: right;	
}
.pBottom {
	width: 96%;
	float: left;
	padding: 20px 2%;
}
.pBottom h3{
	color: rgb(38, 134, 199);
	font-size: 1.125em;
	font-weight: bold;	
}
.pDesc {
	float: left;
	text-align: left;
	width: 100%;
}
.pDesc p {
	margin: 0;
	text-align: left;
}
.pDesc img {
	vertical-align: top;
	float: right;
	margin: 13px 0 10px 10px;
	width: 250px;	
}
.mycontent > ul {
	list-style-type: circle;
	margin-left: 30px;
	text-align: left;	
}
.mycontent > ol {
	list-style-type: decimal;
	margin-left: 30px;
	text-align: left;	
}
.pPhoto {
	float: left;
	width: 35%;
	text-align: center;

}
.pPhoto img {
	margin-bottom: 20px;	
}
.newsContainer {
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%,rgba(255,255,255,0) 50%);
	padding: 15px;
	margin: 0 0 20px;	
}
.itemTitle{
	color: rgb(38,134,199);
	font-size: 1.5em;
}
.itemDate {
	font-size: 0.875em;
}
.itemBody p {

}
#credits {
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
}
#footer {
	background-color: #88c7f2;
	background-color: #333;
	height:36px;
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	box-shadow: 0 -2px 10px #666;
	-webkit-backface-visibility: hidden;
}
#info {
	float: left;
	width: 72%;
	text-align: left;
	font-size: 0.825em;
	line-height: 36px;
	color: #ddd;
	text-shadow: 1px -1px 1px black;
	vertical-align: top;
	padding: 0 10px;
}
#social {
	float:right;
	text-align:right;
	margin:2px 10px 0;	
}
#social img {
	width: 32px;	
}
.newsletter_form {
	width: 60%;
	margin: 0 20%;
	padding: 20px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.5)
}
.mimi_field {
	float: left;	
}
.mimi_field input {
	height: 25px;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 0 5px;
	margin: 0 5px;	
}
#webform_submit_button {float:left;}
@media screen and (max-width: 1279px) {
#header {height: 110px;min-width: 768px;}
#header h1{font-size: 2.5em;margin:0;line-height: 110px;}
#main {padding-top: 146px;}
#menu {width: 560px;margin: 0 auto;float:right;height: 110px;}
#menu ul {width:560px;margin-right: 10px;height:110px;}
#logo{width:168px;margin: 0 20px 0 10px;float:left;height:110px;}
#menu ul li {margin: 20px 1px 17px;background-image: url('../images/menulogo_small.png');width: 110px;height: 61px;padding-top: 12px;}
#menu ul li a {font-size:2em;}
#footer {min-width:768px;}
}
/* OTHER FIXES (LIGHTBOX) */

.lb-image, #map_canvas img {
max-width: inherit;
}
#map_canvas {
    color: #5c5b5a;
    text-shadow: none;
    text-align: left;
    
}
#map_canvas p, #map_canvas h1 {
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    text-transform: none;
}
.gm-style-iw {
    height:auto!important;
    padding: 5px 0;
}