<div class="hiddenbox">
<h2 class="titleServ">Servizio di Doposcuola "SERENA-MENTE"</h2>
<p>nato grazie alla collaborazione con la Cooperativa Anastasis <strong>per ragazzi (8-18 anni) con Disturbo Specifico dell’apprendimento</strong>. </p>

<ul class="pList">

<li>FORMAZIONE per Operatori, insegnanti e alle famiglie.</li>
<li>PROGETTAZIONE mirata interventi di formazione on demand</li>

</ul>
		
</div>