<div class="hiddenbox">
<h2 class="titleServ">Area della Prevenzione</h2>
<ul class="pList">
	<li>Gruppo primi passi (0-3 anni) genitori e figli</li>
	<li>Progetti di screening nelle scuole primarie</li>
	<li>Laboratori Metafonologici per potenziamento del linguaggio</li>
	<li>Laboratori grafo-motori</li>
</ul>	
</div>