<div class="hiddenbox">
<h2 class="titleServ">Area della Riabilitazione</h2>
<p>
<strong>Logopedista</strong>
</p>
<ul class="pList">

<li>Riabilitazione dei <strong>disturbi di linguaggio</strong></li>
<li>Trattamenti per <strong>bambini late talking</strong> (parlatori tardivi) </li>
<li>Riabilitazione dei <strong>disturbi della voce</strong></li> 
<li>Terapia <strong>miofunzionale</strong> per le deglutizioni atipiche</li>
<li>Riabilitazione della <strong>balbuzie</strong> per bambini,adolescenti ed adulti</li> 
<li>Terapie per <strong>patologie neurologiche</strong></li>
</ul>
<p><strong>Psicomotricità Funzionale</strong></p>

<ul class="pList">

<li>Trattamento difficoltà legate alla <strong>coordinazione-motoria</strong> fine e globale: <strong>disgrafia</strong>, disprassia ritardi psicomotori</li>

</ul>
<p><strong>Terapista della Neuro e Psicomotricità Età Evolutiva</strong></p>

<ul class="pList">

<li>Riabilitazione  nei disturbi di attenzione, ritardi globali, disturbi pervasivi dello sviluppo</li>

</ul>	
<p><strong>Attività di Supporto</strong></p>

<ul class="pList">

<li>Consulenze psicologiche individuali e di coppia</li>
<li>Terapie familiari</li>
<li>Percorsi di sostegno alla <strong>genitorialità</strong></li>
<li>Consulenze psicologiche rivolte al bambino e all 'adolescente</li>
<li>Percorsi di <strong>educazione alimentare</strong></li>
<li>Consulenze <strong>educative</strong></li>
<li>Percorsi di <strong>pilates posturale</strong></li>
<li><strong>Mediazioni familiari</strong></li>

</ul>
<p><strong>Servizio di Doposcuola "SERENA-MENTE"</strong></p>
<p>nato grazie alla collaborazione con la Cooperativa Anastasis <strong>per ragazzi (8-18 anni) con Disturbo Specifico dell’apprendimento</strong>. </p>

<ul class="pList">

<li>FORMAZIONE per Operatori, insegnanti e alle famiglie.</li>
<li>PROGETTAZIONE mirata interventi di formazione on demand</li>

</ul>
</div>