<div class="hiddenbox">
<h2 class="titleServ">Area della Valutazione</h2>
<p>
<strong>Centro Dedalo è associato alla rete <a href="http://www.sosdislessia.it/" target="_blank" title="Sos Dislessia">SOS DISLESSIA</a></strong><br clear="all">
<a href="http://www.sosdislessia.it/" target="_blank" title="Sos Dislessia"><img src="images/sosdis.png" alt="Logo Sos Dislessia"></a>
</p>
<ul class="pList">
<li>Diagnosi di ritardi di linguaggio e disturbi specifici ed aspecifici</li>
<li>Diagnosi e prevenzione dei disturbi di fluenza (balbuzie)</li>
<li>Valutazioni di patologie otorinolaringoiatriche ed esami audiometrici</li>
<li>Valutazioni neuropsichiatriche</li> 
<li>Valutazioni neuropsicologiche</li>
<li>Valutazioni psicodiagnostiche</li>
<li>Valutazioni psicomotorie e neuropsicomotorie</li>
<li>Valutazioni posturali</li>
</ul>	
</div>