html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

img {
  max-width: 100%;
  border: 0;
}

html, body {
  background-color: #728192;
  background-image: url(../img/bg-words.png), url(../img/bg-cover.jpg);
  background-position: bottom, center;
  background-repeat: no-repeat, no-repeat;
  color: #fff;
  -webkit-background-size: 100%, cover;
  -moz-background-size: 100%, cover;
  background-size: 100%, cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.logo {
  width: 40%;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 15px;
}

h1 {
  font-family: "Gilda Display", serif;
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: "Gilda Display", serif;
  font-size: 2.5em;
  text-align: center;
}

#countdown_dashboard {
  margin: 50px auto;
  width: 650px;
  height: 120px;
  text-align: center;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

.dashContainer {
  width: 650px;
  height: 120px;
}

.dash {
  width: 110px;
  height: 100px;
  float: left;
  margin-left: 20px;
  position: relative;
}
.dash .digit {
  font-size: 55pt;
  font-weight: bold;
  float: left;
  width: 44px;
  text-align: center;
  position: relative;
  color: #fff;
}
.dash .dash_title {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  bottom: 0px;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 2px;
}
