html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cap-bot span{position: absolute;
              visibility: hidden;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
.productItem3{text-align: center;}
.productItem3 a{color:#728192;}
@media all and (min-width:0px) and (max-width:1024px){
    .descrizione p{font-size: 8px;}
    .descrizione h2{font-size: 12px;}
    .prodottititolo{}    
    .cap-bot span{position: absolute;
                  visibility: visible;
                  top:50%;
                  left:50%;
                  color:white;
                  font-size:20px;
    }
}

@media all and (min-width:1025px){
  .descrizione p{font-size: 10px;}
    .descrizione h2{font-size: 14px;}
}
@media (min-width: 768px) {
    .productCaption2 h3{font-size: 19px !important;}
    
    .open .dropdown-menu {
        background-color: #728192;
        background-color: rgba(114, 129, 146, 0.8);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top: 5px;
    }
    .open .dropdown-menu > li > a {
        color: white !important;
    }
    .open .dropdown-menu > li > a:hover {
        background-color: rgba(114, 129, 146, 0.8);
    }

    .nav-justified {
        width: 100% !important;
    }

    .navbar-default .navbar-nav li a {
        padding: 10px 5px;
        font-size: 0.875em;
    }

    .navbar-brand {
        display: none;
    }
}
@media (min-width: 992px) {
    .navbar-default .navbar-nav li a {
        padding: 10px 15px;
        font-size: 1em;
    }
}
img {
    max-width: 100%;
    border: 0;
}

html, body {
    color: #728192;
    font-family: "Quattrocento", serif;
    /*@include background-size(100%, cover);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

main {
    overflow: hidden;
    margin-bottom: 30px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -64px;
}

.push {
    height: 64px;
}

.logo {
    width: 40%;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 15px;
}

h1 {
    font-family: "Gilda Display", serif;
    font-size: 2.5em;
    text-align: center;
    margin: 24px 0;
}

h2 {
    font-family: "Gilda Display", serif;
    font-size: 2em;
    text-align: left;
}

p {
    font-family: "Gilda Display", serif;
    line-height: 1.5em;
    font-size: 0.875em;
}

.productItem ol, .productItem2 ol {
    list-style: decimal;
    padding: 0 1em 10px 2.5em;
}
.productItem ol li, .productItem2 ol li {
    font-size: 0.875em;
    line-height: 1.25em;
    font-family: "Gilda Display", serif;
    margin-bottom: 5px;
}
.productItem ul, .productItem2 ul {
    list-style: disc;
    padding: 0 1em 10px 2.5em;
}
.productItem ul li, .productItem2 ul li {
    font-size: 0.875em;
    line-height: 1.25em;
    font-family: "Gilda Display", serif;
    margin-bottom: 5px;
}

/* NAVBAR */
.navbar {
    min-height: 42px;
}

.navbar-default {
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border-color: #728192;
    border-left: none;
    border-right: none;
}
.navbar-default .navbar-collapse {
    max-height: none;
}
.navbar-default .nav-justified {
    width: auto;
}
.navbar-default .navbar-nav {
    /*margin: 5px 0;*/
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #728192;
}
.navbar-default .navbar-nav li {
    float: none;
}
.navbar-default .navbar-nav li a {
    color: #728192;
    font-size: 0.875em;
}
.navbar-default .navbar-brand {
    color: #728192;
    font-weight: bold;
}

.caret {
    vertical-align: super;
}

/* FINE NAVBAR */
#carouselHome {
    margin-bottom: 15px;
}

.socialBox {
    border: 3px solid #728192;
    float: left;
    width: 100%;
    padding: 10px 0;
    height: 74px;
}

.vb {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.centerize {
    text-align: center;
}

.title {
    font-family: "Mr De Haviland", cursive;
    color: #728192;
    font-size: 3em;
}

/* PAGINE */
.productItem:nth-child(3n+1) {
    clear: both;
}

.productItem2:nth-child(3n) {
    clear: both;
}

.productCaption {
    border: 1px solid #728192;
    margin: 10px 0 15px 0;
}
.productCaption2{margin:10px 0 15px 0;}
.productCaption h2 {
    font-family: "Quattrocento", serif;
    color: #728192;
    font-size: 1.25em;
    padding: 10px 0.5em;
}
.productCaption p {
    font-size: 0.875em;
    line-height: 1.25em;
    font-family: "Gilda Display", serif;
    padding: 10px 1em;
}

.topMargin0 {
    margin-top: 0;
}

.basicCaption {
    margin: 10px 0 15px 0;
}
.basicCaption p {
    font-family: "Quattrocento", serif;
    font-size: 0.875em;
    line-height: 1.25em;
}

#map_canvas img {
    max-width: inherit;
}

.firstHeading {
    margin-top: 5px;
    text-align: left;
}

.gm-style-iw {
    width: 220px;
    height: 80px;
}
.gm-style-iw #content {
    height: 100%;
    overflow: hidden;
}

/* GALLERY EFFECT */
figure {
    display: block;
    position: relative;
    overflow: hidden;
}

.pulsante:active, figure:hover figcaption {
    opacity: 1;
}
.pulsante:active, figure:hover:before {
    opacity: 0;
}

.cap-bot:before {
    margin-top: -300px;
    left: 0px;
}
.cap-bot figcaption {
    left: 0;
    bottom: -300px;
}
.pulsante:active, .cap-bot:hover figcaption {
    bottom: 0;
    left: 0;
}


figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #333;
    background: rgba(51, 51, 51, 0.75);
    color: white;
    padding-top: 10%;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.descrizione p{padding-left: 7%; padding-right: 7%; margin-top: 5%;}

/* GALLERY EFFECT END */
/* OFFERTE */
.singleOffer {
    margin: 5px 0;
    border: 0px solid #728192;
    padding: 0 0;
    float: left;
}

.titleOffer {
    margin: 0 0 5px 0;
}

.dataOffer {
    margin: 0 0 5px 0;
    font-size: 0.75em;
}

.textOffer {
    margin: 15px 0 0 0;
}

.pagination-container {
    text-align: center;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #728192;
    border-color: #728192;
}

.pagination > li > a, .pagination > li > span {
    color: #728192;
}

/* FOOTER */
footer {
    background-color: #728192;
    color: #fff;
}

.innerFooter {
    margin: 20px 0 20px 0;
}
.innerFooter p {
    font-family: "Quattrocento", serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
}
.innerFooter p a {
    color: #fff;
}
.innerFooter p a:hover, .innerFooter p a:visited {
    color: #ccc;
}

.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel.carousel-fade .active.item {
    opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}

#sliderfooter {
    margin-top: 10px;
}

#marginetop {
    margin-top: 30px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav li a {
        font-size: 10px;
        padding: 10px 5px;
    }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .navbar-default .navbar-nav li a {
        font-size: 12px;
        padding: 10px 5px;
    }
}
