html, body {
    background-color: #fff;
    color: #000;	
}
a {
    color: #e6007e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #888;
}
a > img:hover {
    opacity: 0.8;
}
#wrapper {
    width: 960px;
    margin: 25px auto;
    box-shadow: 0 0 5px #777;
}
#container {
    background-color: #95c11f;
    background-image: url(prebg.png);
    background-repeat: no-repeat;
    width:960px;
    height: 623px;
    margin: 0 auto 0;
}
#fb {
    position: relative;
    float:left;
    top: 150px;
    left: 666px;
}
#yt {
    position: relative;
    float:left;
    top: 285px;
    left: 538px;
}
#footer {
    background-color: #fff;
    /*background-image: url(foot.png);
    background-repeat: no-repeat;
    background-position: 99% 100%;*/
    height: 24px;
    width: 960px;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px 0 0;
}
#footRight {
    float: left;
    width: 479px;
    border-left: 1px dotted #e6007e;
}
#footLeft {
    float: left;
    width: 480px;
}
#footLeft > p {
    color: #e6007e;
    text-align: right;
    margin: 0;
    padding: 0 5px;
}
#footRight > p {
    color: #e6007e;
    text-align: left;
    margin: 0;
    padding: 0 5px;
}