@import "compass/reset";
$experimental-support-for-opera:false;
$experimental-support-for-khtml:false;
@import "compass/css3";
html, body {
	width: 100%;
}
h1 {
	height: 150px;
	color: red;
	font-size: 100%;
	font-weight: 400;
	background-color: navy;
	@include box-shadow(1px 1px 10px #888);
	@include border-radius(5px);
	&.selected {
		color: red;
	}
}
