html, body {height: 100%;}
body {
    background-color: #fff;
    background-image: url('../images/patternbg.png');
    background-repeat: repeat;
    font-family: 'Raleway', sans-serif;
    color: #7861a7;
}
a, a:visited {
    color: #aa9ac9;
}
a:hover {
    color: #fff;
}
hr {
    width:50%;
    margin:0 auto;
}
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -72px;
}

.header {
    
	margin-bottom: 0;
    padding-top: 10px;
}
.container {
	max-width: 960px;
}
#logo {
	text-align: center;
	vertical-align: middle;
}
.navcontainer {
	max-width: 480px;
}
.nav li a {
	font-weight: bold;
}
.navbar {
	margin-bottom:0;
}
#social{
	height:32px;
	text-align: right;
}
.socialicons {
	vertical-align: top;
	margin: 0 5px;
}
.main {
    margin-bottom: 25px;
}
.shadowed {
	margin-top: 10px;
	margin-bottom: 50px;
}
.shadowed p {
	text-align: justify;
}
/*.carouselImageHeight img {
  width: auto;
  max-height: 275px;
  margin: 0 auto;
}*/
.newsdetail {
    color: #726094;
    font-size:12px;
    font-weight: bold;
    margin-bottom: 10px;

}
.homenews img {
    display: none;
}
.imageNews {
    margin-bottom: 15px;
}
.imageTexted {
    float:left;
    margin: 0 10px 10px 0;

}
.ribbon {
	position: relative;
	left: 0;
	float:left;
	width: 100%;
}
.ribbon h2 {
    background-color: #aa9ac9;
    float: left;
    color: #fff;
    font-weight: 200;
    padding: 0 25px 0 15px;
    box-shadow: 2px 2px 5px #666;
    position: relative;
    left: -10px;
    font-size: 24px;
    min-width: 150px;
}

.boxsh {
    box-shadow: 2px 2px 5px #999;
    background-color: #e7dcf9;
    margin-top: 25px;
    padding: 25px 10px;
}
.cake {
    background-image: url('../images/lilcakeo.png');
    background-position: 99% 98%;
    background-repeat: no-repeat;
}
.boxsh h4, .boxsh p {
    
    color: #7861a7;
    
}
.ribbon_l{
	width: 16px;
	height: 44px;
	background-image: url(../images/ribbon_l.png);
	background-repeat: no-repeat;
	float: left;
}
.ribbon_m{
	
	height: 44px;
	background-image: url(../images/ribbon_m.png);
	background-repeat: x-repeat;
	float: left;
	color: #fff;
}
.ribbon_r{
	width: 16px;
	height: 44px;
	background-image: url(../images/ribbon_r.png);
	background-repeat: no-repeat;
	float: left;
}
.ribbon_m h2 {
	margin: 5px 25px 3px 10px;
	font-size: 24px;
	line-height: 24px;
	
}
.lastrow {
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.newstitle {
	color: #aa9ac9;
        margin-bottom: 0;
}
.newsbody {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.justify {
	text-align: justify;
}
.firstHeading {
    color: #aa9ac9;
}
.push {
	height: 72px;
}
.footer {
	height:72px;
	background-color:#aa9ac9;
	margin:	0  0 0;
}
.credit {
	color: white;
	font-size: 12px;
	line-height: 14px;
	margin:	14px auto;
	text-align: center;
}
.credit a {
	color: #fff;
}
#map iframe {
  max-width: 100%;
  height:	50%;
}
/* #Amethyst Flat Button
==================================================*/
.btn-lille.active{color:rgba(255, 255, 255, 0.75);}
.btn-lille{color:#ffffff!important;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#957bc7;background-image:-moz-linear-gradient(top, #957bc7, #aa9ac9);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#957bc7), to(#aa9ac9));background-image:-webkit-linear-gradient(top, #957bc7, #aa9ac9);background-image:-o-linear-gradient(top, #957bc7, #aa9ac9);background-image:linear-gradient(to bottom, #957bc7, #aa9ac9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff957bc7', endColorstr='#ffaa9ac9', GradientType=0);border-color:#aa9ac9 #aa9ac9 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#aa9ac9;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-lille:hover,.btn-lille:focus,.btn-lille:active,.btn-lille.active,.btn-lille.disabled,.btn-lille[disabled]{color:#ffffff;background-color:#aa9ac9;*background-color:#df8505;}
.btn-lille:active,.btn-lille.active{background-color:#c67605 \9;}
 /* COLLAGE FOR THE GALLERY */
 
    .Collage{

        /*This is where you set the padding you want between the images*/
        padding:10px;
        margin: 0 0 40px;

        }
    .Collage img{
        margin:0;
        padding:0;
        display:inline-block;
        vertical-align:bottom;
        opacity:1;

        /*This is where you set the border you want for the image*/
        border:6px solid #FFF;
        }


    /* In this example, this is the main item being resized */
    .Image_Wrapper{
        /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
        opacity:0;
        -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        }

    .Caption{
        font-size:14px;
        font-weight:normal;
        font-family:arial;
        }
        .Caption_Content{
            /* padding:10px; */
            color:#FFF;
            padding:20px;
            }
.pagination {
	text-align: center;
	margin: 10px auto;
}
.pagination a {
	background-color: #aa9ac9;
	color: white;
	padding: 2px 4px;
	margin: 4px;
    border-bottom: 1px solid #7861a7;
}
.current {
    border-bottom:1px solid #ffffff;
}
.current, .disabled {
	color: #ffffff;
	background-color: #7861a7;
	padding: 2px 4px;
	margin: 4px;
}
.disabled {
	opacity: 0.3;
}
.stretch {
    width:100%;
}
#fb-root { display: none; }
.fb-like-box { background: transparent; margin: 0; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    /*width: 100% !important;*/
}
@media (min-width:768px) and (max-width:979px){
    .form-horizontal .control-label {
        float:none;
        width:auto;
        padding-top:0;
        text-align:left;
    }
    .form-horizontal .controls {
        margin-left:0;
    }
    input, textarea, .uneditable-input {
        width: 90%;
    }
}
